:host {
    --button-option-border-radius: 8px;
}

.previewMode{
    .cds-reply-button-element{
        justify-content: end;
        padding: 0px 15px;
    }
    &.buttons-response{
        padding: 0px 0px 0px 0px;
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: end;

    }

}

/* ./ Preview mode 
/* ****************************** */


/** box-textarea **/

.buttons-response{
    justify-content: space-around;
}


cds-action-reply-voice-button.error ::ng-deep{
    .button-reply{
        border: 1px solid var(--empty-element-property);
    }
}