:host {
    --background-color: var(--blu-light-01);
    --column-color: var(--blu-02);
    --text-color: var(--blu);

    --content-background: rgb(244, 246, 251, 0.4);
    --base-radius: 8px
}

.cds-attributes {
    // max-width: 400px;
    .header__center {
        font-size: 1.1em;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.1em;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        color: var(--text-color);
        max-width: 400px;
        width: 100%;
    }
      
    .header__center::before,
    .header__center::after {
        content: "";
        display: block;
        height: 1px;
        background-color: currentColor;
    }
    
    .key-value-form-column {
        font-size: 1em;
        width: 50%;
        color: var(--column-color);
        text-align: center;
    }
    
    .auto-suggest-group {
        display: flex;
        // max-width: 400px;
        // width: 100%;
    }
    

    /**** PANEL *****/
    ::ng-deep .mat-expansion-indicator:after {
        color: var(--text-color);
    }
    mat-expansion-panel {
        box-shadow: none;
        background-color: var(--content-background);
        border: 1px solid var(--gray-light-02);
        overflow: visible;
        &.open-block {
            pointer-events: none;
        }
        mat-expansion-panel-header {
            height: 40px;
        }
        &.mat-expanded {
            ::ng-deep .mat-expansion-panel-body {
                opacity: 1;
            }
        }
        ::ng-deep .mat-expansion-panel-body {
            opacity: 0;
        }
    }


    cds-text#text.sx-input ::ng-deep {
        width: calc(50% - 2px);
        input{
            border: 1px solid #f2f2f2;
            cursor: default;
            display: flex;
            outline: none;
            overflow: hidden;
            position: relative;
            width: 150px;
            height: 26px;
            border-radius: var(--base-radius) 0 0 var(--base-radius);
            background: #f2f2f2;
            font-weight: 500;
            font-size: 14px;
            margin: 3px 0;
            margin-right: 2px;
            padding: 0 10px 0 10px;
            width: 100%;
            color: #1e293b;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &.autocompleteOpen{
                border-radius: var(--base-radius) 0 0 0;
            }
        }       
    }
    
    
    .dx-input {
        border: 0;
        background: #fff;
        margin: 3px 0;
        font-size: 14px;
        height: 28px;
        width: 50%;
        padding: 0 10px;
        border-radius: 0 var(--base-radius) var(--base-radius) 0;
        color: var(--gray);
        border: 1px solid var(--blu-light-02);
        width: calc(50% - 2px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        
    }
    
    .dx-input:focus, .sx-input:focus {
        border-color: var(--blu);
    }



    .value-wrp {
        width: 50%;
    }

    cds-textarea#value.value ::ng-deep{
        display: flex;
        width: calc(50% - 2px);
        textarea {
            padding: 0 0 0 10px !important;
            border-radius: 0 var(--base-radius) var(--base-radius) 0;
        }
    }

    cds-textarea#assignTo.assigned ::ng-deep {
        display: flex;
        textarea {
            background: transparent;
            padding: 0!important;
        }
    }


    cds-textarea#assignTo ::ng-deep ,
    cds-textarea#value ::ng-deep  {
        display: flex;
        .editor-utils {
            display: flex;
            align-items: center;
            gap: 5px;
            position: absolute;
            bottom: -8px;
            right: 4px;
            z-index: 1;
        }
        textarea {
            max-height: 41px;
            cursor: default;
            display: flex;
            position: relative;
            border-radius: var(--base-radius) 0 0 var(--base-radius);
            font-weight: 500;
            font-size: 14px;
            margin: 3px 0px 3px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 0!important;
            resize: none!important;
        }

        .text-editor-wrapper {
            position: relative;
            .tag {
                inset: 0 0px 0 0;
                border-radius: var(--base-radius) 0 0 var(--base-radius);
                margin: 3px 0;
                padding: 3px 0;
                justify-content: initial;
                max-width: 100%;
                .close {
                    left: -7px;
                }
            }
        }
    }
}

::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible {
    width: calc(100% - 2px);
    position: relative;
    top: -2px;
    .mat-option{
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        padding: 0 10px 0 10px;
        width: 100%;
        color: #1e293b;
    }
}