@import "./src/assets/sass/cds/_variables.scss";


:host{
    --backgroundColor: var(--color-white-hex);
    --textColor: #{var(--ds-ink)};
    --hoverBackgroundColor: #{var(--ds-ink)};
    --hoverTextColor: var(--color-white-hex);
    --buttonFontSize: 0.7em;
    --max-width: #{var(--button-max-width-base)};
}
.previewMode{

    .content-botton-reply {
        height: unset;
    }

    .button-reply{
        min-width: var(--button-min-width-preview);
        max-width: var(--button-max-width-base);
        padding: 2px 10px;
        // max-width: calc(100% - 20px);
        // margin: auto;
        // background: transparent;

        // &.connected{
        //     background: #ffff;
        //     border-color: #ffff;
        // }
    }
}

