@import "./src/assets/sass/cds/_variables.scss";


$text-color: $blu-light-02;
$background-color: transparent;
$text-color-hover: white;
$background-color-hover: $blu;
$text-color-active: $blu;
$background-color-active: $icon-active-background;
$icon-color-active: $blu;

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #728087;
    padding: 6px;
}

.list-title{
    font-size: 13px;
}

.search-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-top: 25px;
        padding-left: 10px;

        .custom-input {
            background-color: transparent;
            border-radius: 6px;
            border: none;
            color: $text-color;
            text-align: left;

            &::placeholder {
                color: $text-color;
                font-weight: 300;
                opacity: 1; /* Firefox */
              }
        }

        .input-box-search-input-wpr{
            width: 100%;
        }
}



// .intents-list {
//     .topic-internal {

//     }
// }




.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 190px;
}

.rocket_launch {
    font-size: 20px;
    font-weight: 600;
    span {
        font-size: 20px;
        position: relative;
        top: 2px;
        left: 3px;
    }
}

.undo {
    font-size: 20px;
    font-weight: 600;
}

.title-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    justify-content: flex-end;
    padding: 10px 0px;

    .title {
        color: $text-color;
        font-weight: 500;
        font-size: 14px;
    }

    .new-intent-button {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        align-items: center;
        //border: dashed 1px;
        padding: 0px 14px 0px 10px;
        border-radius: 16px;
        cursor: pointer;

        .plus-icon {
            font-size: 16px;
            color: $text-color;
        }

        .button-text {
            margin-bottom: 0px;
            color: $text-color;
        }
    }

    .new-intent-button:hover {
        background-color: $background-color-hover;
        //border: 1px solid white;

        .plus-icon {
            font-size: 16px;
            color: $text-color
        }

        .button-text {
            color: $text-color;
        }
    }
}


.icon-container {
    width: 38px;
    display: flex;
    height: 100%;
    align-items: center;
    color: $blu-light-02;
}

.custom-divider {
    background-color: white;
    width: 90%;
    height: 1px;
    box-shadow: 0px 0px 20px #334754c9;
    margin: 6px 0px 14px 0px;
}

.intent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 6px;
    min-height: 38px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s;
    align-items: flex-start;
    height: 20px;
    padding-left: 10px;

    .item-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        // margin: 2px 0px;
    }

    // .item-box-default {}

    .delete-box {
        display: none;
        margin-right: 4px;
        position: absolute;
        right: 0px;
    }
    
    .intent-display-name {
        color: $text-color;
        font-weight: 300;
        margin-bottom: 0px;
        font-size: 14px;
        overflow: hidden;
        max-width: 170px;
        // max-width: 150px; //GAB
    }

    .icon-list {
        display: flex;
        flex-direction: row;
        gap: 3px;

        .ai-icon,
        .webhook-icon,
        .list-alt-icon,
        .bolt-icon {
            font-size: 12px;
        }

        .actions {
            display: flex;
            align-items: center;
        }

        .action-counter {
            font-size: 10px;
            line-height: 12px;
            padding: 0px;
            margin: 0px;
        }
    }
}

.intent:hover {
    // background-color: #d2d2d2;
    background-color: $blu;

    .delete-box {
        display: block;

        .delete-icon {
            font-size: 20px;
        }
    }

    .delete-box:hover {
        .delete-icon {
            font-size: 20px;
            // color: $color-red-hex;
            color: #fff;
            transition: 0.3s;
        }
    }

    .icon-container{
        color: $text-color-hover !important;

        img{
            filter: brightness(0) saturate(100%) invert(78%) sepia(100%) saturate(1%) hue-rotate(122deg) brightness(107%) contrast(101%);
        }
    }

    .intent-display-name {
        color: $text-color-hover
    }

    .ai-icon,
    .webhook-icon,
    .list-alt-icon,
    .bolt-icon,
    .action-counter{
        color: $gray-light-01;
    }

}

.active {
    // background-color: $background-color-active !important;
    // border-right: solid 5px $icon-color-active;
    // border-radius: 6px 10px 10px 6px;

    .intent-display-name {
        // color: #333;
        color: $text-color-active;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .icon-container{
        color: $icon-color-active !important;
    }

}



.add-start {
    width: 100%;
    border: dashed 1px grey;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    border-radius: 10px;
}