<div class="content">

    <div class="cds-title list-title">
        {{ 'Blocks' | translate }}
    </div>

    <div class="intents-list">
        <div class="topic-internal">

            <div class="intents">
                <div *ngFor="let intent of internalIntents; let id = index" id="intent_{{id}}" class="intent"
                    [ngClass]="{'active': idSelectedIntent === intent.intent_id}" 
                    [value]="intent.intent_id"
                    (click)="onSelectIntent(intent)">

                    <div class="icon-container">
                        <span class="material-icons">{{onGetIconForName(intent)}}</span>
                    </div>

                    <div class="item-box" *ngIf="IS_OPEN">
                        <div>
                            <p class="intent-display-name ellips"><span *ngIf="intent.agents_available" class="agents-available material-icons">boy</span>{{intent.intent_display_name}}</p>
                            <div class="icon-list">

                                <p *ngIf="intent.questions" class="ai-icon icon">Ai</p>

                                <!-- <span *ngIf="!intent.webhook_enabled" class="material-icons icon webhook-icon">webhook</span> -->
                                <mat-icon  *ngIf="intent.webhook_enabled" class="icon" svgIcon="webhook" aria-hidden="true"></mat-icon>

                                <!-- <span *ngIf="!intent.form" class="material-icons icon list-alt-icon">list_alt</span> -->
                                <mat-icon  *ngIf="intent.form" class="icon" svgIcon="list_alt" aria-hidden="true"></mat-icon>



                                <div *ngIf="intent?.actions && intent?.actions?.length > 0" class="actions">
                                    <!-- <span class="material-icons icon bolt-icon">bolt</span> -->
                                    <mat-icon class="icon" svgIcon="bolt" aria-hidden="true"></mat-icon>
                                    <p class="action-counter icon">{{ intent.actions?.length }}</p>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="delete-box" *ngIf="selectedIntent !== null">
                            <span class="material-icons delete-icon"
                                (click)="$event.stopPropagation();onDeleteIntent(intent)">delete</span>
                        </div> -->
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="search-box">
        <div class="icon-container">
            <mat-icon class="icon" svgIcon="search" aria-hidden="true"></mat-icon>
            <!-- <span class="material-icons">search</span> -->
        </div>
        <div class="input-box-search-input-wpr">
            <input class="custom-input ellips" placeholder="{{ 'CDSSetting.SearchABlock' | translate }}"
                (input)="onLiveSearch($event.target.value);">
        </div>
    </div>


    <div style="width: 100%; display: flex; justify-content: center;">
        <div class="custom-divider-search"></div>
    </div>

    <div class="intents-list">

        <div class="intents" id="intents-list">
            <div *ngFor="let intent of filteredIntents; let id = index" id="intent_{{id}}" class="intent"
                [ngClass]="{'active': idSelectedIntent === intent.intent_id}"
                value="intent.intent_id" (click)="onSelectIntent(intent)">
                
                <div class="icon-container">
                    <mat-icon class="icon" [class.active-icon]="idSelectedIntent === intent.intent_id" svgIcon="block" aria-hidden="true"></mat-icon>
                    <!-- <img src="assets/images/icons/block.svg"
                        [class.active-icon]="idSelectedIntent === intent.intent_id"
                        class=" "> -->
                </div>

                <div class="item-box" *ngIf="IS_OPEN">
                    <div>
                        <p class="intent-display-name ellips">
                            <!-- <span *ngIf="!intent.agents_available" class="agents-available material-icons">boy</span> -->
                            <mat-icon *ngIf="intent.agents_available" class="icon agents-available" svgIcon="man" aria-hidden="true"></mat-icon>
                            {{intent.intent_display_name}}
                        </p>
                        <div class="icon-list">
                            <p *ngIf="intent.questions" class="ai-icon icon">Ai</p>
              
                            <mat-icon *ngIf="intent.webhook_enabled" class="icon" svgIcon="webhook" aria-hidden="true"></mat-icon>
                            <!-- <span *ngIf="!intent.webhook_enabled" class="material-icons icon webhook-icon">webhook</span> -->

                            <mat-icon *ngIf="intent.form" class="icon" svgIcon="list_alt" aria-hidden="true"></mat-icon>
                            <!-- <span *ngIf="!intent.form" class="material-icons icon list-alt-icon">list_alt</span> -->

                            <div *ngIf="intent?.actions && intent?.actions?.length > 0" class="actions">
                                <mat-icon class="icon" svgIcon="bolt" aria-hidden="true"></mat-icon>
                                <!-- <span class="material-icons icon bolt-icon">bolt</span> -->
                                <p class="action-counter icon">{{ intent.actions?.length }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="delete-box" *ngIf="selectedIntent !== null">
                        <span class="material-icons delete-icon"
                            (click)="$event.stopPropagation();onDeleteIntent(intent)">delete</span>
                    </div> -->
                </div>

            </div>

        </div>


    </div>
</div>