.webhook-block {
    margin: 20px;
    display: flex;
}

.webhook-link {
    border: 1px solid #f2f2f2;
    cursor: default;
    display: flex;
    outline: none;
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 0 6px 6px 0;
    background: #f2f2f2;
    font-size: 12px;
    margin: 0;
    padding: 0 6px 0 6px;
    color: var(--blu);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.webhook-icon {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: var(--blu-light-03);
    border-radius: 6px 0 0 6px;
    img {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        color: var(--blu);
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        filter: brightness(0) saturate(100%) invert(39%) sepia(19%) saturate(1139%) hue-rotate(184deg) brightness(91%) contrast(85%);
    }
}

.webhook-buttons {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}