

<div class="webhook-copilot">

    
    <div class="webhook-icon-copilot">
        <img src="assets/images/icons/copilot.svg" alt="copilot">
        <span *ngIf="!action.copilot" class="copilot-label">{{ 'CDSCanvas.CopilotDisabled' | translate }}</span>
        <span *ngIf="action.copilot" class="copilot-label">{{'CDSCanvas.CopilotEnabled' | translate }}</span>
    </div>
    

    
    <div class="copilot-onoffswitch">
        <label class="copilot-onoffswitch-label" for="copilot_switch" [class.checked]="action.copilot">
            <input type="checkbox" name="copilote_switch"
            class="copilot-onoffswitch-checkbox" id="copilot_switch"
            [(ngModel)]="action.copilot" 
            (change)="updateCopilotWebhook($event.target.checked)" />
        </label>
    </div>
    
</div>

<div class="webhook-block">
    <div class="webhook-icon">
        <img src="assets/images/icons/webhook2.svg" alt="webhook">
    </div>
    <input class="webhook-link" type="text" [value]="webhookUrl">
</div>

<div class="webhook-buttons">
    <button type="button" class="btn btn-primary cds-blue-button" (click)="regenerateWebhook()">regenerate</button>
    <button type="button" class="btn btn-primary cds-blue-button" (click)="copyText()">copy</button>
</div>

<p *ngIf="messageText" class="webhook-message fade-in-out">
    {{ messageText }}
</p>

