<div class="intent-header-actions-container"
     [ngClass]="{'intent-header-actions-container-on-start': isStart}">
    <div class="intent-header-actions-wpr">
        <button *ngIf="showMore"
                class="intent-header-action-btn"
                matTooltipClass="cds-mat-tooltip"
                [matTooltip]="'CDSCanvas.IntentPanel' | translate"
                matTooltipPosition="above"
                matTooltipHideDelay="100"
                (click)="$event.stopPropagation(); onOpenIntentPanel()">
            <mat-icon class="icon" svgIcon="more_vert" aria-hidden="true"></mat-icon>
        </button>

        <button *ngIf="showColor"
                class="intent-header-action-btn"
                matTooltipClass="cds-mat-tooltip"
                [matTooltip]="'CDSCanvas.ColorBlock' | translate"
                matTooltipPosition="above"
                matTooltipHideDelay="100"
                (click)="$event.stopPropagation(); onColorIntent()">
            <mat-icon class="icon" svgIcon="palette" aria-hidden="true"></mat-icon>
        </button>

        <button *ngIf="showDelete"
                class="intent-header-action-btn"
                matTooltipClass="cds-mat-tooltip"
                [matTooltip]="'CDSCanvas.DeleteBlock' | translate"
                matTooltipPosition="above"
                matTooltipHideDelay="100"
                (click)="$event.stopPropagation(); onDeleteIntent()">
            <mat-icon class="icon" svgIcon="bin" aria-hidden="true"></mat-icon>
        </button>

        <button *ngIf="showCopy"
                class="intent-header-action-btn"
                matTooltipClass="cds-mat-tooltip"
                [matTooltip]="'CDSCanvas.CopyBlock' | translate"
                matTooltipPosition="above"
                matTooltipHideDelay="100"
                (click)="onCopyIntent()">
            <mat-icon class="icon" svgIcon="copy" aria-hidden="true"></mat-icon>
        </button>

        <button *ngIf="showPlay"
                class="intent-header-action-btn"
                matTooltipClass="cds-mat-tooltip"
                [matTooltip]="'CDSCanvas.StartTest' | translate"
                matTooltipPosition="above"
                matTooltipHideDelay="100"
                (click)="openTestSiteInPopupWindow()">
            <mat-icon class="icon" svgIcon="play" aria-hidden="true"></mat-icon>
        </button>
    </div>
</div>
