:host{
    --icon-color: #{var(--blu)};
    --textColor: #{var(--blu)};
    --backGroundColor: #{var(--blu-light-04)};
    --hoverBackgroundColor: #{var(--blu-light-03)};

    --content-background: rgb(244, 246, 251, 0.4);
    --border-radius-base: 8px

}

::placeholder {
    color: rgb(198, 198, 198);
    opacity: 1; /* Firefox */
}

.whatsapp-receiver {
    display: flex;
    flex-direction: row;
    padding: 0px 24px 0px 0px;
    position: relative;
}

.whatsapp-receiver:hover {
    .response-controls {
        opacity: 1;
    }
}

.highlighted {
    box-shadow: 0px 0px 4px 0px var(--color-red-hex);
}

.response-controls {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2px;
    margin-right: 6px;
    
    
    // height: 100%;
    // left: -44px;
    // position: absolute;
    // top: 0px;
    // width: 44px;

    .control-button {
        cursor: pointer;
        &.delete,
        &.copy  {
            height: 24px;
            width: 24px;
            background: white;
            border-radius: 50%;
            transition: background-color 0.3s ease 0s;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 4px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 6px;
            em {
                font-size: 1.15em;
                color: var(--textColor);
                transition: color 0.3s;
            }
        }
    }
    .control-button:hover {
        color: var(--blu-light-02);
        &.delete{
            em {
                color: var(--color-red-hex);
            }
        }
        &.copy {
            background-color: var(--hoverBackgroundColor);
        }
    }
}

loading-spinner.custom-spinner ::ng-deep {
    margin-left: 4px;
    width: 40px;
    .sk-fading-circle {
        width: 20px ;
        height: 20px ;
        margin: 0px ;
    }

    .sk-fading-circle .sk-circle:before {
        background-color: var(--blu) ;
    }
}

.parameters-container {
    //margin-top: 16px;
    background-color: var(--content-background);
    border: 1px solid var(--gray-light-02);
    border-radius: 4px;
    padding: 6px;
    //border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Roboto;
    margin-bottom: 10px;


    p {
        margin-bottom: 0px;
    }

    .parameters-title {
        font-weight: 400;
        margin-bottom: 2px;
        font-size: 14px;
    }

    .parameters-subtitle {
        margin-bottom: 4px;
        font-size: 14px;
        color: #666565;
    }

    .parameter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }

    .field-wrapper {
        display: flex;
        width: 100%;
        cds-textarea{
            width: 100%;
        }
    }

    .param-number {
        height: 36px;
        width: 36px;
        //background-color: var(--textColor);
        color: var(--backGroundColor);
        display: flex;
        align-items: center;
        margin-right: 10px;
        justify-content: center;
        font-weight: 500;
        border: solid 1px var(--textColor);
        border-radius: var(--input-border-radius-base);
        font-style: italic;

        span {
            color: var(--textColor);
            font-size: 18px;
        }
    }

    input {
        width: 100%;
        height: 36px;
        border-radius: var(--input-border-radius-base);
        background: var(--color-white-hex);
        border: 1px solid var(--blu-light-02) !important;
        color: var(--gray);
        padding: 4px 8px;
        font-size: 14px;
    }
}

// PREVIEW SECTION

.preview-container {
    display: flex;
    //background-color: bisque;
    //background-image: url("/assets/images/whatsapp_background.png");
    background-image: url("../../../../../../../../assets/images/whatsapp_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    margin-bottom: 8px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.6s;

    .inner-preview-container {
        padding: 6px 6px;
    }
}

.preview-container-active {
    //min-height: 200px;
    max-height: 500px;
    // height: 100px;

    // .message-cloud {
    //     opacity: 1;
    // }
}

.message-cloud {
    // transition-delay: 0.5s;
    // transition: opacity 0.2s;
    background-color: #fff;
    width: 260px;
    padding: 8px 10px 2px 10px;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.15);
    font-size: 12px;

    .header-preview {
        color: rgba(0, 0, 0, 0.76);
        font-size: 13px;
        font-weight: bold;
        line-height: 19px;
        padding-bottom: 8px;

        img {
            max-width: 100%;
            border-radius: 6px;
            animation: fadein 1s;
        }

        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        

        .pdf-preview {
            width: 100%;
            height: 100%;
            background-color: #d3dbe5;
            border-radius: 6px;
            padding: 26px;
            display: flex;
            justify-content: center;

            p {
                padding: 10px;
                color: white;
                background-color: #80868b;
                border-radius: 12px;
                width: 70px;
                text-align: center;
            }
        }

        .location-preview {
            width: 100%;
            height: 100%;
            background-color: #d3dbe5;
            border-radius: 6px;
            padding: 26px;
            display: flex;
            justify-content: center;
            background-image: url("https://media.istockphoto.com/id/1306807452/vector/map-city-vector-illustration.jpg?s=612x612&w=0&k=20&c=8efOIy-Ft3trEzeDk3PY2WRjWws8mvKXgkLqCZ2cP5A=");
            background-size: contain;

            p {
                padding: 10px;
                color: white;
                background-color: #80868b;
                border-radius: 12px;
                width: 100px;
                text-align: center;
            }
        }
    }

    .body-preview {
        font-size: 12px;
        color: #282828;
        line-height: 19px;
    }

    .footer-preview {
        padding-top: 6px;
        color: #00000073;
        font-size: 11.6px;
        line-height: 17px;
    }

    .whatsapp-call-to-action {
        background-color: #fff;
        color: #00a5f4;
        /* width: 200px; */
        width: 100%;
        height: 26px;
        font-size: 14px;
        text-transform: none;
        border-radius: 6px;
        /* margin-bottom: 4px; */
        box-shadow: none;
        padding: 0px;
        margin: 2px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .call-to-action-icon {
        font-size: 16px;
        margin-right: 6px;
    }
}

button.icon-only {
    height: 36px;
    width: 40px;
    margin-left: 4px;
    border-radius: 8px;
    background: var(--blu-light-02);
    border: 1px solid var(--blu-light-02) !important;
    color: var(--color-white-hex);

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 0.8;
    }
}

.message-cloud-buttons-container {
    max-width: 260px;
}

.message-cloud-buttons {
    margin: 0 -1.5px;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 260px;
}

.message-cloud-button {
    margin: 3px 1.5px 0;
    border-radius: 7.5px;
    padding: 6px 7px 8px 9px;
    min-width: calc(50% - 3px);
    height: 36px;
    flex-grow: 1;
    background-color: white;
    color: #00a5f4;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    border: none;
}

.url-button-previsioning {
    padding: 8px 8px;
    border-radius: 4px;
    background-color: #1877f21a;

    .previsioning-url {
        margin: 0px;
    }

    .whatsapp-call-to-action {
        background-color: #fff;
        color: #00a5f4;
        /* width: 200px; */
        width: 100%;
        height: 26px;
        font-size: 14px;
        text-transform: none;
        border-radius: 6px;
        /* margin-bottom: 4px; */
        box-shadow: none;
        padding: 0px;
        margin: 2px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        width: 200px;
        font-weight: 400;
    }

    .call-to-action-icon {
        font-size: 16px;
        margin-right: 6px;
    }
}

.header-image-container {
    width: 100%;
    //height: 120px; // set if background-image property is setted
    background-color: #dcdcdc;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}