<div class="extensions-response" *ngIf="!previewMode">
    
    <div class="delay-wrapper" [ngStyle]="{width: canShowFilter? 'auto': '100%'}">
        <appdashboard-delay-slider
            [delayTime]="delayTime"
            (changeDelayTime)="onChangeDelayTime($event)"
            (clickDelayTime)="onClickDelayTime($event)">
        </appdashboard-delay-slider>
    </div>
    <!-- ||  -->
    <div class="add-filter-btn-wrp" *ngIf="canShowFilter && filterConditionExist">
        <span class="material-icons-outlined">filter_alt</span>
        {{'CDSCanvas.Filter' | translate }}
    </div>
    <div class="filter-wrapper" *ngIf="canShowFilter"
        [ngStyle]="{width: filterConditionExist? '100%': 'auto'}">
        <appdashboard-filter
            [expression]="response._tdJSONCondition"
            [booleanOperators]="booleanOperators"
            [previewMode]="previewMode"
            (onChangeExpression)="onChangeExpression($event)">
        </appdashboard-filter>
    </div>
</div>


<div *ngIf="previewMode" class="text-editor-wrapper previewMode">
    <div class="response-wrp" *ngIf="response.text">{{response.text}}</div>
    <div class="response-wrp no-text" *ngIf="!response.text">{{'CDSCanvas.ClickToAddText' | translate }}</div>
</div> 
<div *ngIf="previewMode" [class.previewMode]="previewMode">
    <ng-container *ngIf="gallery.length === 1 && gallery[0].preview && gallery[0].preview.src === ''" [ngTemplateOutlet]="placeholder"></ng-container>
    <ng-container *ngIf="(gallery.length === 1 && gallery[0].preview && gallery[0].preview.src !== '') ||  gallery.length > 1" [ngTemplateOutlet]="galleryElement"></ng-container>
</div>


<div *ngIf="!previewMode" class="action-reply-gallery text-editor-wrapper ">
    <cds-textarea 
        class="text-editable-div"
        [activeFocus]="activeFocus"
        [text]="response.text" 
        [minRow]="1"
        [limitCharsText]="limitCharsText"
        popoverVerticalAlign="above"
        (changeTextarea)="onChangeTextarea($event)"
        (blur)="onBlur($event)"
        (selectedAttribute)="onSelectedAttribute($event)">
    </cds-textarea> 

    <!-- *ngIf="!showJsonBody" -->
    <div class="buttons-json-response">
        <div class="button-reply-add button-json single-btn-reply" 
             [class.disabled]="showJsonBody"
             [disabled]="showJsonBody"
             (click)="!showJsonBody && $event.stopPropagation();onClickJsonButtons()">
            + {{'CDSCanvas.JsonGallery' | translate }}
        </div>
    </div>
    
    <div *ngIf="showJsonButton" class="buttons-json-response json-shown">
        <cds-select 
            class="text-condition" 
            [items]="listType" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'" 
            [placeholder]="'CDSCanvas.Examples' | translate "
            [deleteButton]="false"
            [clearable]="false"
            [searchable]="false"
            (onSelected)="onChangeJsonButtonsType($event)"
            (onReset)="onResetJsonButtonsType($event)"
            [clearable]="true">
        </cds-select>
    </div> 
    
    
    <div *ngIf="showJsonBody" class="json-text">
        <cds-textarea
            class = "text-editable-div"
            [text]="json_gallery"
            [placeholder]="jsonPlaceholder"
            [limitCharsText]="10000"
            [emojiPikerBtn]="false"
            [setAttributeBtn]="true"
            [minRow]="5" [maxRow]="10"
            [readonly]="false"
            (blur)="onBlurJsonTextarea($event)"
            (changeTextarea)="onChangeJsonTextarea($event)">
        </cds-textarea>
        <div class="button-controls">
</div>
    </div>

</div>

<!-- Edit mode: gallery carousel -->
<div *ngIf="!previewMode && !showJsonBody" class="glr-carousel">

    <!-- Left nav arrow -->
    <button class="glr-nav" type="button"
            (click)="scrollLeft()"
            [class.glr-nav--hidden]="!showLeftArrow"
            aria-label="Previous">
        <em class="material-icons">chevron_left</em>
    </button>

    <!-- Scrollable track -->
    <div class="glr-track-wrap" #galleryContainer>
        <div class="glr-track">

            <!-- Card -->
            <article *ngFor="let galleryEl of gallery; let i = index"
                     class="glr-card">

                <!-- Card toolbar: shown on hover -->
                <div class="glr-card-toolbar">
                    <button type="button" title="Move left"
                            (click)="$event.stopPropagation(); onMoveLeftGallery(i)">
                        <em class="material-icons">chevron_left</em>
                    </button>
                    <button type="button" title="Move right"
                            (click)="$event.stopPropagation(); onMoveRightGallery(i)">
                        <em class="material-icons">chevron_right</em>
                    </button>
                    <button type="button" class="glr-card-toolbar__danger" title="Delete card"
                            (click)="$event.stopPropagation(); onDeleteGallery(i)">
                        <em class="material-icons">delete_outline</em>
                    </button>
                </div>

                <!-- Image dropzone -->
                <div class="glr-dropzone">
                    <cds-image-upload
                        class="glr-image-upload"
                        [index]="i"
                        [metadata]="galleryEl.preview"
                        (onChangeMetadata)="onChangeMetadata($event, i)"
                        (onDeletedMetadata)="onDeletedMetadata($event, i)">
                    </cds-image-upload>
                </div>

                <!-- Title + description fields -->
                <div class="glr-fields">
                    <div class="glr-field glr-field--title"
                         (click)="initElement(); activateEL[i].title=true">

                        <cds-textarea id="title"
                            [limitCharsText]="80"
                            [minRow]="1"
                            [emojiPikerBtn]="false"
                            [setAttributeBtn]="false"
                            [textLimitBtn]="false"
                            [isJsonAttribute]="false"
                            [isLiquidjs]="false"
                            [text]="galleryEl.title"
                            (blur)="onBlur($event)"
                            (changeTextarea)="onChangeText($event, 'title', i)">
                        </cds-textarea>
                    </div>
                    <div class="glr-field glr-field--desc"
                         (click)="initElement(); activateEL[i]['description']=true">
                        <cds-textarea id="description"
                            [limitCharsText]="80"
                            [minRow]="1"
                            [emojiPikerBtn]="false"
                            [setAttributeBtn]="false"
                            [textLimitBtn]="false"
                            [isJsonAttribute]="false"
                            [isLiquidjs]="false"
                            [text]="galleryEl.description"
                            (blur)="onBlur($event)"
                            (changeTextarea)="onChangeText($event, 'description', i)">
                        </cds-textarea>
                    </div>
                </div>

                <!-- Buttons list -->
                <div class="glr-btns" *ngIf="galleryEl.buttons.length > 0">
                    <div *ngFor="let button of galleryEl.buttons; let j=index"
                         class="glr-btn-item"
                         (click)="onOpenButtonPanel(button)">
                        <span class="glr-btn-label">{{button.value}}</span>
                    </div>
                </div>

                <!-- Add button row -->
                <div class="glr-add-btn-row" *ngIf="galleryEl.buttons.length < 3">
                    <button class="glr-add-btn" type="button"
                            (click)="$event.stopPropagation(); onAddButton(i)">
                        <span class="glr-add-btn__circle">
                            <em class="material-icons">add</em>
                        </span>
                        {{'CDSCanvas.AddButton' | translate }}
                    </button>
                </div>

            </article>

            <!-- Add card slot at end of track -->
            <button class="glr-add-card" type="button"
                    [title]="'CDSCanvas.AddCard' | translate"
                    (click)="$event.stopPropagation(); onAdd()">
                <em class="material-icons">add</em>
            </button>

        </div>
    </div>

    <!-- Right nav arrow -->
    <button class="glr-nav" type="button"
            (click)="scrollRight()"
            [class.glr-nav--hidden]="!showRightArrow"
            aria-label="Next">
        <em class="material-icons">chevron_right</em>
    </button>

</div>

<!-- Dots indicator -->
<div class="glr-dots" *ngIf="!previewMode && !showJsonBody && gallery.length > 1">
    <span *ngFor="let d of gallery; let i=index" class="glr-dot"></span>
</div>


<ng-template #placeholder>
    <div class="gallery-preview-wrp" id="placeholder">
        <div class="image no-image">
            <mat-icon svgIcon="add_image" aria-hidden="true"></mat-icon>
        </div>
        <div class="content">
            <span class="text">{{'CDSCanvas.TypeTitle' | translate }}</span>
            <span class="text description">{{'CDSCanvas.TypeDescription' | translate }}</span>
        </div>
    </div>
</ng-template>

<ng-template #galleryElement>
    <div *ngFor="let galleryEl of gallery; let i = index; let last = last" class="galleryElement">
       <div class="gallery-preview-wrp" [ngStyle]="{ 'border-bottom' : last? 'unset' : 'border-bottom: 1px solid #dcd5ba'}">
            <div class="image" [class.no-image]="galleryEl.preview.src === ''">
                <img *ngIf="galleryEl.preview.src !== '' " [src]="sanitizerUrlImage(galleryEl.preview.src)" alt="{{galleryEl.preview.name}}">
                <mat-icon *ngIf="galleryEl.preview.src === ''" svgIcon="add_image" aria-hidden="true"></mat-icon>
                <!-- <img *ngIf="galleryEl.preview.src === '' "src="assets/images/icons/add_image.svg"> -->
            </div>
            <div class="content">
                <span class="text"> {{galleryEl.title}}</span>
                <span class="text description"> {{galleryEl.description}}</span>
            </div>
       </div>
        <div class="buttons-response button-replies">
            <div *ngFor="let button of galleryEl.buttons; let j= index;" class="cds-reply-button-element">

                <cds-action-reply-button [class.connected]='button.__isConnected'
                    (click)="onOpenButtonPanel(button)"
                    [button]="button"
                    [previewMode]="previewMode"
                    (onButtonControl)="onButtonControl($event, i, j)">
                </cds-action-reply-button>

                <cds-connector class="button-connector"
                    [idConnector]="button.__idConnector"
                    [idConnection]="button.__idConnection"
                    [isConnected]="button.__isConnected">
                </cds-connector>

            </div>
            <div *ngIf="galleryEl.buttons.length < 3" class="button-reply-add single-btn-reply" (click)="$event.stopPropagation();onButtonControl('new', i, null)">
                + {{'CDSCanvas.AddButton' | translate }}
            </div>
        </div> 
        <!-- <div class="gallery-divider"></div> -->
    </div>
</ng-template>