<div *ngIf="previewMode" class="cds-action-preview">
    <div class="action-row">
        <div class="action-row-left">
            <mat-icon class="icon" svgIcon="stacks" aria-hidden="true"></mat-icon>
        </div>
        <div *ngIf="action?.level" class="action-row-right">
            {{action?.level}}
        </div>
    </div>
    <div class="action-row">
        <div class="action-row-left">
            <mat-icon class="icon" svgIcon="subject" aria-hidden="true"></mat-icon>
        </div>
        <div *ngIf="action?.log" class="action-row-right">
            {{action?.log}}
        </div>
        <div *ngIf="!action?.log" class="action-row-right empty">
            {{'CDSCanvas.SetFlowLog' | translate }}
        </div>
    </div>
</div>


<div *ngIf="!previewMode" class="content-panel-intent-detail no-footer">
   
    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.LogLevels' | translate }}:</label>
        <cds-select id="text-condition" 
            [items]="logLevelsArray" 
            [bindLabelSelect]="'value'"
            [bindValueSelect]="'value'" 
            [itemSelected]="selectedLogLevel" 
            [clearable]="false"  
            [searchable]="false"
            (onSelected)="onLogLevelChange($event, 'bugsLevel')">
        </cds-select>
    </div>


    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.FlowLog' | translate }}:</label>
        <cds-textarea 
            class="text-editable-div" 
            [text]="action?.log" 
            [minRow]="10"
            popoverVerticalAlign="above"
            [emojiPikerBtn]="false"
            (blur)="onBlur($event)"
            (changeTextarea)="onChangeTextArea($event)">
        </cds-textarea>
        <!-- <label class="field-description"> {{ 'CDSCanvas.FlowLogDescription' | translate}} </label> -->
    </div>


</div>