<div *ngIf="!metadata.src" class="response-frame-panel">
    <div class="row-upload">
        <div class="response-image-uploader-overlay">
    
            <div class="form-group">
                <label class="control-label">
                    {{ 'CDSCanvas.AddPath' | translate }}
                </label>
                <cds-textarea 
                    class="text-editable-div"
                    [text]="pathElement" 
                    [minRow]="1" [maxRow]="2"
                    [emojiPikerBtn]="false"
                    (blur)="onBlur($event)"
                    (changeTextarea)="onChangeTextArea($event)">
                </cds-textarea>
            </div> 
    
            <button 
                type="button" 
                class="btn btn-primary cds-blue-button" 
                (click)="onLoadPathElement()">
                {{ 'CDSCanvas.LoadFrame' | translate }}
            </button>
        </div>
    
    </div>

    
    <!-- <div class="row-dimension">
    
        <div class="row-info">
            <span class="control-label">{{ 'width' | translate }}:</span>
            <input [(ngModel)] = "widthElement" type="text" class="input ng-untouched ng-pristine ng-valid">
        </div>
        <div class="row-info">
            <span class="control-label">{{ 'height' | translate }}:</span>
            <input [(ngModel)] = "heightElement" type="text" class="input ng-untouched ng-pristine ng-valid">
        </div>
    
    
    </div> -->
</div>

<div *ngIf="metadata.src" class="content-frame">
    <iframe 
        id="contentFrame" 
        #iframe allowfullscreen
        style= "border:none;"
        [width]="widthElement"
        [height]="heightElement"
        [src]="sanitizerUrl()">
    </iframe>

    <div class="control-button delete" (click)="onDeletePathElement()">
        <em class="material-icons">clear</em>
    </div>
</div>
