.row-upload {
    display: flex;
    position: relative;
    width: 100%;
}

.row-dimension {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.response-image-uploader-overlay {
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
    color: white;
    transition: opacity .3s ease-in;
    opacity: 1;
    em {
        display: block;
    }
}


.form-group {
    margin: 0;
    text-align: center;
    width: calc(100% - 0px);
    display: block;
    position: relative;
    label.control-label {
        font-family: var(--font-family-poppins);
        font-size: var(--font-size-base);
        line-height: normal;
        color: #aaa;
        font-weight: 400;
        margin: 0;
    }
}

.response-frame-panel {
    // border: 2px dashed var(--blu-light-02);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 15px 0px;
    text-align: center;
}

.content-frame {
    display: flex;
    width: auto;
    border-radius: 6px;
    background-color: var(--blu-light-01);
    height: calc(100vh - 450px);
    min-height: 200px;
    max-height: 400px;
    #contentFrame {
        position: relative;
    }
    .control-button {
        &.delete {
            position: absolute;
            top: 0px;
            right: 0px;
            margin-right: 0px;
            opacity: 0;
            color: var(--blu);
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
    }
    &:hover{
        .control-button {
            &.delete {
                margin-right: -24px;
                opacity: 1;
            }
        }
    }
}

.preview-mode-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2px;
    .icon-wrapper {
        display: flex;
        img {
            width: 100%;
        }
    }
}