@import "./src/assets/sass/cds/_variables.scss";

.cds-ss-main-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 25px calc(20%);
    gap: 10px;
    text-align: center;
    color: var(--blu);
    transition: 0.5s;
    opacity: 1;
    padding-top: 110px;
}

.cds-ss-welcome-wpr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.cds-ss-txt {
    font-size: 24px;
    margin-left: 8px;
    color: var(--base-brand-color);
    font-weight: 400;
}

.logo{
    width: 35px;
    transition: opacity 0.2s ease-in-out;
}

.welcome_subtitle{
    font-size: 20px;
}

.welcome_video{
    .welcome_subtitle{
        font-style: italic;
        margin-bottom: 5px;
        font-size: 14px;
    }
}
