<div *ngIf="previewMode" class="cds-action-preview" style="position: relative;">

    <div class="action-row">
        <div class="action-row-left">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="none">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M14 17H4v2h10v-2zm6-8H4v2h16V9zM4 15h16v-2H4v2zM4 5v2h16V5H4z" />
            </svg>
        </div>

        <div class="action-row-right">
            <div *ngIf="action?.question" class="action-row-right">
                {{action?.question}}
            </div>
            <div *ngIf="!action?.question" class="action-row-right empty">
                {{'CDSCanvas.EnterPrompt' | translate }}
            </div>
        </div>

    </div>

    <div class="action-row">

        <div id="gpt-icon" class="action-row-left icon-action">
            <img src="assets/images/actions/openai-icon.svg">
        </div>

        <div class="action-row-right">
            <div *ngIf="action?.model" class="action-row-right">
                {{action?.model}}
            </div>
            <div *ngIf="!action?.model" class="action-row-right empty">
                {{'CDSCanvas.EnterTheQuestion' | translate }}
            </div>
        </div>
    </div>

    <div class="previewContent">
        
        <div class="icon-action">
            <img class="active-icon" src="assets/images/icons/if_condition.svg">
        </div>

        <label class="title-preview-label">{{'CDSCanvas.Success' | translate }}</label>
        
        <cds-connector class="connector-true"
            [idConnector] = "idConnectorTrue"
            [idConnection] = "idConnectionTrue"
            [isConnected] = "isConnectedTrue">
        </cds-connector>
    </div>

    <hr class="preview-divider">

    <div class="previewContent">
       <label class="title-preview-label">{{'CDSCanvas.Else' | translate }}</label>
        <cds-connector class="connector-false"
            [idConnector] = "idConnectorFalse"
            [idConnection] = "idConnectionFalse"
            [isConnected] = "isConnectedFalse">
        </cds-connector>
    </div>

</div>

<!-- <div id="variables" class="content" *ngIf="!previewMode && showVariablesSection"
    [ngClass]="{active: showVariablesSection === true}">

    <div class="variables-content-header">
        <span class="material-icons-round back-button" (click)="showHideVariablesSection()">undo</span>
        <label class="title-label">Set variables</label>
    </div>

    <div class="variables-container">

        <div *ngFor="let variable of temp_variables" class="single-variable">
            <div class="variable-name">{{ variable.name }}</div>
            <cds-text [text]="variable.value" (onChange)="onChangeVar($event, variable.name)"></cds-text>

        </div>
    </div>
</div> -->

<div id="scrollMe" #scrollMe *ngIf="!previewMode && !showVariablesSection" class="content-panel-intent-detail no-footer">


    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.Prompt' | translate }}</label>
        <cds-textarea id="question" 
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true" 
            [limitCharsText]="10000"
            [minRow]="4"[maxRow]="25" 
            [text]="action.question" 
            [placeholder]="'CDSCanvas.EnterPrompt' | translate"
            (blur)="onBlur($event)"
            (changeTextarea)="onChangeTextarea($event, 'question')">
        </cds-textarea>
    </div>


    <div class="field-box">
        <section class="disable-input-message-section">
            <mat-checkbox 
                [checked]="action?.history"
                (change)="onChangeCheckbox($event, 'history')">
                {{"CDSCanvas.UseChatHistoryInPrompt" | translate}}
            </mat-checkbox>
        </section>
    </div>

    <div style="width: 100%; display: flex; justify-content: flex-end; margin: 30px 0px 10px 0px">
        <button id="cds-publish-btn" class="btn btn-primary cds-blue-button" type="button" 
            [disabled]="!action.question" (click)="execPreview()">
            <span class="material-icons">preview</span>
            {{'CDSCanvas.Preview' | translate }}
        </button>
    </div>

    <div class="answer-preview" *ngIf="showPreview">
        <div class="header-answer-preview">
            <div class="label-and-button-container">
                <label class="title-label">{{'CDSCanvas.AnswerPreview' | translate }}
                    <span class="subtitle-label">( {{'CDSCanvas.GeneratedWith' | translate }}  {{ (model_list | filter:{key: 'value', value: action?.model }).name }} )</span>
                </label>
                <!-- <button id="cds-publish-btn" class="btn btn-primar set-var-btn" type="button" *ngIf="showVariablesBtn"
                    (click)="showHideVariablesSection()">Set variables
                    <span class="material-icons-round">
                        chevron_right
                    </span>
                </button> -->
            </div>
        </div>

        <div id="preview-container" class="preview-container">

            <div class="placeholder-container" *ngIf="searching">
                <loading-spinner class="custom-spinner"></loading-spinner>
                <span style="margin-left: 8px;">{{'CDSCanvas.GeneratingAnswer' | translate}} ...</span>
            </div>

            <div *ngIf="!searching && !showAiError && ai_response?.choices[0]?.message?.content">
                {{ ai_response.choices[0].message.content }}
            </div>

            <div *ngIf="showAiError">
                {{ ai_error }}
            </div>

        </div>

        <div class="usage-container" *ngIf="!searching && !showAiError && ai_response?.choices[0]?.message?.content">
            <span style="font-weight: 500;">{{'CDSCanvas.TokensUsage' | translate }}</span>
            <span>{{'CDSCanvas.Prompt' | translate }}: {{ ai_response.usage.prompt_tokens }}</span>
            <span>{{'CDSCanvas.MaxTokensForAnswer' | translate }}: {{ ai_response.usage.completion_tokens }}</span>
            <span style="font-size: 13px;">{{'CDSCanvas.Total' | translate }}: {{ ai_response.usage.total_tokens }}</span>
        </div>

        <!-- <div id="preview-container" class="preview-container">

            <div class="placeholder-container" *ngIf="missingVariables">
                <div style="display: flex; flex-direction: column; width: 100%;">
                    <span style="margin-left: 8px;">Set all variables to get the preview</span>
                </div>
            </div>

            <div class="placeholder-container" *ngIf="searching && !missingVariables">
                <loading-spinner class="custom-spinner"></loading-spinner>
                <span style="margin-left: 8px;">Generating answer...</span>
            </div>

            <div *ngIf="!searching && !missingVariables && ai_response?.choices[0]?.message?.content">
                {{ ai_response.choices[0].message.content }}
            </div>

            <div *ngIf="showAiError">
                {{ ai_error }}
            </div>
        </div>

        <div *ngIf="!searching && !missingVariables && ai_response?.choices[0]?.message?.content"
            style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 6px; padding: 0px 4px; color: #a6a6a6;  font-size: 11px; width: 100%;">
            <span style="font-weight: 500;">Tokens usage</span>
            <span>Prompt: {{ ai_response.usage.prompt_tokens }}</span>
            <span>Answer: {{ ai_response.usage.completion_tokens }}</span>
            <span style="font-size: 13px;">Total: {{ ai_response.usage.total_tokens }}</span>
        </div> -->
    </div>

    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            class="custom-expansion-panel">
            <mat-expansion-panel-header class="disable_ripple">
                <mat-panel-title>
                    {{'CDSCanvas.AISettings' | translate }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>

                <!-- // model select -->
                <div class="field-box">
                    <cds-select id="model-condition"
                        [items]="model_list" 
                        [itemSelected]="action.model"
                        [bindLabelSelect]="'name'" 
                        [bindValueSelect]="'value'"
                        [optionalBindAdditionalText]="'multiplier'"
                        [optionalBindDescription]="'description'"
                        (onSelected)="onChangeSelect($event, 'model')">
                    </cds-select>
                </div>

                <!-- // max_tokens slider -->
                <div class="field-box">
                    <label class="title-label">{{'CDSCanvas.MaxTokens' | translate }}</label>
                    <div class="action-wait-content">

                        <div class="action-wait-slider ">
                            <div class="action-wait-range">{{ai_setting['max_tokens'].min}}</div>
                            <mat-slider 
                                class="wait-slider"  thumbLabel 
                                [step]="ai_setting['max_tokens'].step"  
                                [min]="ai_setting['max_tokens'].min"
                                [max]="ai_setting['max_tokens'].max"
                                [(ngModel)]="action.max_tokens"
                                (change)="updateSliderValue($event.value, 'max_tokens')" 
                                aria-label="units">
                            </mat-slider>
                            <div class="action-wait-range">{{ai_setting['max_tokens'].max}}</div>
                        </div>
                        <!-- // doesn't work propely -->
                        <!-- <cds-text [text]="action.max_tokens.toString()" [inputType]="'number'" [maxlength]="3" [min]="1" [max]="512" (onChange)="updateSliderValue($event, 'max_tokens')" class="slider-input"></cds-text> -->
                        <input type="text" class="slider-input gpt-setting-input" value="{{action.max_tokens}}" disabled>
                        <!-- <cds-text [text]="action.max_tokens" [disabled]="true" class="slider-input"></cds-text> -->
                    </div>
                </div>

                <!-- // temperature slider -->
                <div class="text-editor-wrapper">
                    <div class="field-box">
                        <label class="title-label">{{'CDSCanvas.Temperature' | translate }}</label>
                        <div class="action-wait-content">

                            <div class="action-wait-slider">
                                <div class="action-wait-range">{{ai_setting['temperature'].min}}</div>
                                <mat-slider 
                                    class="wait-slider" thumbLabel
                                    [step]="ai_setting['temperature'].step"  
                                    [min]="ai_setting['temperature'].min"
                                    [max]="ai_setting['temperature'].max" 
                                    [(ngModel)]="action.temperature"
                                    (change)="updateSliderValue($event.value, 'temperature')" aria-label="units">
                                </mat-slider>
                                <div class="action-wait-range">{{ai_setting['temperature'].max}}</div>
                            </div>
                            <!-- // doesn't work propely -->
                            <!-- <cds-text [text]="action.temperature.toString()" [inputType]="'number'" [maxlength]="4" [min]="0" [max]="1" (onChange)="updateSliderValue($event, 'temperature')" class="slider-input"></cds-text> -->
                            <input type="text" class="slider-input gpt-setting-input" value="{{action.temperature}}" disabled>
                        </div>
                    </div>
                </div>

                <!-- // system context textarea -->
                <div class="field-box">
                    <label class="title-label">{{'CDSCanvas.SystemContext' | translate }}</label>
                    <cds-textarea id="context"
                        [emojiPikerBtn]="false" 
                        [limitCharsText]="10000"
                        [minRow]="1" [maxRow]="5" 
                        [text]="action.context" 
                        [placeholder]="'CDSCanvas.YouAreAwesomeAssistant' | translate"
                        (blur)="onBlur($event)"
                        (changeTextarea)="onChangeTextarea($event, 'context')">
                    </cds-textarea>
                </div>

                <div class="field-box" *ngIf="action.hasOwnProperty('formatType')">
                    <section class="disable-input-message-section">
                        <mat-checkbox 
                            [checked]="action?.formatType === 'json_object'? true: false "
                            (change)="onChangeCheckbox($event, 'formatType')">
                            {{"CDSCanvas.FormatType" | translate}}
                        </mat-checkbox>
                    </section>
                    <label class="field-description">{{ "CDSCanvas.FormatTypeDescription" | translate }}
                        <a *ngIf="BRAND_BASE_INFO['DOCS']" href='https://platform.openai.com/docs/guides/structured-outputs/json-mode' target='_blank'>{{ 'LearnMore' | translate }}</a>
                    </label>
                </div>

            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <hr class="custom-divider" style="margin-top: 10px;">

    <div class="link-container" *ngIf="projectPlan === PLAN_NAME.F">
        <a class="link" (click)="goToKNB()">{{'CDSCanvas.ManageGPTKey' | translate }}</a>
    </div>

    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.GPTReply' | translate }}</label>
        <cds-textarea 
            id="assignTo" 
            [textLimitBtn]="false" 
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true"
            [minRow]="1" [maxRow]="1" 
            [readonly]="true" 
            [text]="action.assignReplyTo"
            (selectedAttribute)="onSelectedAttribute($event, 'assignReplyTo')"
            (clearSelectedAttribute)="onSelectedAttribute($event, 'assignReplyTo')">
        </cds-textarea>
    </div>

    <div class="field-box">
        <label class="subtitle-label">{{'CDSCanvas.ErrorAutomaticAssign' | translate }}
            <b>flowError</b>
            <!-- <span class="tag-container">
                <span class="tag-label">flowError</span>
            </span> -->
        </label> 
    </div>

    
    <hr class="custom-divider">
    

    <div class="field-box">
        <div class="condition-container">
            <div class="icon-action">
                <img class="active-icon" src="assets/images/icons/if_condition.svg">
            </div>
            <label class="condition-text">{{'CDSCanvas.Success' | translate }}</label>
        </div>
        <cds-select id="text-condition" 
            [items]="listOfIntents" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'" 
            [itemSelected]="action?.trueIntent" 
            [placeholder]="'CDSCanvas.SelectABlock' | translate"
            [clearable]="true" 
            (onSelected)="onChangeBlockSelect($event, 'trueIntent')"
            (onReset)="onResetBlockSelect($event, 'trueIntent')">
        </cds-select>
        <!-- <cds-attributes 
            class="cds-attributes" 
            [attributes]="trueIntentAttributes"
            (changeAttributes)="onChangeAttributes($event, 'trueIntent')">
        </cds-attributes> -->
    </div>

    <div class="field-box">
        <div class="condition-container">
            <label class="condition-text">{{'CDSCanvas.Else' | translate | titlecase}}</label>
        </div>
        <cds-select id="text-condition" 
            [items]="listOfIntents" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'" 
            [itemSelected]="action?.falseIntent" 
            [placeholder]="'CDSCanvas.SelectABlock' | translate"
            [clearable]="true" 
            (onSelected)="onChangeBlockSelect($event, 'falseIntent')"
            (onReset)="onResetBlockSelect($event, 'falseIntent')">
        </cds-select>
        <!-- <cds-attributes 
            class="cds-attributes" 
            [attributes]="action.falseIntentAttributes"
            (changeAttributes)="onChangeAttributes($event, 'falseIntent')">
        </cds-attributes> -->
    </div>



</div>