<div class="trigger-entrypoint">
  <div class="te-title">{{ 'CDSCanvas.Triggers' | translate }}</div>

  <div class="te-add" *ngIf="availableEntries.length">
    <cds-select
        [items]="availableSelectItems"
        [bindLabelSelect]="'label'"
        [bindValueSelect]="'value'"
        [placeholder]="('CDSCanvas.AddTrigger' | translate)"
        [searchable]="true"
        [clearable]="false"
        (onSelected)="onAddTriggerSelect($event)">
    </cds-select>
  </div>

  <div class="te-row" *ngFor="let sub of subs">
    <div class="te-head">
      <img class="te-icon" *ngIf="sub.icon" [src]="sub.icon" alt="">
      <span class="te-name">{{ sub.name }}</span>
      <button class="te-remove" (click)="onRemove(sub)">&#x2715;</button>
    </div>
    <div class="te-field" *ngFor="let input of sub.inputs">
      <label>{{ input.name }}<span *ngIf="input.required" class="req"> *</span></label>
      <input type="text" [value]="sub.filters[input.id] || ''"
             (input)="onFilterChange(sub, input.id, $any($event.target).value)" (blur)="onSaveFilters(sub)">
    </div>
  </div>
  <div class="te-empty" *ngIf="subs.length === 0">{{ 'CDSCanvas.NoTriggers' | translate }}</div>
</div>
