<div class="content">

    <!-- // HEADER - START -->
    <div class="header">
        <p class="header-title">Secrets</p>
        <button id="cds-new-rules-button" type="button" class="btn btn-primary cds-blue-button"
            (click)="showHideNewSecretSection(true)">
            <span class="material-icons icon plus-icon">add</span>
            New Secret
        </button>
    </div>
    <!-- // HEADER - END -->

    <!-- // ADD NEW SECRET SECTION - START -->
    <div *ngIf="newSecretSectionVisible" class="secret-container">

        <form [formGroup]="secretForm">
            <div class="secret-inner-container">
                <div id="key" class="input-container">
                    <label class="input-label">Key</label>
                    <input type="text" placeholder="SECRET_KEY" class="custom-input" id="key" name="key"
                        formControlName="key" [(ngModel)]="newSecret.key"
                        [class.invalid]="(secretForm.controls.key.errors?.pattern || secretForm.controls.key.errors?.required) && (secretForm.controls.key.dirty || secretForm.controls.key.touched)">
                </div>

                <div class="input-container">
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <label class="input-label">Value</label>
                        <div class="show-hide-button" (click)="showHideNewSecret()">
                            <span *ngIf="newSecretVisible"
                                class="material-icons-outlined visibility-icon">visibility_off</span>
                            <span *ngIf="!newSecretVisible"
                                class="material-icons-outlined visibility-icon">visibility</span>
                        </div>
                    </div>
                    <input id="secret-value" type="password" class="custom-input" placeholder="value"
                        formControlName="value" name="value" [(ngModel)]="newSecret.value"
                        [class.invalid]="(secretForm.controls.value.errors?.pattern || secretForm.controls.value.errors?.required) && secretForm.controls.value.touched">
                </div>
            </div>
        </form>

        <div class="buttons-container">
            <button id="cancel-button" type="button" class="btn btn-primary"
                (click)="showHideNewSecretSection(false)">Cancel</button>
            <button id="add-button" type="button" class="btn btn-primary" (click)="addNewSecret()"
                [disabled]="!secretForm.valid">Add Secret</button>
        </div>
    </div>
    <!-- // ADD NEW SECRET SECTION - END -->


    <div class="secrets-list">

        <div *ngFor="let secret of secretsList; let i = index;">

            <!-- // UPDATE OPTION - START -->
            <div class="secret-container update-view" *ngIf="i === updateIndex">
                <form [formGroup]="secretForm">
                    <div class="secret-inner-container">
                        <div id="key" class="input-container">
                            <label class="input-label">Key</label>
                            <input type="text" placeholder="SECRET_KEY" class="custom-input" formControlName="key"
                                [(ngModel)]="secret.key"
                                [class.invalid]="(secretForm.controls.key.errors?.pattern || secretForm.controls.key.errors?.required) && (secretForm.controls.key.dirty || secretForm.controls.key.touched)">
                            <!-- <input type="text" placeholder="SECRET_KEY" class="custom-input" [(ngModel)]="secret.key"> -->
                        </div>

                        <div class="input-container">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label class="input-label">Value</label>
                                <div class="show-hide-button" (click)="showHideSecret(secret)">
                                    <span *ngIf="secret.visible"
                                        class="material-icons-outlined visibility-icon">visibility_off</span>
                                    <span *ngIf="!secret.visible"
                                        class="material-icons-outlined visibility-icon">visibility</span>
                                </div>
                            </div>
                            <input *ngIf="!secret.visible" type="password" class="custom-input password"
                                placeholder="value" formControlName="value" name="value" [(ngModel)]="secret.value"
                                [class.invalid]="(secretForm.controls.value.errors?.pattern || secretForm.controls.value.errors?.required) && secretForm.controls.value.touched">
                            <input *ngIf="secret.visible" type="text" class="custom-input password" placeholder="value"
                                formControlName="value" name="value" [(ngModel)]="secret.value"
                                [class.invalid]="(secretForm.controls.value.errors?.pattern || secretForm.controls.value.errors?.required) && secretForm.controls.value.touched">
                            <!-- <input *ngIf="!secret.visible" type="password" class="custom-input password"
                                placeholder="value" name="value" [(ngModel)]="secret.value">
                            <input *ngIf="secret.visible" type="text" class="custom-input password" placeholder="value"
                                name="value" [(ngModel)]="secret.value"> -->
                        </div>
                    </div>
                </form>
                <div id="updatediv" class="buttons-container">
                    <button id="delete-button" type="button" class="btn btn-primary"
                        (click)="deleteSecrect(secret.key)">Delete</button>
                    <div>
                        <!-- <button id="cancel-button" type="button" class="btn btn-primary" (click)="showUpdateSecret(null, secret)">Cancel</button> -->
                        <button id="cancel-button" type="button" class="btn btn-primary" (click)="cancelUpdateSecret(i)">Cancel</button>
                            
                        <button id="add-button" type="button" class="btn btn-primary" (click)="updateSecret()" [disabled]="!secretForm.valid">Update</button>

                    </div>
                </div>
            </div>
            <!-- // UPDATE OPTION - END -->

            <div class="secret-inner-container" *ngIf="i !== updateIndex">
                <div id="key" class="input-container">
                    <input type="text" placeholder="SECRET_KEY" class="custom-input" name="key" value="{{secret.key}}"
                        disabled>
                </div>

                <div class="input-container">
                    <div class="fake-input">
                        <span class="material-icons-outlined copy-icon"
                            (click)="copyToClipboard(secret.value)">content_copy</span>
                        <input type="text" *ngIf="!secret.visible" placeholder="value" value="•••••••••••••••"
                            class="password" disabled>
                        <input type="text" *ngIf="secret.visible" placeholder="value" value="{{secret.value}}" disabled>
                        <div (click)="showHideSecret(secret)">
                            <span *ngIf="secret.visible"
                                class="material-icons-outlined visibility-icon">visibility_off</span>
                            <span *ngIf="!secret.visible"
                                class="material-icons-outlined visibility-icon">visibility</span>
                        </div>
                    </div>
                </div>

                <button class="custom-icon-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before" class="custom-menu">
                    <button mat-menu-item (click)="showUpdateSecret(i, secret)">
                        <span>Update</span>
                    </button>
                    <button mat-menu-item (click)="deleteSecrect(secret.key)">
                        <span>Delete</span>
                    </button>
                </mat-menu>

            </div>
        </div>

    </div>
</div>

<!-- 
<div class="content">

    <div class="header">
        <p class="header-title">Secrets</p>
        <button id="cds-new-rules-button" type="button" class="btn btn-primary cds-blue-button"
            (click)="showHideNewSecretSection(true)">
            <span class="material-icons icon plus-icon">add</span>
            New Secret
        </button>
    </div>


    <div *ngIf="newSecretSectionVisible" class="secret-container">

        <form [formGroup]="secretForm">
            <div class="secret-inner-container">
                <div id="key" class="input-container">
                    <label class="input-label">Key</label>
                    <input type="text" placeholder="SECRET_KEY" class="custom-input" id="key" name="key"
                        formControlName="key" [(ngModel)]="newSecret.key" (input)="onChangeInput($event, 'key')"
                        [class.invalid]="(secretForm.controls.key.errors?.pattern || secretForm.controls.key.errors?.required) && secretForm.controls.key.touched">
                </div>

                <div class="input-container">
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <label class="input-label">Value</label>
                        <div class="show-hide-button" (click)="showHideNewSecret()">
                            <span *ngIf="newSecretVisible" class="material-icons-outlined">visibility_off</span>
                            <span *ngIf="!newSecretVisible" class="material-icons-outlined">visibility</span>
                        </div>
                    </div>
                    <input id="secret-value" type="password" class="custom-input" placeholder="value"
                        formControlName="value" name="value" [(ngModel)]="newSecret.value"
                        (input)="onChangeInput($event, 'value')"
                        [class.invalid]="(secretForm.controls.value.errors?.pattern || secretForm.controls.value.errors?.required) && secretForm.controls.value.touched">
                </div>
            </div>
        </form>

        <div class="buttons-container">
            <button id="cancel-button" type="button" class="btn btn-primary"
                (click)="showHideNewSecretSection(false)">Cancel</button>
            <button id="add-button" type="button" class="btn btn-primary" (click)="addNewSecret()"
                [disabled]="!secretForm.valid">Add Secret</button>
        </div>
    </div>
    


    <div class="secrets-list">

        <div *ngFor="let secret of secretsList">

            <div class="secret-container update-view" *ngIf="secret.key === updateKey">

                <form [formGroup]="secretForm">
                    <div class="secret-inner-container">
                        <div class="input-container">
                            <label class="input-label">Key</label>
                            <input type="text" placeholder="SECRET_KEY" class="custom-input" id="key" name="key"
                                formControlName="key" [(ngModel)]="newSecret.key" (input)="onChangeInput($event, 'key')"
                                [class.invalid]="(secretForm.controls.key.errors?.pattern || secretForm.controls.key.errors?.required) && secretForm.controls.key.touched">
                        </div>

                        <div class="input-container">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <label class="input-label">Value</label>
                                <div class="show-hide-button" (click)="showHideUpdateSecret(secret.key)">
                                    <span *ngIf="newSecretVisible" class="material-icons-outlined">visibility_off</span>
                                    <span *ngIf="!newSecretVisible" class="material-icons-outlined">visibility</span>
                                </div>
                            </div>
                            <input id="secret-value-{{secret.key}}" type="password" class="custom-input"
                                placeholder="value" formControlName="value" name="value" [(ngModel)]="newSecret.value"
                                (input)="onChangeInput($event, 'value')"
                                [class.invalid]="(secretForm.controls.value.errors?.pattern || secretForm.controls.value.errors?.required) && secretForm.controls.value.touched">
                        </div>
                    </div>
                </form>

                <div class="buttons-container">
                    <button id="cancel-button" type="button" class="btn btn-primary"
                        (click)="showUpdateSecret(null)">Cancel</button>
                    <button id="add-button" type="button" class="btn btn-primary" (click)="addNewSecret()"
                        [disabled]="!secretForm.valid">Add Secret</button>
                </div>
            </div>


            <div class="secret-inner-container" *ngIf="secret.key !== updateKey">
                <div id="key" class="input-container">
                    <input type="text" placeholder="SECRET_KEY" class="custom-input" name="key" value="{{secret.key}}"
                        disabled>
                </div>

                <div class="input-container">
                    <div class="fake-input">
                        <span class="material-icons-outlined">content_copy</span>
                        <input id="input-secret-{{secret.key}}" *ngIf="!secret.visible" type="text" placeholder="value"
                            name="value" value="•••••••••••••••">
                        <input id="input-secret-{{secret.key}}" *ngIf="secret.visible" type="text" placeholder="value"
                            name="value" value="secret.value">
                        <div (click)="showHideUpdateSecret(secret)">
                            <span *ngIf="secret.visible" class="material-icons-outlined">visibility_off</span>
                            <span *ngIf="!secret.visible" class="material-icons-outlined">visibility</span>
                        </div>
                    </div>
                </div>

                <button class="custom-icon-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before" class="custom-menu">
                    <button mat-menu-item (click)="showUpdateSecret(secret.key)">
                        <span>Update</span>
                    </button>
                    <button mat-menu-item (click)="deleteSecrect(secret.key)">
                        <span>Delete</span>
                    </button>
                </mat-menu>

            </div>
        </div>

    </div>

</div> -->