<div *ngIf="previewMode" class="cds-action-content cds-action-preview" style="position: relative;">

    <div class="action-row">
        <div class="action-row-left">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="none">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M14 17H4v2h10v-2zm6-8H4v2h16V9zM4 15h16v-2H4v2zM4 5v2h16V5H4z" />
            </svg>
        </div>
        <div *ngIf="action?.question" class="action-row-right">
            {{action?.question}}
        </div>
        <div *ngIf="!action?.question" class="action-row-right empty">
            {{'CDSCanvas.EnterTheQuestion' | translate}}
        </div>
    </div>

    <div class="action-row">
        <!-- <div class="action-row-left">
            <img src="assets/images/actions/openai-icon.svg">
        </div> -->
        <div id="gpt-icon" class="action-row-left icon-action">
            <img src="assets/images/actions/openai-icon.svg">
        </div>
        <div *ngIf="action?.model" class="action-row-right">
            <!-- {{getValue('name')}} -->
            {{action?.model}}
        </div>
        <div *ngIf="!action?.model" class="action-row-right empty">
            {{'CDSCanvas.SelectKnowledgeBaseModel' | translate}}
        </div>
    </div>

    <div class="previewContent">
        
        <div class="icon-action">
            <img class="active-icon" src="assets/images/icons/if_condition.svg">
        </div>

        <label class="title-preview-label">{{'CDSCanvas.Success' | translate}}</label>
        
        <cds-connector class="connector-true"
            [idConnector] = "idConnectorTrue"
            [idConnection] = "idConnectionTrue"
            [isConnected] = "isConnectedTrue">
        </cds-connector>
    </div>

    <hr class="preview-divider">

    <div class="previewContent">
       <label class="title-preview-label">{{'CDSCanvas.Else' | translate}}</label>
        <cds-connector class="connector-false"
            [idConnector] = "idConnectorFalse"
            [idConnection] = "idConnectionFalse"
            [isConnected] = "isConnectedFalse">
        </cds-connector>
    </div>

</div>


<div *ngIf="!previewMode" class="content-panel-intent-detail no-footer">


    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.Prompt' | translate}}</label>
        <cds-textarea id="question" 
            [textLimitBtn]="false" 
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true" 
            [minRow]="4"[maxRow]="25" 
            [text]="action?.question" 
            [placeholder]="'CDSCanvas.QuestionToSubmit' | translate"
            (blur)="onBlur($event)"
            (changeTextarea)="onChangeTextarea($event, 'question')">
        </cds-textarea>

        <section class="disable-input-message-section">
            <mat-checkbox 
                [checked]="action?.history"
                (change)="onChangeCheckbox($event,'history')">
                {{"CDSCanvas.UseChatHistoryInPrompt" | translate}}
            </mat-checkbox>
        </section>
    </div>

    <!-- // Section moved to textarea field box -->
    <!-- <div class="field-box">
        <section class="disable-input-message-section">
            <mat-checkbox 
                [checked]="action?.history"
                (change)="onChangeCheckbox($event,'history')">
                {{"CDSCanvas.UseChatHistoryInPrompt" | translate}}
            </mat-checkbox>
        </section>
    </div> -->

     <!-- PREVIEW - START -->
     <div style="width: 100%; display: flex; justify-content: flex-end; margin: 30px 0px 10px 0px">
        <button id="cds-publish-btn" class="btn btn-primary cds-blue-button" type="button" 
            [disabled]="!action.question" (click)="execPreview()">
            <span class="material-icons">preview</span>
            {{'CDSCanvas.Preview' | translate }}
        </button>
    </div>

    <div class="answer-preview" *ngIf="showPreview">
        <div class="header-answer-preview">
            <div class="label-and-button-container">
                <label class="title-label">{{'CDSCanvas.AnswerPreview' | translate }}
                    <span class="subtitle-label">( {{'CDSCanvas.GeneratedWith' | translate }}  {{ (model_list | filter:{key: 'value', value: action?.model }).name }} )</span>
                </label>
                <!-- <button id="cds-publish-btn" class="btn btn-primar set-var-btn" type="button" *ngIf="showVariablesBtn"
                    (click)="showHideVariablesSection()">Set variables
                    <span class="material-icons-round">
                        chevron_right
                    </span>
                </button> -->
            </div>
        </div>

        <div id="preview-container" class="preview-container">

            <div class="placeholder-container" *ngIf="searching">
                <loading-spinner class="custom-spinner"></loading-spinner>
                <span style="margin-left: 8px;">{{'CDSCanvas.GeneratingAnswer' | translate}} ...</span>
            </div>

            <div *ngIf="!searching && !showAiError && ai_response">
                {{ ai_response?.answer }}
            </div>

            <div *ngIf="showAiError">
                {{ ai_error }}
            </div>

        </div>

        <div class="usage-container" *ngIf="!searching && !showAiError ">
            <span style="font-weight: 500;">{{'CDSCanvas.TokensUsage' | translate }}</span>
            <!-- <span>{{'CDSCanvas.Prompt' | translate }}: {{ ai_response.usage.prompt_tokens }}</span> -->
            <!-- <span>{{'CDSCanvas.MaxTokensForAnswer' | translate }}: {{ ai_response.usage.completion_tokens }}</span> -->
            <span style="font-size: 13px;">{{'CDSCanvas.Total' | translate }}: {{ ai_response.prompt_token_size }}</span>
        </div>

    </div>
    <!-- PREVIEW - END -->


    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.ChooseKB' | translate}}</label>
        <cds-select *ngIf="!action?.namespaceAsName" id="text-condition" 
            [items]="listOfNamespaces" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'" 
            [itemSelected]="action.namespace" 
            [placeholder]="'CDSCanvas.SelectNamespace' | translate"
            [clearable]="true" 
            (onSelected)="onChangeBlockSelect($event, 'namespace')"
            (onReset)="onResetBlockSelect($event, 'namespace')">
        </cds-select>
        <!-- KEY -->
        <cds-text *ngIf="action?.namespaceAsName" id="text"
            class="sx-input" 
            [text]="action.namespace"
            [placeholder]="'CDSCanvas.SelectNamespace' | translate"
            [autocompleteOptions]="autocompleteOptions"
            (blur)="onBlur($event)"
            (onChange)="onChangeTextarea($event, 'namespace')">
        </cds-text>

        <section class="disable-input-message-section">
            <mat-checkbox 
                [checked]="action?.namespaceAsName"
                (change)="onChangeCheckbox($event,'namespaceAsName')">
                Use Knwoledge Base name
            </mat-checkbox>
            <label class="field-description">{{ "CDSCanvas.UseKBNameDescription" | translate }}
                <a *ngIf="BRAND_BASE_INFO['DOCS']" href='https://gethelp.tiledesk.com/' target='_blank'>{{ 'LearnMore' | translate }}</a>
            </label>
        </section>
    </div>


    <div class="link-container">
        <a class="link" (click)="goToKNB()">{{'CDSCanvas.ManageKnowledgeBases' | translate}}</a>
    </div>


    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            class="custom-expansion-panel">
            <mat-expansion-panel-header class="disable_ripple">
                <mat-panel-title>
                    {{'CDSCanvas.AISettings' | translate }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>

                <!-- // model select -->
                <div class="field-box">
                    <cds-select id="model-condition"
                        [items]="model_list" 
                        [itemSelected]="action.model"
                        [bindLabelSelect]="'name'" 
                        [bindValueSelect]="'value'"
                        [optionalBindAdditionalText]="'multiplier'" 
                        [optionalBindDescription]="'description'" 
                        (onSelected)="onChangeSelect($event, 'model')">
                    </cds-select>
                </div>

                <!-- // max_tokens slider -->
                <div class="field-box">
                    <label class="title-label">{{'CDSCanvas.MaxTokens' | translate }}</label>
                    <div class="action-wait-content">

                        <div class="action-wait-slider ">
                            <div class="action-wait-range">{{ai_setting['max_tokens'].min}}</div>
                            <mat-slider 
                                class="wait-slider" thumbLabel 
                                [step]="ai_setting['max_tokens'].step"  
                                [min]="ai_setting['max_tokens'].min"
                                [max]="ai_setting['max_tokens'].max"
                                [(ngModel)]="action.max_tokens"
                                (change)="updateSliderValue($event.value, 'max_tokens')" 
                                aria-label="units">
                            </mat-slider>
                            <div class="action-wait-range">{{ai_setting['max_tokens'].max}}</div>
                        </div>
                        <!-- // doesn't work propely -->
                        <!-- <cds-text [text]="action.max_tokens.toString()" [inputType]="'number'" [maxlength]="3" [min]="1" [max]="512" (onChange)="updateSliderValue($event, 'max_tokens')" class="slider-input"></cds-text> -->
                        <input type="text" class="slider-input gpt-setting-input" value="{{action.max_tokens}}" disabled>
                        <!-- <cds-text [text]="action.max_tokens" [disabled]="true" class="slider-input"></cds-text> -->
                    </div>
                </div>

                <!-- // temperature slider -->
                <div class="text-editor-wrapper">
                    <div class="field-box">
                        <label class="title-label">{{'CDSCanvas.Temperature' | translate }}</label>
                        <div class="action-wait-content">

                            <div class="action-wait-slider">
                                <div class="action-wait-range">{{ai_setting['temperature'].min}}</div>
                                <mat-slider 
                                    class="wait-slider" thumbLabel
                                    [step]="ai_setting['temperature'].step"  
                                    [min]="ai_setting['temperature'].min"
                                    [max]="ai_setting['temperature'].max" 
                                    [(ngModel)]="action.temperature"
                                    (change)="updateSliderValue($event.value, 'temperature')" aria-label="units">
                                </mat-slider>
                                <div class="action-wait-range">{{ai_setting['temperature'].max}}</div>
                            </div>
                            <!-- // doesn't work propely -->
                            <!-- <cds-text [text]="action.temperature.toString()" [inputType]="'number'" [maxlength]="4" [min]="0" [max]="1" (onChange)="updateSliderValue($event, 'temperature')" class="slider-input"></cds-text> -->
                            <input type="text" class="slider-input gpt-setting-input" value="{{action.temperature}}" disabled>
                        </div>
                    </div>
                </div>

                <!-- // chunk limit slider -->
                <div class="text-editor-wrapper">
                    <div class="field-box">
                        <!-- <label class="title-label">{{'CDSCanvas.Temperature' | translate }}</label> -->
                        <label class="title-label">{{'CDSCanvas.ChunkLimit' | translate }}</label>
                        <div class="action-wait-content">

                            <div class="action-wait-slider">
                                <div class="action-wait-range">{{ai_setting['temperature'].min}}</div>
                                <mat-slider 
                                    class="wait-slider" 
                                    thumbLabel 
                                    [displayWith]="formatLabel" 
                                    [step]="ai_setting['top_k'].step"  
                                    [min]="ai_setting['top_k'].min"
                                    [max]="ai_setting['top_k'].max" 
                                    [(ngModel)]="action.top_k"
                                    (change)="updateSliderValue($event.value, 'top_k')" aria-label="units">
                                </mat-slider>
                                <div class="action-wait-range">{{ai_setting['top_k'].max}}</div>
                            </div>
                            <!-- // doesn't work propely -->
                            <!-- <cds-text [text]="action.temperature.toString()" [inputType]="'number'" [maxlength]="4" [min]="0" [max]="1" (onChange)="updateSliderValue($event, 'temperature')" class="slider-input"></cds-text> -->
                            <input type="text" class="slider-input gpt-setting-input" value="{{action.top_k}}" disabled>
                        </div>
                    </div>
                </div>

                <!-- // system context textarea -->
                <div class="field-box">
                    <label class="title-label">{{'CDSCanvas.SystemContext' | translate }}</label>
                    <cds-textarea id="context"
                        [emojiPikerBtn]="false" 
                        [limitCharsText]="10000"
                        [minRow]="1" [maxRow]="5" 
                        [text]="action.context" 
                        [placeholder]="'CDSCanvas.YouAreAwesomeAssistant' | translate"
                        (blur)="onBlur($event)"
                        (changeTextarea)="onChangeTextarea($event, 'context')">
                    </cds-textarea>
                </div>

                <!-- // advanced prompt -->                     
                <div class="field-box">
                    <section class="disable-input-message-section">
                        <mat-checkbox 
                            [checked]="action?.advancedPrompt"
                            (change)="onChangeCheckbox($event,'advancedPrompt')">
                            {{"CDSCanvas.AdvancedContext" | translate}}
                        </mat-checkbox>
                    </section>
                    <label class="field-description" *ngIf="action?.advancedPrompt" [innerHTML]='"CDSCanvas.AdvancedContextDesctiption" | translate'></label>
                </div>

                <!-- // citations -->    
                <div class="field-box" *ngIf="action.hasOwnProperty('citations')">
                    <section class="disable-input-message-section">
                        <mat-checkbox 
                            [checked]="action?.citations"
                            (change)="onChangeCheckbox($event, 'citations')">
                            {{"CDSCanvas.Citations" | translate}}
                        </mat-checkbox>
                    </section>
                    <label class="field-description">{{ "CDSCanvas.CitationsDescription" | translate }}
                        <!-- <a *ngIf="BRAND_BASE_INFO['DOCS']" href='https://platform.openai.com/docs/guides/structured-outputs/json-mode' target='_blank'>{{ 'LearnMore' | translate }}</a> -->
                    </label>
                </div>
            

            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <hr class="custom-divider" style="margin-top: 10px;">

    <!-- <div class="field-box">
        <label class="title-label">{{'CDSCanvas.Model' | translate}}</label>
        <cds-select id="text-condition" 
            [items]="model_list" 
            [itemSelected]="action.model"
            [bindLabelSelect]="'name'" 
            [bindValueSelect]="'value'"
            (onSelected)="onChangeSelect($event, 'model')">
        </cds-select>
    </div> -->

    <!-- <div class="field-box">
        <label class="title-label">Namespace</label>
        <cds-select id="text-condition" 
            [items]="namespace_list" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'"
            [searchable]=true
            [clearable]=true
            [itemSelected]="action?.namespace" 
            (onSelected)="onChangeSelect($event)">
        </cds-select>
    </div> -->
    
    <!-- <hr class="custom-divider"> -->

    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.KBReply' | translate}}</label>
        <cds-textarea id="assignTo" 
            [textLimitBtn]="false" 
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true"
            [minRow]="1" [maxRow]="1" 
            [readonly]="true" 
            [text]="action.assignReplyTo"
            (selectedAttribute)="onSelectedAttribute($event, 'assignReplyTo')"
            (clearSelectedAttribute)="onSelectedAttribute($event, 'assignReplyTo')">
        </cds-textarea>
    </div>

    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.KBSource' | translate}}</label>
        <cds-textarea id="assignTo" 
            [textLimitBtn]="false"
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true"
            [minRow]="1" [maxRow]="1" 
            [readonly]="true" 
            [text]="action.assignSourceTo"
            (selectedAttribute)="onSelectedAttribute($event, 'assignSourceTo')"
            (clearSelectedAttribute)="onSelectedAttribute($event, 'assignSourceTo')">
        </cds-textarea>
    </div>

    <div class="field-box">
        <label class="subtitle-label">{{'CDSCanvas.ErrorAutomaticAssign' | translate }}
            <b>flowError</b>
            <!-- <span class="tag-container">
                <span class="tag-label">flowError</span>
            </span> -->
        </label> 
    </div>

    <hr class="custom-divider">

    <div class="field-box">
        <div class="condition-container">
            <div class="icon-action">
                <img class="active-icon" src="assets/images/icons/if_condition.svg">
            </div>
            <label class="condition-text">{{'CDSCanvas.Success' | translate}}</label>
        </div>
        <cds-select id="text-condition" 
            [items]="listOfIntents" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'" 
            [itemSelected]="action?.trueIntent" 
            [placeholder]="'CDSCanvas.SelectABlock' | translate"
            [clearable]="true" 
            (onSelected)="onChangeBlockSelect($event, 'trueIntent')"
            (onReset)="onResetBlockSelect($event, 'trueIntent')">
        </cds-select>
        <!-- <cds-attributes 
            class="cds-attributes" 
            [attributes]="trueIntentAttributes"
            (changeAttributes)="onChangeAttributes($event, 'trueIntent')">
        </cds-attributes> -->
    </div>

    <div class="field-box">
        <div class="condition-container">
            <label class="condition-text">{{'CDSCanvas.Else' | translate | titlecase}}</label>
        </div>
        <cds-select id="text-condition" 
            [items]="listOfIntents" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'" 
            [itemSelected]="action?.falseIntent" 
            [placeholder]="'CDSCanvas.SelectABlock' | translate"
            [clearable]="true" 
            (onSelected)="onChangeBlockSelect($event, 'falseIntent')"
            (onReset)="onResetBlockSelect($event, 'falseIntent')">
        </cds-select>
        <!-- <cds-attributes 
            class="cds-attributes" 
            [attributes]="action.falseIntentAttributes"
            (changeAttributes)="onChangeAttributes($event, 'falseIntent')">
        </cds-attributes> -->
    </div>

    


</div>
