@import "./src/assets/sass/cds/_variables.scss";
    
.text-editor-wrapper:hover {
    .text-editor {
        .response-controls {
            opacity: 1;
        }
    }
}
.text-editor-wrapper {
    font-size: $font-size-base;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    .text-editor {
        position: relative;
        margin: 0;
        padding: 0;


        .box-input {
            // width: calc(100% - 40px);
            // margin-left: 20px;
            width: 100%;
            input {
                border-radius: 8px;
                background: $color-white-hex;
                border: 1px solid $blu-light-02;
                overflow-x: hidden;
                overflow-y: auto;
                // width: calc(100% - 2.5em);
                width: 100%;
                color: $gray;
                font-size: 1.15em;
                line-height: 25px;
                resize: vertical;

                padding: 10px;
                padding-top: 4px;
                padding-bottom: 4px;
                margin: 0px;

                &.customPrefix{
                    padding-left: 20px;
                    width: calc(100% - 20px);
                }
            }

            .input-prefix {
                position: absolute;
                top: 14px;
                left: 8px;
                color: #7d7d7d;
                font-weight: 800;
            }
            
            .input-suffix {
                position: absolute;
                top: 14px;
                right: 8px;
                color: #7d7d7d;
                font-weight: 800;
            }
        }

    }

    .editor-utils {
        position: relative;
        margin: -20px 50px 0px 0px;
        float: right;
        .num-chars {
            background: $blu-light-01;
            padding: 0px 8px;
            border-radius: 10px;
            font-size: 0.8em;
            color: $blu;
            float: right;
            &.error {
                background: red;
                color: white;
            }
        }
        .text-editor-insert-attribute {
            float: right;
        }
        .moji-picker {
            float: right;
        }
    }

    
}


/** TEXT **/
mat-form-field.mat-form-field ::ng-deep {
    .mat-form-field-infix{
        border-top: 0px !important;
        input{
            &:hover{
                border: 1px solid $blu !important;
                outline: 0px solid $blu !important;
            }
        }
    }
}

mat-form-field.mat-focused ::ng-deep {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                display: flex;
                input {
                    border: 1px solid $blu!important;
                    outline: 0px solid $blu!important;
                    transition: border .3s;
                    &.invalid{
                        border: 1px solid red !important;
                        outline: 0px solid red !important;
                        transition: border 0.3s;
                    }
                    
                }
            }
        }
    }
}
mat-form-field.box-input ::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom:0;
        .mat-form-field-flex {
            border-radius: 4px 4px 0 0;
            // padding: 0 0.75em 0 0.75em;
            padding: 0px;
            margin: 0px;
            background: transparent;
        }
    }
    .mat-form-field-underline {
        display: none;
    }   
    .mat-form-field-infix {
        display: flex;
        width: 100%;
        padding: 0px;
    } 
}


// Hide arrows inside the input of type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}