.cds-widget-log-container {
  min-height: 0px;
  max-height: calc(100vh - 65px);
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  z-index: 20;
  position: absolute;
  bottom: 0;
  overflow: hidden; 
  &.closed {
    height: 30px!important;
    min-height: 30px;
    transition: height 0.3s ease-in-out;
    // .resize-handle {
    //   cursor: auto; 
    // }
  }
}

.cds-widget-log-container.closed .content-log {
  display: none;
}


.resize-handle {
  width: 100%;
  height: 30px; 
  // background-color: var(--blu-light-04);
  background-color: white;
  border-top: 1px solid var(--gray-light-02);
  border-bottom: 1px solid var(--gray-light-02);
  cursor: ns-resize; 
  position: relative;
  font-size: 12px;
  padding: 0 20px;
  font-weight: 500;
}

.resize-handle .buttons-header-right {
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
  height: 28px;
  .button-img {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  ::ng-deep mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ::ng-deep mat-icon.run svg{
    height: 15px;
  }
  ::ng-deep mat-icon.bin svg{
    height: 16px;
  }
  ::ng-deep mat-icon.closeLog svg{
    height: 20px;
  }
}


.arrow-down {
  transform: scaleY(-1);
}

.arrow-up {
  transform: scaleY(1);
}

.content-log {
  display: inline-block;
  text-align: left;
  font-size: 12px;
  color: var(--gray);
  overflow-y: auto;
  height: calc(100% - 30px);
  position: relative;
  width: 100%;
}


.row-log {
  padding: 0 10px 0 4px;
  padding: 0 10px 0 4px;
  display: flex;
  height: auto;
  min-height: 24px;
  overflow:visible;
  max-height: 1000px;
  border-bottom: 1px solid var(--gray-light-02);
  transition: max-height 0.3s ease, padding 0.3s ease;
  .row-log-button {
    display: inline-block;
    cursor: pointer;
    width: 0px;
    height: 24px;
    font-size: 20px;
    margin-top: 3px;
    transition: transform 0.3s ease;
    opacity: 0;
    &.open {
      transform: rotate(90deg); 
    }
  }
 
  &.closed{
    max-height: 25px;
    overflow: hidden;
  }
}



.row-log-time {
  font-size: 11px;
  font-weight:initial;
  color: var(--gray);
  display: inline-block;
  width: 120px;
}

.row-log-level {
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  width: 55px;
  &.info{
    color: #1b6ef3;
  }
  &.warning{
    color: #e96725;
  }
  &.error{
    color: #dc362e;
  }
}

.row-log-text {
  user-select: text;
  height: fit-content;
  font-size: 12px;
  color: var(--gray);
  display: inline-block;
  width: calc(100% - 195px);
}

.row-log-goto {
  display: flex;
  align-items: flex-start;
  width: 24px;
  cursor: pointer;
  .mat-icon{
    display: none;
    display: none;
    width: 18px;
    height: 18px;
    fill:var(--blu);
  }
}

.row-log:hover {
  .row-log-goto {
    .mat-icon {
      display: flex;
    }
    .mat-icon {
      display: flex;
    }
  }
}


.row-log-loading {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 25px;
  padding: 2px 5px;
  background: var(--blu-light-01);
  margin-bottom: 20px;
  .loading-loader {
    margin-left: 10px;
    margin-top: 0px;
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid var(--blu); //#3498db;
    border-top: 2px solid var(--gray-light-02);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  .loading-label {
    font-size: 11px;
    margin: 0 10px;
    font-weight: 500;
    color: var(--blu);
  }
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: var(--gray-light-02);
  border-radius: 50%;
  animation: dotFlashing 1s infinite linear alternate;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dotFlashing {
  0% {
      opacity: 0.1;
  }
  50%,
  100% {
      opacity: 1;
  }
}

.dropdown-container {
  position: absolute;
  top: 3px;
  label {
    font-family: var(--font-family-poppins);
    color: var(--blu);
    font-size: 12px;
    padding-right: 10px;
  }
  select {
    padding: 0px;
    font-size: 12px;
    border: none;
    color: var(--blu);
    background-color: #fafafa;
  }
}




@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.button-log-panel {
  position: absolute;
  z-index: 10;
  height: 47px;
  left: 10px;
  bottom: 12px;
  padding: 4px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(19, 33, 68, 0.01) 0px 1px 3px 1px, rgba(19, 33, 68, 0.12) 0px 5px 8px -8px, rgba(19, 33, 68, 0.12) 0px 2px 4px -3px, rgba(19, 33, 68, 0.03) 0px 0px 0px 1px;
  overflow: hidden;
  transition: height 0.15s ease 0s;
  border: 2px solid var(--gray-02);
  display: flex;
  flex-direction: row;
  .cds-box-button {
    transition: background-color 0.15s ease 0s;
    width: 35px;
    height: 35px;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .box-img {
      width: 24px;
      height: 24px;
    }
  }
  .cds-box-button:hover, 
  .cds-box-button:focus {
      background-color: var(--gray-02);
  }
}