<div class="extensions-response" *ngIf="!previewMode">

    <div class="delay-wrapper" [ngStyle]="{width: canShowFilter? 'auto': '100%'}">
        <appdashboard-delay-slider-new
            [delayTime]="delayTime"
            (changeDelayTime)="onChangeDelayTime($event)"
            (clickDelayTime)="onClickDelayTime($event)">
        </appdashboard-delay-slider-new>
    </div>

    <div class="add-filter-btn-wrp" *ngIf="canShowFilter && filterConditionExist">
        <span class="material-icons-outlined">filter_alt</span>
        {{'CDSCanvas.Filter' | translate }}
    </div>
    <div class="filter-wrapper" *ngIf="canShowFilter"
        [ngStyle]="{width: filterConditionExist? '100%': 'auto'}">
        <base-filter-new
            [expression]="response._tdJSONCondition"
            [booleanOperators]="booleanOperators"
            [previewMode]="previewMode"
            (onChangeExpression)="onChangeExpression($event)">
        </base-filter-new>
    </div>
</div>


<div *ngIf="previewMode" class="image-editor-wrapper previewMode">
    <div class="image-editor">
        <div *ngIf="!response.metadata.src" class="response-image-uploader-wrapper no-image">
            <div class="image">
                <mat-icon svgIcon="add_image" aria-hidden="true"></mat-icon>
            </div>
            <div class="text">{{'CDSCanvas.ClickToAddImage' | translate }}</div>
        </div>
        <div *ngIf="response.metadata.src" class="response-image-uploader-wrapper">
            <cds-image-upload
                class="image-upload"
                [metadata]="response.metadata"
                (onChangeMetadata)="onChangeMetadata($event)">
            </cds-image-upload>
        </div>
        <div class="response-wrp" *ngIf="response.text">{{response.text}}</div>
        <div class="response-wrp no-text" *ngIf="!response.text">{{'CDSCanvas.ClickToAddText' | translate }}</div>
    </div>
</div>


<div class="image-type-toggle cds-toggle-group" *ngIf="!previewMode">
    <button type="button"
            value="upload"
            data-testid="image-editor__image__tab__upload"
            class="cds-toggle-btn"
            [class.selected]="imageType === 'upload'"
            (click)="onSelectImageType('upload')">
        <span class="cds-toggle-label">Upload</span>
    </button>
    <button type="button"
            value="link"
            data-testid="image-editor__image__tab__link"
            class="cds-toggle-btn"
            [class.selected]="imageType === 'link'"
            (click)="onSelectImageType('link')">
        <span class="cds-toggle-label">Link</span>
    </button>
</div>

<div class="image-editor-wrapper" *ngIf="!previewMode">
    <div class="image-editor">
        <div class="response-image-uploader-wrapper">
            <cds-image-upload
                *ngIf="imageType === 'upload'"
                class="image-upload"
                [metadata]="response.metadata"
                (onChangeMetadata)="onChangeMetadata($event)"
                (onDeletedMetadata)="onDeletedMetadata($event)">
            </cds-image-upload>
            <cds-image-url
                *ngIf="imageType === 'link'"
                class="image-upload"
                [metadata]="response.metadata"
                (onChangeMetadata)="onChangeMetadata($event)"
                (onDeletedMetadata)="onDeletedMetadata($event)">
            </cds-image-url>
        </div>

        <cds-textarea
            class="text-editable-div"
            [text]="response.text"
            [minRow]="1"
            [maxRow]="3"
            popoverVerticalAlign="above"
            (blur)="onBlur($event)"
            (changeTextarea)="onChangeTextarea($event)">
        </cds-textarea>
    </div>
</div>


<div
    class="buttons-response button-replies"
    [class.previewMode]="previewMode"
    [class.disabled]="response?.attributes?.attachment?.json_buttons">
    <div *ngFor="let button of buttons; let i = index; let last = last" class="cds-reply-button-element">

        <cds-action-reply-button-new [class.connected]='button.__isConnected'
            (click)="$event.stopPropagation(); onOpenButtonPanel(button)"
            [button]="button"
            [previewMode]="previewMode"
            [isLast]="last"
            (onButtonControl)="onButtonControl($event, i)">
        </cds-action-reply-button-new>

        <cds-connector *ngIf="previewMode && button.type !== TYPE_BUTTON.URL"
            class="button-connector"
            [idConnector]="button.__idConnector"
            [idConnection]="button.__idConnection"
            [isConnected]="button.__isConnected">
        </cds-connector>

    </div>

    <div class="button-reply-add single-btn-reply" (click)="$event.stopPropagation();onButtonControl('new', index)">
    + {{'CDSCanvas.AddButton' | translate }}
    </div>

</div>


<cds-action-reply-jsonbuttons-new
    *ngIf="!previewMode"
    [jsonBody]="jsonBody"
    (changeJsonButtons)="onChangeJsonButtons($event)">
</cds-action-reply-jsonbuttons-new>
