<div data-adding-allowed="true" class="add-responses">
    <div class="add-response" (click)="addElement(TypeMessage.TEXT)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Text' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <img class="active-icon" src="assets/images/action-reply-types/text.svg"/>
        <!-- <span>{{'Text' | translate}}</span> -->
    </div>

    <div class="add-response" (click)="addElement(TypeMessage.IMAGE)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Image' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <img class="active-icon" src="assets/images/action-reply-types/image.svg"/>
        <!-- <span>{{'Image' | translate}}</span> -->
    </div>
    <div class="add-response" (click)="addElement(TypeMessage.FRAME)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Frame' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <!-- <i class="material-icons">play_circle</i> -->
        <img class="active-icon" src="assets/images/action-reply-types/file.svg"/>
        <!-- <span>{{'Frame' | translate}}</span> -->
    </div>
    <div data-add-response-type="Type.GALLERY" class="add-response" (click)="addElement(TypeMessage.GALLERY)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Gallery' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <!-- <i class="material-icons">view_carousel</i> -->
        <img class="active-icon" src="assets/images/action-reply-types/gallery.svg"/>
        <!-- <span>{{'Gallery' | translate}}</span> -->
    </div>
    <div data-add-response-type="Type.REDIRECT" class="add-response" (click)="addElement(TypeMessage.REDIRECT)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Redirect' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <!-- <i class="material-icons">launch</i> -->
        <img class="active-icon" src="assets/images/action-reply-types/redirect.svg"/>
        <!-- <span>{{'Redirect' | translate}}</span> -->
    </div>
</div>