.action-connector {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-self: center;
    height: 20px;
    width: 20px;
    margin: 0;
}

.block-line {
    .pre-line{
        position: absolute;
        fill: red;
        width: 10px;
        background-color: black;
        height: 2px;
        z-index: 9999;
        right: -8px;
        top: 46%;
        display: block;
    }
}


.block-connector {
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    // &[disabled = "true"]{
    //     cursor: not-allowed !important;
    //     opacity: 0.6;

    //     .point-connector,
    //     .point-connector-empty,
    //     .point-connector-empty:hover{
    //         cursor: not-allowed !important;
    //         pointer-events:none;
    //     }

    // }
    
    // cursor: copy;
}

.point-connector {
    // background: #e4e4e7;
    border: 0px solid;
    // border-color: rgba(0,0,0,.12);
    // background: #b1b1b7;
    width: 10px;
    height: 10px;
}


.point-connector-empty {
    box-shadow: none;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    transition: width 0.1s ease 0s, height 0.1s ease 0s, background-color 0.1s ease 0s, border 0.1s ease 0s;
    width: 18px;
    height: 18px;
    // background: rgb(0 0 0 / 50%);
    background: rgb(168, 168, 174);
    cursor: copy;
    &::before {
        inset: 1px;
        border: 4px solid rgb(255, 255, 255);
        transition: inset 0.1s ease 0s, border 0.1s ease 0s;
        position: absolute;
        content: "";
        border-radius: 50%;
    }
    &:hover{
        background: rgb(168, 168, 174);
        border: 0px;
        cursor: copy;
    }
}




.point-connector {
    box-shadow: none;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    transition: width 0.1s ease 0s, height 0.1s ease 0s, background-color 0.1s ease 0s, border 0.1s ease 0s;
    width: 16px; //14px
    height: 16px; //14px
    background-color: rgb(221,221,221,1);
    cursor: default;
    &::before {
        inset: 0px;
        border: 1px solid rgb(168, 168, 174);
        transition: inset 0.1s ease 0s, border 0.1s ease 0s;
        position: absolute;
        content: "";
        border-radius: 50%;
    }
}