@import "./src/assets/sass/cds/styles.scss";

.text-editor-wrapper {
    font-size: var(--font-size-base);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    .text-editor {
        position: relative;
        margin: 0;
        padding: 0;
    }
}

/** TEXT AREA **/
mat-form-field.mat-focused ::ng-deep {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            padding: 0px;
            .mat-form-field-infix {
                textarea {
                    border: 1px solid var(--blu) ;
                    // outline: 0px solid var(--blu);
                    transition: border 0.3s;
                    &.invalid{
                        border: 1px solid red !important;
                        // outline: 0px solid red !important;
                        transition: border 0.3s;
                    }
                }
            }
        }
    }
}
mat-form-field.box-textarea ::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-flex {
            border-radius: 4px 4px 0 0;
            padding: 0px;
            // padding: 0 0.75em 0 0.75em;
            margin: 0;
            background-color: transparent !important;
        }

        .mat-form-field-infix {
            padding: 0px;
            border-top: 0px;
            display: flex;
        }
    }
    .mat-form-field-underline {
        display: none;
    }
}

/** box-textarea **/
.box-textarea {
    width: 100%;
    // margin-left: 20px;
    textarea {
        border-radius: var(--input-border-radius-base);
        background: var(--color-white-hex);
        border: 1px solid var(--blu-light-02);
        overflow-x: hidden;
        overflow-y: auto;
        color: var(--gray);
        font-size: 1.15em;
        line-height: 25px;
        resize: vertical;

        // width: calc(100% - 2.5em);
        padding: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin: 0px;
        // resize: none;
        height: 26px;
        min-height: 26px;

    }
}

/** editor-utils **/
.editor-utils {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: -10px;
    right: 20px;
    z-index: 1;
    // float: right;

    .tpl-text-limit {
        pointer-events: none;
        transition: background-color 0.3s, color 0.3s;
        min-width: 45px;
        .num-chars {
            background: var(--blu-light-01);
            flex-shrink: 0;
            padding: 0px 8px;
            border-radius: 10px;
            font-size: 0.8em;
            color: var(--blu);
            float: right;
            line-height: 24px;
            font-weight: 700;
            // width: 40px;
            text-align: center;
            &.error {
                background: var(--color-red-hex);
                color: var(--color-white-hex);
            }
        }
    }

    .text-editor-insert-attribute {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        align-items: center;
        background: var(--color-white-hex);
        border-radius: 100%;
        -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 19%);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 19%);
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 24px;
        width: 24px;
        justify-content: center;
        color: var(--blu);
        border: 1px solid var(--blu-light-02);
        &:hover {
            background: var(--blu);
            color:var(--color-white-hex) ;
        }
    }
    .emoji-picker {
        .emoji-picker-button {
            align-items: center;
            background: var(--color-white-hex);
            border-radius: 100%;
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 19%);
            cursor: pointer;
            display: flex;
            height: 24px;
            width: 24px;
            justify-content: center;
            color: var(--blu);
            border: 1px solid var(--blu-light-02);
            &:hover {
                background: var(--blu);
                color:var(--color-white-hex) ;
            }
        }
    }
    
}

.box-emoji-mart {
    height: 1px;
    visibility: hidden;
    &.picker-visible {
        height: auto;
        visibility: visible;
    }
}


.text-editor-wrapper {
    .tag-content {
        overflow: hidden;
        margin: auto 10px;
        font-size: 12px;
        line-height: 22px;
    }
    .tag {
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        margin: 3px;
        height: fit-content;
        padding: 2px;
        max-width: calc(100% - 25px);
        background-color: var(--blu);
        color: var(--color-white-hex);
        .close{
            position: absolute;
            display: flex;
            top: -5px;
            right: -7px;
            width: 17px;
            height: 17px;
            font-size: 13px;
            border-radius: 50%;
            background: var(--color-white-hex);
            border: 1px solid var(--blu);
            color: var(--blu);
            cursor: pointer;
            opacity: 1;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            &:hover{
                background: var(--blu-light-03);
            }
        }
    }
}

.div-textarea {
    &.hidden {
        display: none;
    }
}

.text-editor {
    &.hidden {
        display: none;
    }
}


.div-textarea {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    background: var(--color-white-hex);
    border: 1px solid var(--blu-light-02);
    border-radius: 0 var(--base-radius) var(--base-radius) 0;
    border-radius: 0 var(--input-border-radius-base) var(--input-border-radius-base) 0;

    margin: 0px;
    opacity: 1;
    &.hidden {
        opacity: 0;
        height: 0;
        border: none;
    }
    .label-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        height: 26px;
        display: inline-block;
        margin: auto 0;
    }
  }