<!-- <div class="insp-title">
  <mat-icon class="version-icon" title="V3 Component">star</mat-icon>
</div> -->
<div class="cds-action-content" [class.cds-action-preview]="previewMode">
    <div class="box-up" *ngIf="!previewMode">

        <cds-action-reply-tools-new
            [idAction]="idAction"
            (addNewActionReply) = onAddNewActionReply($event)>
        </cds-action-reply-tools-new>

    </div>

    <!-- ---------------------------------------------- -->
    <!-- Add block placeholder -->
    <!-- ---------------------------------------------- -->
    <div *ngIf="arrayResponses?.length === 0"
        class="reply--action-placeholder">
        <div class="reply--action-placeholder-text">
            {{'CDSCanvas.AddContentsToReply' | translate }}
        </div>
    </div>

    <div class="box-content" [class.previewMode]="previewMode">

        <div class="reply-info" *ngIf="typeAction === typeActions.RANDOM_REPLY">{{actionList.RANDOM_REPLY.doc+'.DESCRIPTION' | translate }}</div>

        <div #scrollMe id="scrollMe"
            class="content draggable-list reply-scroll-list">

            <div *ngFor="let command of arrayResponses; let i = index; let odd = odd; let length = count">

                <div *ngIf="odd"
                    class="draggable-box"
                    (onClick)="onOpenPanelActionDetail(command)"
                    [ngStyle]="{'border': command.type === typeCommand.WAIT? 'none' : ''}">

                    <div class="reply-row">

                        <cds-reply-controls-new *ngIf="!previewMode && typeAction !== typeActions.RANDOM_REPLY"
                            [isFirst]="i === 1"
                            [isLast]="i === length - 1"
                            (deleteReply)="onDeleteActionReply(i)"
                            (moveToTop)="onMoveToTopResponse(i)"
                            (moveUp)="onMoveUpResponse(i)"
                            (moveDown)="onMoveDownResponse(i)"
                            (moveToBottom)="onMoveToBottomResponse(i)">
                        </cds-reply-controls-new>

                        <div class="reply-content">

                        <!-- TEXT RESPONSE: only odd element -->
                        <div *ngIf="command.message?.type === typeMessage.TEXT" >
                        <div class="response">
                            <cds-action-reply-text-new
                                [index] = i
                                [idAction] = "idAction"
                                [response] = "command.message"
                                [wait] = "arrayResponses[i-1]"
                                [previewMode] = "previewMode"
                                (openButtonPanel) = onOpenButtonPanel($event)
                                (createNewButton) = onCreateNewButton($event)
                                (deleteButton) = onDeleteButton($event)
                                (updateAndSaveAction) = onUpdateAndSaveAction($event)
                                (changeActionReply) = onChangeActionReply($event)
                                (changeJsonButtons) = "onChangeJsonButtons($event, i)">
                            </cds-action-reply-text-new>
                        </div>
                    </div>

                    <!-- IMAGE RESPONSE -->
                    <div *ngIf="command.message?.type === typeMessage.IMAGE">
                        <div class="response">
                            <cds-action-reply-image
                                [index] = i
                                [idAction] = "idAction"
                                [response] = "command.message"
                                [wait] = "arrayResponses[i-1]"
                                [previewMode] = "previewMode"
                                (openButtonPanel) = onOpenButtonPanel($event)
                                (createNewButton) = onCreateNewButton($event)
                                (deleteButton) = onDeleteButton($event)
                                (updateAndSaveAction) = onUpdateAndSaveAction($event)
                                (changeActionReply) = onChangeActionReply($event)
                                (changeJsonButtons) = "onChangeJsonButtons($event, i)">
                            </cds-action-reply-image>
                        </div>
                    </div>

                    <!-- FRAME RESPONSE -->
                    <div *ngIf="command.message?.type === typeMessage.FRAME">
                        <div class="response">
                            <cds-action-reply-frame
                                [index] = i
                                [idAction] = "idAction"
                                [response] = "command.message"
                                [wait] = "arrayResponses[i-1]"
                                [previewMode] = "previewMode"
                                (changeActionReply) = onChangeActionReply($event)>
                            </cds-action-reply-frame>
                        </div>
                    </div>

                    <!-- REDIRECT RESPONSE -->
                    <div *ngIf="command.message?.type === typeMessage.REDIRECT">
                        <div class="response">
                            <cds-action-reply-redirect
                                [index] = i
                                [idAction] = "idAction"
                                [response] = "command.message"
                                [wait] = "arrayResponses[i-1]"
                                [previewMode] = "previewMode"
                                (changeActionReply) = onChangeActionReply($event)>
                            </cds-action-reply-redirect>
                        </div>
                    </div>

                    <!-- GALLERY RESPONSE -->
                    <div *ngIf="command.message?.type === typeMessage.GALLERY">
                        <div class="response">
                            <cds-action-reply-gallery
                                [index] = i
                                [idAction] = "idAction"
                                [response] = "command.message"
                                [wait] = "arrayResponses[i-1]"
                                [previewMode] = "previewMode"
                                (openButtonPanel) = onOpenButtonPanel($event)
                                (changeActionReply) = onChangeActionReply($event)
                                (updateAndSaveAction) = onUpdateAndSaveAction($event)>
                            </cds-action-reply-gallery>
                        </div>
                    </div>

                        </div><!-- /reply-content -->
                    </div><!-- /reply-row -->

                    <hr class="preview-divider" *ngIf="i !==length-1 && previewMode">

                </div>

            </div>

        </div>

    </div>


    <div class="box-dw" *ngIf="!previewMode">
        <div class="disable-input-message">
            <section class="disable-input-message-section">
                <mat-checkbox
                    [checked]="action?.attributes?.disableInputMessage"
                    (change)="onDisableInputMessage()">
                    {{"DisableUserInput" | translate}}
                </mat-checkbox>
            </section>
        </div>
    </div>

</div>
