@import "./src/assets/sass/cds/_variables.scss";

.previewContent{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding: 3px 0px;
}

.previewContent#capture-user-reply {
    justify-content: flex-start;
}

.cds-action-preview{
    .title-preview-label{
     color: #6c6859;
     font-size: 12px; 
     margin: 0px;
    }

    .icon-action img{
        height: 16px;
        filter: brightness(0) saturate(100%) invert(42%) sepia(2%) saturate(2720%) hue-rotate(9deg) brightness(91%) contrast(81%);
    }

}


div {

    .flex {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .close {
            // height: 16px;
            width: 17px;
            top: -7px;
            right: -7px;
            font-size: 15px;
            border-radius: 50%;
            background: white;
            cursor: pointer;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;

            &:hover {
                background: #ecb606;
                color: white;
            }
        }
    }

    div.tag {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 8px;
        right: unset;
        border-radius: 7px;
        margin: 5px;
        padding: 5px 10px;
        background-color: #ecb606;
        color: white;

    }
}


