<div id="search">
    <span class="material-icons">search</span>
    <input type="text" 
        [placeholder]="'CDSCanvas.TypeSearchValue' | translate" 
        [(ngModel)]="textVariable"
        (ngModelChange)="onChangeSearch($event)">
</div>
<div id="variable-list-scrollMe">
    <div id="data" *ngIf="filteredVariableList && filteredVariableList[0].elements.length > 0">
        <mat-expansion-panel [expanded]="true" id="userDefined">
            <mat-expansion-panel-header class="specific-class">
                <mat-panel-title>
                    <div class="category-name">{{ 'CDSvariablesList.'+filteredVariableList[0].key | translate}}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let variable of filteredVariableList[0].elements" (click)="onVariableSelected(variable)" class="category-row">
                <span class="material-icons">data_object</span>
                <label class="category-row-name ellips">{{variable?.name}}</label>
                <span class="material-icons-outlined delete" (click)="$event.stopPropagation(); onVariableDelete(variable)">delete</span>
            </div>
        </mat-expansion-panel>
    </div>
    <div id="data" *ngFor="let item of filteredIntentVariableList; let index= index">
        <mat-expansion-panel [expanded]="(index===0 || isSearching)? true: false" *ngIf="item && item.elements.length > 0">
            <mat-expansion-panel-header class="specific-class">
                <mat-panel-title>
                    <div class="category-name">{{ 'CDSvariablesList.'+item.key | translate}}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let variable of item.elements" (click)="onVariableSelected(variable)" class="category-row">
                <span class="material-icons">{{variable?.icon}}</span>
                <label class="category-row-name ellips">{{variable?.name}}</label>   
                <div *ngIf="variable?.description"
                    matTooltipClass="cds-mat-tooltip"  matTooltip="{{ variable?.description | translate: BRAND_BASE_INFO }}" #tooltip="matTooltip" matTooltipPosition='left' matTooltipHideDelay="100">
                    <span class="material-icons-outlined">info</span>
                </div>

                <!-- <sat-popover #descriptionTooltip id="descriptionTooltip" 
                    hasBackdrop 
                    verticalAlign="center" 
                    horizontalAlign="after" 
                    (backdropClicked)="descriptionTooltip.close()" 
                    panelClass="description-tooltip">
                    <div class="tooltip-wrp">
                        <div class="caret_tooltip"></div>
                        <span [innerHTML]="variable?.description"></span>
                    </div>
                </sat-popover>  -->
            </div>
        </mat-expansion-panel>
    </div>
    <div id="data" *ngIf="filteredGlobalsList && filteredGlobalsList[0].elements.length > 0">
        <mat-expansion-panel expanded="false" id="globals">
            <mat-expansion-panel-header class="specific-class">
                <mat-panel-title>
                    <div class="category-name">{{ 'CDSvariablesList.'+filteredGlobalsList[0].key | translate}}</div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let variable of filteredGlobalsList[0].elements" (click)="onVariableSelected(variable)" class="category-row">
                <span class="material-icons">lock</span>
                <label class="category-row-name ellips">{{variable?.name}}</label>
            </div>
        </mat-expansion-panel>
    </div>
    <div id="no-data" *ngIf="isEmpty">
       <div class="no-result">
            <span class="material-icons">search</span>
            <span class="text ellips">{{'CDSCanvas.NoVariableFound' | translate }}</span>
       </div>
    </div>
</div>

<div id="add-attribute" (click)="onAddCustomAttribute()">
    <span class="material-icons">add</span>
    <div>{{'CDSCanvas.AddCustomAttributes' | translate }}</div>
</div>


