
<div *ngIf="previewMode" class="cds-action-preview">
    
    <div class="action-delay-preview"> 
        <em class="delay--icon material-icons">timelapse</em>
        <div class="delay--time">+{{action.millis/1000}}s {{'CDSCanvas.delay' | translate }}</div>
    </div>

</div>




<div *ngIf="!previewMode" class="content-panel-intent-detail">

    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.DelayTime' | translate}}: <b>{{delayTime}}s</b></label>
        <div class="action-wait-content" >

            <!-- tickInterval="1000" -->
            <div class="action-wait-slider" *ngIf="delayTime < 15">
                <div class="action-wait-range">0.5s</div>
                <mat-slider class="wait-slider" thumbLabel 
                    [displayWith]="formatLabel"
                    step="0.5" min="0.5" max="15"
                    [(ngModel)]="delayTime"
                    (change)="updateWaitValue($event)"  
                    aria-label="units">
                </mat-slider>

                <div class="action-wait-range">15s</div>
            </div>

            <div class="action-wait-slider" *ngIf="delayTime >= 15">
                <em class="delay-button material-icons">timelapse</em>
                <mat-form-field class="box-input" appearance="fill">
                    <!-- [disabled]="disabled" -->
                    <input matInput
                        #input_text id="input_text"
                        type="number"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="1"
                        [(ngModel)]="delayTime"
                        min="0.5" max="120"
                        (focus)="onFocusInput()"
                        (focusout)="onFocusOut()"
                        (ngModelChange)="onChangeText($event)"/>
                    <span matSuffix>s</span>
                </mat-form-field>
                <!-- <div class="delay-range">s</div>  -->
            </div>
        </div>
    </div>

</div>