@import "./src/assets/sass/cds/_variables.scss";

.is-in-drop-event{
    background-color: rgba(255, 255, 255, 0.3);
}

.inputUploadImage {
    color: $blu-light-02;;
    cursor: pointer;
    div.image{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        margin: auto;
        
    }
}

.labelDropUploadImage {
    display: block;
    width: 100%;
    height: 100%;
    color: $blu-light-02;;
    text-wrap: wrap;
    font-weight: 300;
    span {
        user-select: none;
    }
}

.dropUploadImage {
    border: 2px dashed $blu-light-02;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;
    // margin: 15px;
    position: relative;
    // width: calc(100% - 30px);
    // height: calc(100% - 30px);
    min-height: 210px;
    &:hover{
        opacity: 0.5;
    }
}

#imageUploaded {
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
    vertical-align: middle;
}

.image-wrp{
    .control-button {
        &.delete {
            color: $blu;
            position: absolute;
            top: 0px;
            right: 0px;
            margin-right: 0px;
            opacity: 0;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
    }
    &:hover{
        .control-button {
            &.delete {
                margin-right: -24px;
                opacity: 1;
            }
        }
    }
}

::ng-deep .custom-spinner {
    padding: 17px 0px;
    .sk-fading-circle {
        width: 40px !important;
        height: 40px !important;
        margin: 0px !important;
    }

    .sk-fading-circle .sk-circle:before {
        background-color: $blu !important;
    }

}