@import "./src/assets/sass/cds/_variables.scss";

.content {
    padding: 20px 0 30px 0;
    margin-left: 30px;
    margin-right: 30px;
}

.title-label {
    color: $blu;
    font-size: 16px;
    margin-bottom: 0px;
}