<!-- La tavolozza come pannello: le categorie si aprono qui dentro, una sotto l'altra.
     Prima era una striscia di icone e l'elenco vero compariva passandoci sopra col mouse: in
     una scheda quel menu' non ha dove comparire, e il pannello restava vuoto. -->
<div class="cds-actions-panel">

    <div class="cds-actions-panel__search">
        <mat-icon class="cds-actions-panel__search-icon" svgIcon="search" aria-hidden="true"></mat-icon>
        <input type="text"
            [(ngModel)]="searchText"
            (ngModelChange)="onSearchChange()"
            [attr.placeholder]="'CDSCanvas.SearchAction' | translate">
        <button type="button" class="cds-actions-panel__clear" *ngIf="searchText"
            (click)="clearSearch()">&times;</button>
    </div>

    <div class="cds-actions-panel__body">
        <div class="cds-actions-cat" *ngFor="let category of ACTION_CATEGORY">
            <ng-container *ngIf="visibleActions(category.type)?.length > 0">

                <button type="button" class="cds-actions-cat__header"
                    (click)="toggleCategory(category.type)">
                    <mat-icon class="cds-actions-cat__icon" [svgIcon]="category.src" aria-hidden="true"></mat-icon>
                    <span class="cds-actions-cat__name">{{ category.name | translate }}</span>
                    <span class="cds-actions-cat__count">{{ visibleActions(category.type).length }}</span>
                    <span class="cds-actions-cat__chevron" [class.is-open]="isCategoryOpen(category.type)">&rsaquo;</span>
                </button>

                <div class="cds-actions-cat__body" *ngIf="isCategoryOpen(category.type)">
                    <cds-panel-actions
                        [actionsList]="visibleActions(category.type)"
                        [stageDropListId]="stageDropListId"
                        [menuType]="TYPE_OF_MENU.ACTION"
                        [menuCategory]="category.type"
                        (isDraggingMenuElement)="onDraggingMenuElement($event)"
                        (hideActionPlaceholderOfActionPanel)="onHideActionPlaceholderOfActionPanel($event)">
                    </cds-panel-actions>
                </div>

            </ng-container>
        </div>

        <div class="cds-actions-panel__empty" *ngIf="searchText && !hasAnyVisible()">
            {{ 'CDSCanvas.NoActionFound' | translate }}
        </div>
    </div>
</div>
