@import "./src/assets/sass/cds/_variables.scss";


$text-color: var(--blu);
$icon-color: var(--gray-light-01);
$text-hover-color: var(--blu);
$icon-hover-color: var(--blu);
$base-padding: 6px;

:host{
    --tooltip-top-position: 0px;
}

#panel_actions_div{
    // position: absolute;
    padding: 0px;
    box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;
    .menu-dragging,
    .coming-soon {
        overflow: hidden;
        padding: $base-padding 0px ;
    }
    .section-title {
        padding-top: 3px;
        font-size: 11px;
        font-weight: 600;
        font-family: var(--font-family-poppins);
        color: #394f5a;
        height: 30px;
        padding: 6px;
        background-color: #e7eeefcc;
        margin: 2px;
        border-radius: 6px;
    }
}


.action-box {
    padding: 0px $base-padding;
}

.actions-btns-wpr {
    // width: 136px; // dp
    width: 100%; // nk
    height: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0px 2px;
    &:hover{
        cursor: -webkit-grab; 
        cursor: grab;
        box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;

        img{
            filter: brightness(0) saturate(100%) invert(35%) sepia(48%) saturate(441%) hue-rotate(183deg) brightness(97%) contrast(88%);
            cursor: -webkit-grab; 
            cursor: grab;
        }

        .action-btn-text{
            color: $text-hover-color
        }
    }

}


.action-btn-icon {
    display: inline-flex;
    color: $text-color;
    padding: 0;
    vertical-align: middle;
    // margin: 0 6px;
    .btn-tdblu-no-boxshadow {
        margin: 0;
        padding: 0!important;
        background: transparent !important;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
    }
}


.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%
}

.trigger-beta-badge {
    font-weight: 400;
    background: linear-gradient(45deg, #3167e2, #a736ff);
    padding: 1px 8px;
    border-radius: 5px;
    padding: 0px 6px;
    height: 16px;
    font-size: 9px;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
    margin: 0px 3px;
    display: flex;
    align-items: center;
}

.action-btn-icon img{
    filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(504%) hue-rotate(151deg) brightness(92%) contrast(88%);
}

.action-btn-icon img,
.drag-btn img{
    width: 16px;
}

.action-btn-text{
    // display: inline-flex;
    color: $text-color;
    padding: 0;
    vertical-align: middle;
    font-size: 10px;
    font-weight: 400;
}


.example-custom-placeholder {
    height: 30px;
    width: 100%;
    border-radius: 6px;
    display: block;
    background: #e7eeefcc;
}


/* Drag placeholder 
/* ******************************** */

.cdk-drag-preview {

    // cursor: -webkit-grabbing; 
    // cursor: grabbing;

    .actions-btns-wpr{
        transform: rotate(-3deg);
        background-color: white;
        box-sizing: border-box;
        border-radius: 6px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);

        // cursor: -webkit-grabbing; 
        // cursor: grabbing;
    }
   
    img{
        filter: brightness(0) saturate(100%) invert(35%) sepia(48%) saturate(441%) hue-rotate(183deg) brightness(97%) contrast(88%);
    }

    .action-btn-text {
        color: $text-hover-color;
        font-size: 10px;
        font-weight: 300;
    }
}
  
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.action-box:last-child {
    border: none;
}

.action-list.cdk-drop-list-dragging .action-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.action-drag-placeholder {
    background: #ccc;
    // background: rgba(221,228,234,.8);
    border: dotted 3px #999;
    // border: dashed 1px #6c6859;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 8px;
}

.cdk-drag-disabled{
    background: var(--gray-02);
    .actions-btns-wpr,
    .actions-btns-wpr:hover{
        cursor: not-allowed;
        user-select: none;
        box-shadow: none;
    }
}



#menuInfo {
    min-width: 100px;
    max-width: 400px;
    width: 270px;
    color: var(--blu);
    font-size: 15px;
    line-height: 18px;
    list-style: none;
    // overflow: hidden;
    padding: 0 10px;
    // box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;
    border-radius: 0px;
    border: 0px;
    background: transparent;
    will-change: transform;
    animation: .15s ease 0s 1 normal none running fadein, .15s ease 0s 1 normal none running movein, .1s ease 0s 1 normal none running scaleY;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 85px;
    // border: 2px solid var(--gray-02);
}


// TOOLTIP ACTION INFO ICON : start
.info-tooltip {
    background-color: var(--color-white-hex);
    color: white;
    font-size: 12px;
    border-radius: 8px;
    font-family: var(--font-family-poppins);
    // padding-top:8px;
    // padding-bottom:8px;
    border: 1px solid #e5effe;
    width: 300px;
    max-width: 300px;

    .tooltip-wrp {
        position: relative;
        padding: calc(10px + .5rem );
        color: white;
        // box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
        // background-color: #fff;
        font-size: 12px;
        text-align: left;
        border-radius: 8px;
        font-family: var(--font-family-poppins);
        // border: 1px solid #e5effe;
        width: auto;
        display: flex;
        gap: 8px;
        flex-direction: column;

        border-radius: 8px;
        background: #181f29;

        span{
            margin: 0;
        }
    }

    .caret_tooltip {
        height: 8px;
        width: 8px;
        position: absolute;
        left: -4px;
        top: 10px;
        background: #181f29;
        transform: translateY(0%) rotate(45deg);
        // border-left: 2px solid var(--gray-02);
        // border-bottom: 2px solid var(--gray-02);
    }

    .info-tooltip-header{
        display: flex;
        gap: 5px;
        align-items: center;
        .action-btn-icon img{
            width: 12px;
            filter: brightness(0) saturate(100%) invert(99%) sepia(8%) saturate(403%) hue-rotate(225deg) brightness(117%) contrast(100%)
        }
        .action-btn-text{
            color: white;
        }
    }

    .info-tooltip-content{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        .title{
            font-size: 14px;
        }
        .image{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 3px;
        }
    }

    .info-tooltip-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        font-size: 12px;

        #watch-video{
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
            font-weight: 400;
            background: white;
            color: var(--blu);
            border-radius: 8px;
            div{
                line-height: normal;
            }
        }

        a{
            padding: 6px 12px;
        }
    }
}
