<div *ngIf="menuItemsList?.length>0" id="panel_actions_div" class="actions-drawer" #panel_actions_div (mouseleave)="closeInfo()">

    <!-- ACTION: shared draggable list -->
    <cds-action-drag-list *ngIf="menuType === TYPE_OF_MENU.ACTION"
        [items]="menuItemsList"
        (isDragging)="onChildDragging($event)"
        (hideActionPlaceholder)="hideActionPlaceholderOfActionPanel.emit($event)"
        (hoverItem)="openInfo($event.element, $event.value)">
    </cds-action-drag-list>

    <!-- CONNECTOR GROUP ROWS -->
    <div *ngIf="menuType === TYPE_OF_MENU.ACTION && groupRows.length > 0"
        [style.display]="isDragging?'none':'block'" class="connector-groups">
        <div class="connector-group-row" *ngFor="let row of groupRows" #groupRowEl
            (mouseover)="openGroup(groupRowEl, row)"
            (mouseleave)="closeGroup()">
            <span class="action-btn-icon">
                <mat-icon class="svg-icon" [svgIcon]="row.group.icon" aria-hidden="true"></mat-icon>
            </span>
            <span class="action-btn-text truncate">{{ row.group.name }}</span>
            <span class="group-chevron">&rsaquo;</span>
        </div>
    </div>

    <!-- NESTED CONNECTOR FLYOUT -->
    <div id="connector_flyout" class="connector-flyout"
        [style.display]="activeGroup ? 'block' : 'none'"
        [style.top.px]="activeGroupPos.y"
        [style.left.px]="activeGroupPos.x"
        (mouseover)="onOverNested()"
        (mouseleave)="onLeaveNested()">
        <cds-action-drag-list
            [items]="activeItems"
            (isDragging)="onChildDragging($event)"
            (hideActionPlaceholder)="hideActionPlaceholderOfActionPanel.emit($event)"
            (hoverItem)="openInfo($event.element, $event.value)">
        </cds-action-drag-list>
    </div>

    <!-- EVENT: unchanged -->
    <div *ngIf="menuType === TYPE_OF_MENU.EVENT" class="action-list" id="action_list_drop_connect"
        cdkDropList [cdkDropListData]="menuItemsList">
        <div [style.display]="isDragging?'none':'block'" class="menu-dragging">
            <div class="action-box" *ngFor="let item of menuItemsList; let i = index;"
                cdkDrag
                (cdkDragStarted)="onDragStarted($event, i)"
                (cdkDragMoved)="onDragMoved($event)"
                (cdkDragEnded)="onDragEnd($event)">

                <div class="action-drag-placeholder" *cdkDragPlaceholder></div>

                <div class="actions-btns-wpr">
                    <div *ngIf="item.value.src && item.value.name" class="action-btn-icon">
                        <img [src]="item.value.src" [title]="item.value.name | translate" alt="">
                    </div>
                    <div *ngIf="item.value.name" class="action-btn-text">{{item.value.name | translate}}</div>
                    <div *ngIf="item.value.src && item.value.name" class="action-btn-icon">
                        <button class="btn btn-tdblu-no-boxshadow drag-btn">
                            <img class="active-icon" src="assets/images/icons/drag_indicator.svg" [title]="'CDSCanvas.Drag' | translate" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- TOOLTIP FOR ACTION DOC -->
    <div #menuInfo id="menuInfo" 
        class="info-tooltip"
        [style.display]="isOpen?'block':'none'" 
        [style.top.px]="positionMenu.y"
        [style.left.px]="positionMenu.x">
        <div class="tooltip-wrp">
            <div class="caret_tooltip"></div>
            <div class="info-tooltip-header">
                <div *ngIf="hoveredElement?.src && hoveredElement?.name" class="action-btn-icon">
                    <img [src]="hoveredElement.src" [title]="hoveredElement.name | translate" alt="">
                </div>
                <div *ngIf="hoveredElement?.name" class="action-btn-text truncate">{{hoveredElement.name | translate:BRAND_BASE_INFO}}</div>
            </div>
            <div class="info-tooltip-content">
                <span class="title" [innerHTML]="hoveredElement?.doc+'.TITLE' | translate"></span>
                <span class="description" [innerHTML]="hoveredElement?.doc+'.DESCRIPTION' | translate: BRAND_BASE_INFO"></span>
                <img class="image" [src]="hoveredElement?.doc+'.IMAGE' | translate" alt="">
            </div>
            <div class="info-tooltip-footer">
                <a *ngIf="(hoveredElement?.doc+'.DOC_URL' | translate)" [href]="hoveredElement?.doc+'.DOC_URL' | translate" target="_blank">{{'LearnMore' | translate}}</a>
                <button *ngIf="(hoveredElement?.doc+'.VIDEO_URL' | translate)" id="watch-video" class="btn btn-primary cds-blue-button" type="button" (click)="onVideoUrlClick()">
                    <img src="assets/images/icons/youtube.svg" width="14px" height="14px" alt="">
                    <div>{{'WatchVideo' | translate}}</div>
                </button>
            </div>
        </div>
    </div>


</div>