/** LOCAL COLORS **/
$color-white-hex: #ffffff;
$color-blue-hex: #3ea9f5;
$color-red-hex: #ed2e19;
$color-orange-hex: #ffbb1c;
$color-light-gray-hex: #D2D2D2;

$color-txt-1-hex: #787878;
$color-txt-2-hex: #858585;
$color-txt-3-hex: #CCCCCC;
$color-txt-4-hex: #ffffff;





$color-bck-light-gray-hex: #e7f3ff;
$color-bck-gray-hex: #647283;
$color-text-box-hex: #566787;
$color-text-dark-hex: #22272d;
$color-text-select-hex: #7695A5;

$brown-85: #6c6859d9;


// Typography elements
$font-size-base: 14px;

$height-header: 25px;

$icon-color: #ecb606b0;
$icon-active-background: rgb(58, 107, 147);

$light-blue: #8ab4f8;
$light-black: #202124;
$light-gray: #5f6368;

$deep-brown: #6c6859;
$light-brown: #e8e6dd;




/* CDS REFACTORING
/* ******************************* */
$scrollbar-track-white-color: rgb(255, 255, 255);
$scrollbar-thumb-color:rgba(162, 176, 195, 1);
$border-light: rgb(223,227,237);
$drop-zone-color-border: rgb(212, 217, 230);
$drop-zone-background: rgb(142,152,168);
$icon-bckgrnd-color: #e4e6eb;




/* CDS NEW v2
/* ******************************* */
$mdb-font-family-poppins: 'Poppins', 'Roboto', Arial, sans-serif !default;
$mdb-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

$drag-background: rgb(152 153 153 / 40%);
$drag-points-color: rgb(240 233 233 / 25%);


$blu: #506493;
$blu-02: rgb(91, 114, 167);
$blu-03: rgb(61,64,68);
$blu-light-01: rgb(244, 246, 251);
$blu-light-02: #b6c2df;
$blu-light-03: rgb(224, 227, 241);
$blu-light-04: rgb(229, 234, 245);
$gray: rgb(112, 112, 112);
$gray-02: rgb(239,241,245);
$gray-light-01: rgb(214, 214, 214);
$gray-light-02: rgb(223, 227, 237);

$tiledesk-base-color: rgb(224,106,88);
$success-connector: rgb(44, 191, 35);
$failure-connector: rgb(191, 35, 35);

$header-height: 60px;
$sidebar-base-width: 60px;
$btn-border-radius: 16px;

//reply buttons
$button-height-base: 20px; //32px;
$button-max-width-base: 200px;
$button-min-width-base: 95px;
$button-min-width-preview: 200px;
$button-border-radius-base: 16px;

//PANEL ACTION DETAIL
$haeder-panel-action-detail-height: 44px;
$footer-panel-action-detail-height: 42px;




$action-item-color: #d2e3fc;
$action-item-background:rgba(255,255,255, 0.7); //rgba(66,85,117,1);
$action-no-featured-item-background:rgba(255,255,255, 1); //rgba(66,85,117,1);
$action-color-selected: $blu; // rgba(179,141,38,1);
$intent-preview-background: $blu-light-03; //rgb(235, 226, 198);
$intent-preview-borderColor: $gray-light-02;
$empty-element-property:rgb(191, 35, 35);


$padding-base-preview: 0 10px 10px;
$base-element-gap: 5px;
$border-radius-base-preview: 8px;


@mixin lighten() {
    --bgColor: #{$action-item-color};
    --textColor: #{$action-item-color};
    --borderColor: #{$action-item-color};
}
@mixin darken() {
    --bgColor: #{$empty-element-property};
    --textColor: #{$empty-element-property};
    --borderColor: #{$empty-element-property};
}

body.dark {
    @include darken();
}
body.light {
    @include lighten();
}

@media (prefers-color-scheme: dark) {
    body{
        --bgColor: #{$empty-element-property};
        --textColor: #{$empty-element-property};
        --borderColor: #{$empty-element-property};
    }
}
