// TOOLTIP DESCRIPTION INFO ICON : start
::ng-deep .description-tooltip {
    background-color: var(--color-white-hex);
    color: #555555;
    font-size: 12px;
    border-radius: 8px;
    font-family: var(--font-family-poppins);
    // padding-top:8px;
    // padding-bottom:8px;
    border: 1px solid #e5effe;
}
.tooltip-wrp {
    position: relative;
    padding: 8px;
    // box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    // background-color: #fff;
    color: #555555; 
    font-size: 10px;
    text-align: justify;
    border-radius: 8px;
    font-family: var(--font-family-poppins);
    // border: 1px solid #e5effe;
    width: auto;

    span{
        margin: 0 2px;
    }
}
.caret_tooltip {
    height: 8px;
    width: 8px;
    position: absolute;
    right: -4px;
    top: 50%;
    background: var(--color-white-hex);
    transform: translateY(-50%) rotate(45deg);
    background: var(--color-white-hex);
}
// TOOLTIP DESCRIPTION INFO ICON : end

// ::ng-deep
::ng-deep .cds-mat-tooltip {
    background-color: var(--gray-light-01) !important;
    color: var(--gray) !important;
    font-size: 12px !important;
    font-family: var(--font-family-poppins);
    border-radius: 16px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    line-height: 1.4;
    // border: 1px solid #e5effe !important;
}


.cds-custom-tooltip {
    background-color: #fff;
    color: #555555;
    font-size: 12px;
    border-radius: 2px;
    font-family: var(--font-family-poppins);
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #e5effe;
}