<div class="insp-toolbar">

    <button class="tool-btn" (click)="addElement(TypeMessage.TEXT)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Text' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <img class="i" src="assets/images/action-reply-types/text.svg" alt="Text"/>
    </button>

    <button class="tool-btn" (click)="addElement(TypeMessage.IMAGE)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Image' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <img class="i" src="assets/images/action-reply-types/image.svg" alt="Image"/>
    </button>

    <button class="tool-btn" (click)="addElement(TypeMessage.FRAME)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Frame' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <img class="i" src="assets/images/action-reply-types/file.svg" alt="Frame"/>
    </button>

    <button class="tool-btn" (click)="addElement(TypeMessage.GALLERY)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Gallery' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <img class="i" src="assets/images/action-reply-types/gallery.svg" alt="Gallery"/>
    </button>

    <button class="tool-btn" (click)="addElement(TypeMessage.REDIRECT)"
        matTooltipClass="custom-mat-tooltip" matTooltip="{{'Redirect' | translate}}" #tooltip="matTooltip" matTooltipPosition='below' matTooltipHideDelay="100">
        <img class="i" src="assets/images/action-reply-types/redirect.svg" alt="Redirect"/>
    </button>

</div>
