@import "./src/assets/sass/cds/_variables.scss";
@import "./src/assets/sass/cds/styles.scss";


$width-card-tools: 160px;
$margin-left-card: 30px;
$margin-top-card: 30px;
$box-left-width: 230px;
$box-left-width-closed: 0px;

$toogle-sidebar-width: 22px;

// .menu--context--add{
//   height: auto;
// }

:host {
  display: flex;
  width: calc(100% - var(--sidebar-base-width));
  overflow: hidden;
}

.context-menu {
  position: absolute;
}

.cds-generic-panel{
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 100%;
  transform: translateX(100%);
  animation: slide-in 0.2s ease-in-out forwards;
  // animation-delay: 0.2s;
  animation-delay: 0s;

  &#action-detail{
    z-index: 10;
    
  }
  &#button-configuration{
    z-index: 11
  }
  &#widget-preview{
    z-index: 12;

    &.isVisible{
      width: 0;
      visibility: visible;
    }
    &.isHidden{
      visibility: hidden;
    }
  }
}

@keyframes slide-in {
  to {
    transform: translateX(0);
  }
}


::ng-deep #tds_svgConnectors{
  .tds_path {
    animation: dash 30s linear infinite;
    stroke-dasharray: 6;
    stroke-width: 3px;
    stroke: gray;
  }

  .tds_connector {
    // stroke: black;
    // stroke-width: 2px;
    stroke: #b1b1b7;
    stroke-width: 3px;
  }
  
  .tds_connector_over {
    stroke: gray;
    stroke-width: 3px;
  }
  
  .tds_connector_selected {
    stroke: #3ea9f5;
    stroke-width: 3px;
  }
}


#floatMenuElement {
  position: absolute;
  min-width: 100px;
  max-width: 400px;
  min-height: 100px;
  max-height: 400px;// dp
  // height: 612px; // nk
  // width: 148px; // dp
  width: 240px; // nk
  color: #132144;
  font-size: 15px;
  // line-height: 18px;
  line-height: 12px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  // box-shadow: #1321440a 0 12px 24px, #1321440a 0 8px 12px, #13214405 0 4px 4px, #13214403 0 2px 2px, #13214403 0 1px 1px, #11316008 0 0, #1131600f 0 0 0 1px;
  border-radius: 6px;
  background: rgb(255,255,255);
  will-change: transform;
  animation: .15s ease 0s 1 normal none running fadein, .15s ease 0s 1 normal none running movein, .1s ease 0s 1 normal none running scaleY;
  margin: 0;
  position: absolute;
  top: 4px;
  left: 80px;
}



cds-rules,
cds-chatbot-details,
cds-fulfillment {
    width: 100%;
}

.cds-toggle-setting-sidebar-icon-right-wpr {
  display: block;
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 1050;
}

.cds-toggle-setting-sidebar-icon-left-wpr {
  display: none;
  position: absolute;
  z-index: 1050;
  width: $toogle-sidebar-width;
  height: $toogle-sidebar-width;
  // background: #1e293b;
  right: calc(0px - $toogle-sidebar-width/2);
  top: 50%;
  transition: 0.3s;

  &.is_opened {
      right: calc(0px - $toogle-sidebar-width/2);
      transition: 0.3s;
  }
}

.toggle-setting-sidebar-icon {
  background: var(--blu);
  color: #fff;
  border: 1px solid var(--blu) !important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 18px;
  display: block;
}

.toggle-setting-sidebar-icon:hover {
    background: #f5f8fa;
    color:  var(--blu);
}



  .box-left {
    width: $box-left-width;
    max-width: $box-left-width;
    min-width: $box-left-width;
    background-color: var(--blu-light-01);
    border-right: 1px solid var(--gray-light-02);
    z-index: 10;
    position: relative;
    .panel-intent-list {
      position: relative;
      display: inline-flex;
      width: 100%;
      height: 100vh;
      max-height: 100%;
      border-radius: 0em;
      overflow: hidden;
      margin: 0px;
      padding: 0px 2px 10px 2px;
      align-items: flex-start;
      overflow-y: scroll;

      

      &:hover{
        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-track {
          background-color: var(--scrollbar-track-background);
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--scrollbar-thumb-background);
          border-radius: var(--scrollbar-thumb-border-radius);
        }
      }

    }

    &.is_closed{
      width: $box-left-width-closed;
      max-width: $box-left-width-closed;
      min-width: $box-left-width-closed;
    }


    &:hover{
      .cds-toggle-setting-sidebar-icon-left-wpr{
        display: block;
      }
    }

    
  }


  .box-right {
    display: inline-table;
    position: relative;
    // flex-grow: 1;
    height: 100vh;
    overflow: visible;
    // overflow-y: scroll;
    max-height: 100%;
    width: 100%; //inherit;

    .box-right-header {
      width: 100%;
      height: 50px;
    }

    .panel-intent {
      position: absolute;
      margin: 0px;
      padding: 0px;
      z-index: 1;
      user-select: none;
      min-height: 43px;
    }
    .panel-intent-detail-wrapper {
      display: flex;
      margin: 0;
      background: rgba(34,48,74,.6);
      inset: 0;
      position: fixed;
      top: 0;
      left: 0;
      padding: 85px 25px 25px 0;
      z-index: 2;
    }

  }

.panel--connector--menu{
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  // background-color: brown;
  display: block;
  position: absolute;
  // overflow: hidden;
  z-index: 1;
}


.panel-action-backdrop {
  display: flex;
  margin: 0;
  // background: rgba(34,48,74,.6);
  background: transparent;
  inset: 0;
  position: fixed;
  top: 0;
  left: 0;
  // padding: 85px 25px 25px 0;
  padding-top: 60px; // nk
  z-index: 2;
  justify-content: flex-end; // nk
}

.panel-button-backdrop {
  display: flex;
  margin: 0;
  // background: rgba(34,48,74,.6);
  background: transparent;
  inset: 0;
  position: fixed;
  top: 0;
  left: 0;
  // padding: 85px 25px 25px 0;
  padding-top: 60px; // nk
  z-index: 2;
  justify-content: flex-end; // nk
}

.receiver-elements-dropped-on-stage {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: inherit;
}

.cds-panel-elements {
  position: absolute;
}

#cds-options-panel{
  bottom: 12px;
  right: 12px;
}




/*********** START Draggable  *************/
.tds-drag-container {
  position: relative;
  display: block;
  background-size: 16px 16px;
  background-image: radial-gradient(var(--container-background) 1.14286px, var(--container-points-color) 1.14286px);
  // background-image: radial-gradient(rgb(218, 226, 226) 1.14286px, rgb(244, 246, 246) 1.14286px);
  background-position: 593.4px -230.4px;
}

.tds-drag-drawer {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: inherit;
  width: 100px;
  height: 100px;
}

.tds-draggable {
  background-color: chartreuse;
}

.cdk-drag-placehoder{
  pointer-events: auto;
  cursor: grabbing;
}

::ng-deep .cdk-drag-preview{
  transition: none !important;
}
/*********** END Draggable  *************/

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

svg:not(:root) {
  display: block;
}


#masck-canv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  right: 0;
  z-index: 999;
  pointer-events: all;
  background-color: var(--blu-light-04);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  transition-delay: 0s;
  opacity: 1;
  &.disabled{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  img {
    max-width: 40px;
    max-height: 40px;
  }
  .loading {
    position: absolute;
    margin-top: 80px;
  }
  .info-loading {
    font-size: smaller;
    line-height: normal;
    width: auto;
    display: block;
    margin: 10px auto;
    min-height: 20px;
    text-align: center;
  }
  .progress-bar {
    width: 100px;
    display: flex;
    margin: auto;
  }
}

