<div class="panel-intent-detail" [class.minimize]="!maximize" [class.maximize]="maximize">
    <div class="header-panel">

        <cds-panel-intent-header class="pic-title-text tds_draggable" 
            [class.isStart]="false"
            [intent]="intent">
        </cds-panel-intent-header>
        
        <div class="header-options-wrp icon-action" (click)="maximize = !maximize">
            <img src="assets/images/icons/fold.svg" class="active-icon" [title]="'Maximize' | translate" *ngIf="!maximize">
            <img src="assets/images/icons/unfold.svg" class="active-icon" [title]="'Minimize' | translate" *ngIf="maximize">
        </div>
    </div>

    <div id="content-panel" class="content-panel">
        
        <!-- ---------------------------------------------------------- -->
        <!-- Agents available -->
        <!-- ---------------------------------------------------------- -->
        <div *ngIf="!isWebhook" class="row">

            <div class="nw-onoffswitch-wrapper"> 
                <div *ngIf="intent.agents_available" class="agents-available"><span class="material-icons">boy</span></div>
                <div class="nw-onoffswitch">
                    <label class="nw-onoffswitch-label" for="agents_available_switch" [class.checked]="intent.agents_available">
                        <input type="checkbox" name="agents_available_switch"
                        class="nw-onoffswitch-checkbox" id="agents_available_switch"
                        [(ngModel)]="intent.agents_available" 
                        (change)="onAgentsAvailableChange($event.target.checked)" />
                    </label>
                </div>
                <span class="checkmark">
                    {{ 'Available to agents' | translate }}
                </span>
            </div>
            
            <span class="nw-onoffswitch-wrapper info" >
                {{'A block with this option is visible to agents for the purpose to be put back in the conversation' | translate}}
            </span>
   
        </div>


        <!-- ---------------------------------------------------------- -->
        <!-- webhook -->
        <!-- ---------------------------------------------------------- -->
        <div *ngIf="isWebhook" class="row">

            <!-- 
            <div class="webhook-copilot">
                <div class="copilot-onoffswitch">
                    <label class="copilot-onoffswitch-label" for="copilot_switch" [class.checked]="action.copilot">
                        <input type="checkbox" name="copilote_switch"
                        class="copilot-onoffswitch-checkbox" id="copilot_switch"
                        [(ngModel)]="action.copilot" 
                        (change)="updateCopilotWebhook($event.target.checked)" />
                    </label>
                </div>
                <div class="webhook-icon-copilot">
                    <img src="assets/images/icons/copilot.svg" alt="copilot">
                    <span *ngIf="!action.copilot" class="copilot-label">{{'CDSCanvas.CopilotDisabled' | translate }}</span>
                    <span *ngIf="action.copilot" class="copilot-label">{{'CDSCanvas.CopilotEnabled' | translate }}</span>
                </div>
            </div> 
            -->
            

            <div class="webhook-block">
                <div class="webhook-icon">
                    <img src="assets/images/icons/webhook.svg" alt="webhook">
                </div>
                <input class="webhook-link" type="text" [value]="webhookUrl">
            </div>
            
            <div class="webhook-buttons">
                <button type="button" class="btn btn-primary cds-blue-button" (click)="regenerateWebhook()">regenerate</button>
                <button type="button" class="btn btn-primary cds-blue-button" (click)="copyText(true)">dev url</button>
                <button type="button" class="btn btn-primary cds-blue-button" (click)="copyText()">copy</button>
            </div>
            
            <p *ngIf="messageText" class="webhook-message fade-in-out">
                {{ messageText }}
            </p>
        </div>

    </div>

</div>