<div class="panel-intent-detail" [class.minimize]="!maximize" [class.maximize]="maximize">
    <div class="header-panel">
        <cds-panel-intent-header class="pic-title-text tds_draggable" 
            [class.isStart]="false"
            [intent]="intent">
        </cds-panel-intent-header>
        <div class="header-options-wrp icon-action" (click)="onChangeMaximize()">
            <img *ngIf="!maximize" src="assets/images/icons/fold.svg" class="active-icon" [title]="'Maximize' | translate" alt="">
            <img *ngIf="maximize" src="assets/images/icons/unfold.svg" class="active-icon" [title]="'Minimize' | translate" alt="">
        </div>
    </div>
    <div id="content-panel" class="content-panel">
        <!-- ---------------------------------------------------------- -->
        <!-- Agents available -->
        <!-- ---------------------------------------------------------- -->
        <div *ngIf="!isWebhook" class="row">

            <div class="nw-onoffswitch-wrapper"> 
                <div *ngIf="intent.agents_available" class="agents-available"><span class="material-icons">boy</span></div>
                <div class="nw-onoffswitch">
                    <label class="nw-onoffswitch-label" for="agents_available_switch" [class.checked]="intent.agents_available">
                        <input type="checkbox" name="agents_available_switch"
                        class="nw-onoffswitch-checkbox" id="agents_available_switch"
                        [(ngModel)]="intent.agents_available" 
                        (change)="onAgentsAvailableChange($event.target.checked)" />
                    </label>
                </div>
                <span class="checkmark">
                    {{ 'CDSCanvas.AvailableToAgents' | translate }}
                </span>
            </div>
            
            <span class="nw-onoffswitch-wrapper info" >
                {{'CDSCanvas.InfoAvailableToAgents' | translate}}
            </span>
   
        </div>


        <!-- ---------------------------------------------------------- -->
        <!-- webhook -->
        <!-- ---------------------------------------------------------- -->
        <div *ngIf="isWebhook" class="row">

            <!-- 
            <div class="webhook-copilot">
                <div class="copilot-onoffswitch">
                    <label class="copilot-onoffswitch-label" for="copilot_switch" [class.checked]="action.copilot">
                        <input type="checkbox" name="copilote_switch"
                        class="copilot-onoffswitch-checkbox" id="copilot_switch"
                        [(ngModel)]="action.copilot" 
                        (change)="updateCopilotWebhook($event.target.checked)" />
                    </label>
                </div>
                <div class="webhook-icon-copilot">
                    <img src="assets/images/icons/copilot.svg" alt="copilot">
                    <span *ngIf="!action.copilot" class="copilot-label">{{'CDSCanvas.CopilotDisabled' | translate }}</span>
                    <span *ngIf="action.copilot" class="copilot-label">{{'CDSCanvas.CopilotEnabled' | translate }}</span>
                </div>
            </div> 
            -->
    
            <div>
                <div> {{'CDSCanvas.ProductionUrl' | translate}} </div>
                <div class="webhook-block">
                    <div class="webhook-icon" *ngIf="!webhookUrl">
                        <img src="assets/images/icons/webhook.svg" alt="webhook">
                    </div>
                    <input #copyInput class="webhook-link" [class.start]="!webhookUrl" type="text" [value]="webhookUrl">
                    <div *ngIf="webhookUrl" class="webhook-icon end" (click)="onCopyToClipboard(copyInput.value)"
                        matTooltip="{{'Copied' | translate}}!"
                        #tooltip="matTooltip" 
                        matTooltipClass="cds-mat-tooltip" 
                        [matTooltipDisabled]="true"
                        matTooltipPosition="above">
                        <mat-icon class="icon" svgIcon="copy" aria-hidden="true"></mat-icon>
                    </div>
                </div>
            </div>


            <div *ngIf="webhookUrlDev">
                <div>{{'CDSCanvas.DevelopmentUrl' | translate}}</div>
                <div class="webhook-block">
                    <input #copyInput class="webhook-link" type="text" [value]="webhookUrlDev">
                    <div class="webhook-icon end" (click)="onCopyToClipboard(copyInput.value)"
                        matTooltip="{{'Copied' | translate}}!"
                        #tooltip="matTooltip" 
                        matTooltipClass="cds-mat-tooltip" 
                        [matTooltipDisabled]="true"
                        matTooltipPosition="above">
                        <mat-icon class="icon" svgIcon="copy" aria-hidden="true"></mat-icon>
                    </div>
                </div>
            </div>
            
            <div class="webhook-buttons">
                <button *ngIf="webhookUrl" type="button" class="btn btn-primary cds-blue-button" (click)="onRegenerateWebhook()">{{'Regenerate' | translate}}</button>
                <button *ngIf="!webhookUrl" type="button" class="btn btn-primary cds-blue-button" (click)="newWebhook()">{{'Create' | translate}}</button>
                <!-- 
                <button type="button" class="btn btn-primary cds-blue-button" (click)="copyText(true)">dev url</button>
                <button type="button" class="btn btn-primary cds-blue-button" (click)="copyText()">{{'Copy' | translate}}</button> 
                -->
            </div>
            
            <p *ngIf="messageText" class="webhook-message fade-in-out">
                {{ messageText }}
            </p>

            <div class="link-container">
                <a class="link" (click)="goToKNB()">{{'CDSCanvas.ManageKnowledgeBases' | translate}}</a>
            </div>
        </div>

        <!-- ---------------------------------------------------------- -->
        <!-- Next Block Connector -->
        <!-- ---------------------------------------------------------- -->
        <div *ngIf="!isWebhook && !isStart" class="row">
            <div class="field-box">
                <label class="title-label">{{'CDSCanvas.GoToBlock' | translate}}</label>
                <cds-select id="next-intent-select"
                    [items]="listOfIntents"
                    [bindLabelSelect]="'name'"
                    [bindValueSelect]="'value'"
                    [itemSelected]="selectedNextIntent"
                    [placeholder]="'CDSCanvas.SelectABlock' | translate"
                    [clearable]="true"
                    (onSelected)="onChangeNextIntentSelect($event)"
                    (onReset)="onResetNextIntentSelect($event)">
                </cds-select>
            </div>
        </div>

    </div>

</div>