<div *ngIf="previewMode" class="cds-action-preview">
    <div class="action-row">
        <div class="action-row-left">
            <mat-icon class="icon" svgIcon="subject" aria-hidden="true"></mat-icon>
        </div>
        <div *ngIf="action?.name" class="action-row-right">
            {{action?.name}}
        </div>
        <div *ngIf="!action?.name" class="action-row-right empty">
            {{'CDSCanvas.EnterQuestion' | translate}}
        </div>
    </div>

</div>

<div *ngIf="!previewMode" class="content-panel-intent-detail no-footer">
    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.QuestionKB' | translate}}</label>
        <cds-textarea 
            [textLimitBtn]="false" 
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true" 
            [minRow]="1"[maxRow]="1" 
            [text]="action?.name" 
            [placeholder]="'CDSCanvas.EnterQuestion' | translate"
            (blur)="onBlur($event)"
            (changeTextarea)="onChangeTextarea($event, 'name')">
        </cds-textarea>
    </div>

    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.AnswerKB' | translate}}</label>
        <cds-textarea              
            [textLimitBtn]="false" 
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true" 
            [minRow]="4"[maxRow]="25" 
            [text]="action?.source" 
            [placeholder]="'CDSCanvas.EnterAnswer' | translate"
            (blur)="onBlur($event, 'source')"
            (changeTextarea)="onChangeTextarea($event, 'source')">
        </cds-textarea>
    </div>



    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.ChooseKB' | translate}}</label>
        <cds-select *ngIf="!action?.namespaceAsName" id="text-condition" 
            [items]="listOfNamespaces" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'" 
            [itemSelected]="action.namespace" 
            [placeholder]="'CDSCanvas.SelectNamespace' | translate"
            [clearable]="true" 
            (onSelected)="onChangeBlockSelect($event, 'namespace')"
            (onReset)="onResetBlockSelect($event, 'namespace')">
        </cds-select>
        <cds-text *ngIf="action?.namespaceAsName" id="text"
            class="sx-input" 
            [text]="action.namespace"
            [placeholder]="'CDSCanvas.SelectNamespace' | translate"
            [autocompleteOptions]="autocompleteOptions"
            (blur)="onBlur($event)"
            (onChange)="onChangeTextarea($event, 'namespace')">
        </cds-text>

        <section class="disable-input-message-section">
            <mat-checkbox 
                [checked]="action?.namespaceAsName"
                (change)="onChangeCheckbox($event,'namespaceAsName')">
                {{ 'CDSCanvas.UseKnwoledgeBaseName' | translate }}
            </mat-checkbox>
            <label class="field-description">{{ "CDSCanvas.UseKBNameDescription" | translate }}
                <a *ngIf="BRAND_BASE_INFO['DOCS']" [href]="DOCS_LINK.namespace_as_name.link" [target]="DOCS_LINK.namespace_as_name.target">{{ 'LearnMore' | translate }}</a>
            </label>
        </section>
    </div>


    <div class="link-container">
        <a class="link" (click)="goToKNB()">{{'CDSCanvas.ManageKnowledgeBases' | translate}}</a>
    </div>



</div>

