<div class="color-menu">
    
    <!-- <div class="sc-hUOJWJ sc-hjLWnZ sc-cldpSa eWPdMJ jBaYcC jVGMCM">
        <div class="sc-hUOJWJ sc-dPwPAC sc-gWfLn eWPdMJ bQbmWy fmUPyg">
            <div width="200" class="sc-hUOJWJ dinxqx">
                <div class="sc-hUOJWJ sc-dPwPAC sc-gKfoOY eWPdMJ bQbmWy iQzEDO">
                    <section class="sc-iLBJAN lcWBva">
                        <input min="1" max="360" type="range" class="sc-irmnWS sCtxD" value="131.7240614005771">
                        <span class="sc-jroJWT bhqbHs"></span>
                    </section>
                    <div class="sc-hUOJWJ sc-dPwPAC hDBOIJ jqA-DZZ">
                        <button class="sc-ehYhRg eaYPxZ">
                            <span class="sc-eWhHU jqNrwk vf-svg-icon vf-svg-icon--plus" size="16" color="currentColor">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path fill="currentColor" fill-rule="evenodd" d="M14.16 8.84H9.12a.28.28 0 0 0-.28.28v5.04a.84.84 0 0 1-1.68 0V9.12a.28.28 0 0 0-.28-.28H1.84a.84.84 0 0 1 0-1.68h5.04a.28.28 0 0 0 .28-.28V1.84a.84.84 0 0 1 1.68 0v5.04c0 .155.125.28.28.28h5.04a.84.84 0 0 1 0 1.68z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <span class="sc-glIahl sc-dYbywR bBQyIL lgIIXO">Color themes</span>
            <div class="sc-hUOJWJ sc-dPwPAC sc-bnUgzW eWPdMJ bQbmWy hMygBq">
                <div class="vf-tooltip" style="display: inline;">
                    <div class="sc-eworkO YJeac">
                        <div class="sc-efvICy bDcMJb"></div>
                    </div>
                </div>
                <div class="vf-tooltip" style="display: inline;">
                    <div class="sc-eworkO eFysyI">
                        <div class="sc-efvICy fgbGJu"></div>
                    </div>
                </div>
                <div class="vf-tooltip" style="display: inline;">
                    <div class="sc-eworkO DatNY">
                        <div class="sc-efvICy bQtwpU"></div>
                    </div>
                </div>
                <div class="vf-tooltip" style="display: inline;">
                    <div class="sc-eworkO cArlRw">
                        <div class="sc-efvICy eNytrx"></div>
                    </div>
                </div>
                <div class="vf-tooltip" style="display: inline;">
                    <div class="sc-eworkO gWDeFw">
                        <div class="sc-efvICy gPRaHo"></div>
                    </div>
                </div>
                <div class="vf-tooltip" style="display: inline;">
                    <div class="sc-eworkO dazPpM">
                        <div class="sc-efvICy dVXiBh"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

