.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.color-menu {
    display: block;
    height: 100px;
    width: 265px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: var(--blu);
    font-size: 15px;
    line-height: 18px;
    list-style: none;
    overflow: hidden;
    padding: 10px 10px;
    border-radius: 8px;
    background: rgb(255,255,255);
    will-change: transform;
    animation: .15s ease 0s 1 normal none running fadein, .15s ease 0s 1 normal none running movein, .1s ease 0s 1 normal none running scaleY;
    margin: -190px 0 0 0;
    border: 2px solid var(--gray-02);
    box-shadow: none;
}

.title {
    padding: 10px 0;
}

.color-palette {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.color-tooltip {
    display: inline;
    margin-right: 8px;
    background: none;
    border: none;
    padding: 0px;
}

.color-button {
    transition: transform 0.25s;
    border-radius: 50%;
    border: 0px solid rgba(161, 173, 186, 0.133);
    padding: 5px;
    // background: rgba(var(--main-color), 0.2);
}

.color-button:hover {
    transform: scale(1.2);
}

.color-circle {
    width: 22px;
    height: 22px;
    position: relative;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.118) 0px -2px 0px 0px inset;
    // background: rgba(var(--main-color), 1);
    background-blend-mode: screen;
    cursor: pointer;
}

// .red { --main-color: 255, 0, 0 }
// .green { --main-color: 0, 255, 0 }
// .blue { --main-color: 0, 0, 255 }
// .yellow { --main-color: 255, 255, 0 }
// .cyan { --main-color: 0, 255, 255 }
// .magenta { --main-color: 255, 0, 255 }