@import "./src/assets/sass/cds/_variables.scss";

.content {
    padding: 40px 40px;
    min-width: 800px;
    max-width: 1200px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header-title {
        margin-bottom: 0px;
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
}

#cds-new-rules-button {
    background: $light-blue !important;
    color: $light-black !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#cds-new-rules-button:hover {
    background: rgb(138, 180, 248, 0.8) !important;
}

.secret-container {
    display: flex;
    flex-direction: column;
}

// .new-secret-container {
// }

// .update-secret-container {
//     display: flex;
//     flex-direction: column;
// }


.secret-inner-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 6px;
}

.update-view {
    padding: 20px 0px;
}

.custom-label {
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    // input {
    //     border-radius: 6px;
    //     width: 100%;
    //     height: 36px;
    //     border: none;
    //     padding: 4px 12px;
    //     background-color: #f0f1f2;

    //     &.invalid {
    //         border: 2px solid red !important;
    //         outline: 0px solid red !important;
    //         transition: border 0.3s;
    //     }
    // }
}

.custom-input {
    border-radius: 6px;
    width: 100%;
    height: 36px;
    border: none;
    padding: 4px 12px;
    background-color: #c4c4c4;
    font-weight: 400;

    &.invalid {
        border: 2px solid red !important;
        outline: 0px solid red !important;
        transition: border 0.3s;
    }

    .password {
        font-size: 24px;
    }

    &:disabled {
        cursor: text;
    }
}

.fake-input {
    border-radius: 6px;
    width: 100%;
    height: 36px;
    border: none;
    padding: 4px 12px;
    background-color: #c4c4c4;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    input {
        border: none;
        background-color: transparent;
        width: 100%;
        margin-left: 10px;

        &:disabled {
            cursor: text;
        }
    }

    .password {
        font-size: 24px;
    }

    .material-icons-outlined {
        cursor: pointer;
        font-size: 18px;
    }
}

.input-container#key {
    margin-right: 8px;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.buttons-container#updatediv {
    justify-content: space-between;
}

.custom-button {
    margin-left: 4px;
    margin-top: 6px;
    min-width: 80px;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 2px 12px;
}

#add-button {
    background: #006cff;
    color: #fff;
    box-shadow: none;
    font-weight: 500;
    font-family: Poppins, Roboto, Arial, sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 10px;
    margin-left: 6px;
}

#add-button:hover {
    opacity: .8 !important;
}

#delete-button {
    background: #e32929;
    color: #fff;
    box-shadow: none;
    font-weight: 500;
    font-family: Poppins, Roboto, Arial, sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 10px;
}

#delete-button:hover {
    opacity: .8 !important;
}

#cancel-button {
    background: #b1b1b1;
    color: #fff;
    box-shadow: none;
    font-weight: 500;
    font-family: Poppins, Roboto, Arial, sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 10px;
}

#cancel-button:hover {
    opacity: .8 !important;
}

.custom-icon-button {
    border-radius: 6px;
    background-color: #c4c4c4;
    height: 36px;
    width: 26px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-hide-button {
    margin-left: 4px;
    cursor: pointer;

    .material-icons-outlined {
        font-size: 20px;
        color: #b2b2b2;
    }
}

.secrets-list {
    margin-top: 20px;
}


.copy-icon:hover {
    font-weight: 600 !important;
}

.visibility-icon:hover {
    font-weight: 600 !important;
}