@import "./src/assets/sass/cds/_variables.scss";
@import "./src/assets/sass/animations.scss";


::ng-deep .line-text {
  display: block;
  position: absolute;
  margin: 5px 0;
  textarea, .box-textarea textarea {
    resize: auto !important;
    min-height: 26px!important;
    max-height: 250px!important;
    // height: auto!important;
    border: none!important;
    overflow: hidden!important;
    font-size: 14px!important;
  }
}



/* Intent header actions
/* ***************************** */
.intent-header-actions-container {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 45px;
    padding-left: 12px;
    opacity: 1;
    transition: 0.25s all ease-in-out;
  }
  
  .panel-intent-content:hover .intent-header-actions-container-on-start {
    top: -19px !important;
    right: 12px !important;
  }
  
  
  .intent-header-actions-wpr {
    background: #fff;
    height: 25px;
    border-radius: 14px;
    box-shadow: #001b4714 0 3px 8px;
    outline: 1px solid #0000000a;
    display: flex;
    padding: 3px 0px;
  }
  
  .intent-header-action-btn:first-child {
    border-left: unset;
  }
  
  .icon.webhook-enabled  img {
    filter: brightness(0) saturate(100%) invert(41%) sepia(79%) saturate(1263%) hue-rotate(121deg) brightness(101%) contrast(82%);
  }


  .intent-header-action-btn {
    cursor: pointer;
    border-left: solid 1px var(--gray-light-02);
    padding: 2px 4px;
    display: flex;
    mat-icon {
      height: 100%;
      display: flex;
      align-items: center;
      ::ng-deep svg {
        fill: var(--gray);
      }
    }
  }

  .intent-header-action-btn:hover {
    mat-icon {
      ::ng-deep svg {
          fill: var(--blu);
      }
    }
  }
