@import "./src/assets/sass/cds/_variables.scss";
@import "./src/assets/sass/animations.scss";


::ng-deep .line-text {
  display: block;
  position: absolute;
  margin: 5px 0;
  textarea, .box-textarea textarea {
    resize: auto !important;
    min-height: 26px!important;
    max-height: 250px!important;
    // height: auto!important;
    border: none!important;
    overflow: hidden!important;
    font-size: 14px!important;
  }
}



/* Intent header actions
/* ***************************** */
.intent-header-actions-container {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 45px;
    padding-left: 12px;
    opacity: 1;
    // transform: translate3d(0, 20px, 0);
    transition: 0.25s all ease-in-out;
  }
  
  .panel-intent-content:hover .intent-header-actions-container-on-start {
    top: -19px !important;
    right: 12px !important;
  }
  
//   .panel-intent-content:hover .intent-header-actions-container {
//     top: -28px;
//     opacity: 1;
//     transform: translate3d(0, 0, 0);
//   }
  
  .intent-header-actions-wpr {
    background: #fff;
    height: 25px;
    border-radius: 14px;
    box-shadow: #001b4714 0 3px 8px;
    display: flex;
    padding: 3px 0px;
  }
  
  .intent-header-action-btn {
    cursor: pointer;
    border-left: solid 1px var(--gray-light-02);
    padding: 2px 8px;
    display: flex;
  
  }
  
  .intent-header-action-btn:first-child {
    border-left: unset;
  }
  
  .icon.webhook-enabled  img {
    filter: brightness(0) saturate(100%) invert(41%) sepia(79%) saturate(1263%) hue-rotate(121deg) brightness(101%) contrast(82%);
  }
  
  .icon img {
    filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%) hue-rotate(216deg) brightness(94%) contrast(91%);
  }
  .icon:hover {
    img {
      filter: brightness(0) saturate(100%) invert(39%) sepia(19%) saturate(1139%) hue-rotate(184deg) brightness(91%) contrast(85%);
    }
  }