<div class="intent-header-actions-container">
  <div class="intent-header-actions-wpr">
    
    <!-- ---------------------------------- -->
    <!-- show/hide intent  -->
    <!-- ---------------------------------- -->
    <div class="intent-header-action-btn icon"
      matTooltipClass="cds-mat-tooltip"
      [matTooltip]="displayConnector?('CDSCanvas.HideConnector' | translate):('CDSCanvas.ShowConnector' | translate)"
      matTooltipHideDelay="100"
      (click)="onAddActionFromConnectorMenu(typeOfmenu.SHOW_HIDE)">
      <mat-icon  *ngIf="displayConnector === true"class="icon" svgIcon="visibility" aria-hidden="true"></mat-icon>
      <mat-icon  *ngIf="displayConnector === false" class="icon" svgIcon="visibility_off" aria-hidden="true"></mat-icon>
      <!-- <img *ngIf="displayConnector === true" src="assets/images/icons/visibility.svg" alt="hide connector" />
      <img *ngIf="displayConnector === false" src="assets/images/icons/visibility_off.svg" alt="show connector" /> -->
    </div>

    <!-- ---------------------------------- -->
    <!-- Delete intent  -->
    <!-- ---------------------------------- -->
    <div class="intent-header-action-btn"
      matTooltipClass="cds-mat-tooltip"
      [matTooltip]="'CDSCanvas.DeleteConnector' | translate"
      matTooltipPosition="above"
      matTooltipHideDelay="100"
      (click)="onAddActionFromConnectorMenu(typeOfmenu.DELETE)">
      <mat-icon class="icon" svgIcon="bin" aria-hidden="true"></mat-icon>
      <!-- <img src="assets/images/icons/bin.svg" /> -->
    </div>
    <div class="intent-header-action-btn"
      matTooltipClass="cds-mat-tooltip"
      [matTooltip]="'CDSCanvas.LineText' | translate"
      matTooltipPosition="above"
      matTooltipHideDelay="100"
      (click)="onShowLineTextArea()">
      <mat-icon class="icon" svgIcon="line_text" aria-hidden="true"></mat-icon>
      <!-- <img src="assets/images/icons/line_text.svg" /> -->
    </div>
  </div>

  <div *ngIf="showLineTextarea">
    <cds-textarea id="value"
        class="line-text"
        [limitCharsText]="150"
        [text]="connector.label"
        [textLimitBtn]="false"
        [emojiPikerBtn]="false"
        [setAttributeBtn]="false"
        [minRow]="1" [maxRow]="1"
        [placeholder]="'CDSCanvas.Value' | translate"
        (blur)="onBlur($event)"
        >
    </cds-textarea>
  </div>
</div>
