<div class="intent-header-actions-container">

    <div class="intent-header-actions-wpr">
        <!-- ---------------------------------- -->
        <!-- Delete intent  -->
        <!-- ---------------------------------- -->
        <div 
            class="intent-header-action-btn icon"
            matTooltipClass="cds-mat-tooltip"
            matTooltip="Delete connector" 
            matTooltipPosition='above' 
            matTooltipHideDelay="100"
            (click)="onAddActionFromConnectorMenu()">
            <img src="assets/images/icons/bin.svg">
        </div>
    </div>
</div>
