<div class="intent-header-actions-container">
  <div class="intent-header-actions-wpr">
    <!-- ---------------------------------- -->
    <!-- Delete intent  -->
    <!-- ---------------------------------- -->
    <div class="intent-header-action-btn icon"
      matTooltipClass="cds-mat-tooltip"
      [matTooltip]="'CDSCanvas.DeleteConnector' | translate"
      matTooltipPosition="above"
      matTooltipHideDelay="100"
      (click)="onAddActionFromConnectorMenu(typeOfmenu.DELETE)">
      <img src="assets/images/icons/bin.svg" />
    </div>
    <div class="intent-header-action-btn icon"
      matTooltipClass="cds-mat-tooltip"
      [matTooltip]="'CDSCanvas.LineText' | translate"
      matTooltipPosition="above"
      matTooltipHideDelay="100"
      (click)="onShowLineTextArea()">
      <img src="assets/images/icons/line_text.svg" />
    </div>
  </div>

  <div *ngIf="showLineTextarea">
    <cds-textarea id="value"
        class="line-text"
        [limitCharsText]="150"
        [text]="connector.label"
        [textLimitBtn]="false"
        [emojiPikerBtn]="false"
        [setAttributeBtn]="false"
        [minRow]="1" [maxRow]="1"
        [placeholder]="'CDSCanvas.Value' | translate"
        (blur)="onBlur($event)"
        >
    </cds-textarea>
  </div>
</div>
