:host{
    $margin-left: 10px;
    $padding: 10px; 
    --panel-width: 480px;
}

.panel-intent-detail {
    // position: relative;
    display: block;
    width: var(--panel-width);
    min-width: 400px;
    height: 100%; //auto
    max-height: 100%;
    // border-radius: 16px;
    overflow: hidden;
    padding: 0;
    background-color: white;
    border-left: 1px solid var(--gray-light-02);
    // margin: 0 auto 0 auto; // nk
    inset: 0 0 0 200px;

    &.minimize {
        --panel-width: 480px;
    }

    &.maximize {
        --panel-width: 680px;
    }
}

.header-panel {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--blu-light-03);
    z-index: 2;

    display: flex;
    align-items: center;
    cds-action-description{
        width: 100%;
    }
}

.header-options-wrp{
    display: flex;
    padding: 10px;
    &:hover{
        cursor: pointer;
    }
}

.content-panel{
    // height: calc(100% - 73px); // nk
    // height: calc(100% - 100px); // nk
    // overflow: hidden; // nk
    overflow: hidden auto;
}

.panel-form { 
    height: 100%;
    min-height: 400px;
}

.card-buttons {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    margin: 0;
    outline: none;
    width: 380px;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    overflow: visible;
    z-index: 14;
    border-radius: 1em;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    &.active{
        display: block;
    }
}
  

.card-buttons-handle {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
    z-index: 1;
}

.block-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;


    .lock-icon {
        font-size: 40px;
        margin-bottom: 16px;
        color: #506493b0;
    }
}