<div class="container">

    <div size="4" class="cds-elements" mat-button>
        <!-- MOUSE -->
        <div class="cds-element" *ngIf="true" [satPopoverAnchor]="mouseTips"  (click)="mouseTips.toggle()" #divEvent>
            <div class="cds-button-element">
                <div class="cds-box-button">
                    <span class="box-img">
                        <span class="material-icons-outlined">mouse</span>
                    </span>
                    <!-- <span class="box-title">Event</span> -->
                </div>
            </div>
        </div>
    </div>

    <div size="4" class="cds-elements" mat-button>

        <!-- + -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.ZOOM_IN)" #div3>
            <div class="cds-button-element">
                <div class="cds-box-button">
                    <span class="box-img">
                        <span class="material-icons">add</span>
                    </span>
                    <!-- <span class="box-title">{{actionCategory.name}}</span> -->
                </div>
            </div>
        </div>


        <!-- - -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.ZOOM_OUT)" #div3>
            <div class="cds-button-element">
                <div class="cds-box-button">
                    <span class="box-img">
                        <span class="material-icons">remove</span>
                    </span>
                    <!-- <span class="box-title">{{actionCategory.name}}</span> -->
                </div>
            </div>
        </div>

    </div>

    <div size="4" class="cds-elements" mat-button>
        <!-- CENTER -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.CENTER)" #divEvent>
            <div class="cds-button-element">
                <div class="cds-box-button">
                    <span class="box-img">
                        <span class="material-icons">control_camera</span>
                    </span>
                    <!-- <span class="box-title">Event</span> -->
                </div>
            </div>
        </div>
    </div>


    <!-- undo/redo -->
    <div size="4" class="cds-elements" mat-button>

        <!-- undo -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.UNDO)" #div4>
            <div class="cds-button-element" [class.is_disabled]="!stateUndoRedo.undo">
                <div class="cds-box-button">
                    <span class="box-img">
                        <span class="material-icons">undo</span>
                    </span>
                </div>
            </div>
        </div>

        <!-- redo -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.REDO)" #div4>
            <div class="cds-button-element" [class.is_disabled]="!stateUndoRedo.redo">
                <div class="cds-box-button">
                    <span class="box-img">
                        <span class="material-icons">redo</span>
                    </span>
                </div>
            </div>
        </div>

    </div>

   

</div>


<sat-popover #mouseTips 
    id="mouseTips"
    horizontalAlign="center" 
    verticalAlign="above" 
    hasBackdrop 
    (backdropClicked)="mouseTips.close()"
    panelClass="mouse-trackpad-tips-panel"
    interactiveClose="false">
    <cds-mouse-tips
        (close)="mouseTips.close()">
    </cds-mouse-tips>
</sat-popover>
