<div class="container">

    <!-- OPTIONS (click)="onTogleAlphaConnectorsMenu() -->
    <div size="4" class="cds-elements">
        <!-- ALPHA COLOR CONNECTORS -->
        <div class="cds-button-element" *ngIf="true" [satPopoverAnchor]="alphaColorConnectors"  (click)="alphaColorConnectors.toggle()">
            <div class="cds-box-button">
                <span class="box-img">
            
                    <!-- <span *ngIf="alpha > 0; else hideIcon" class="material-icons-outlined">visibility</span> -->
                    <mat-icon *ngIf="alpha > 0; else hideIcon" class="icon" svgIcon="visibility" aria-hidden="true"></mat-icon>

                    <ng-template #hideIcon>
                        <!-- <span class="material-icons-outlined">visibility_off</span> -->
                        <mat-icon class="icon" svgIcon="visibility_off" aria-hidden="true"></mat-icon>
                    </ng-template>
                </span>
            </div>
        </div>
    </div>
    

    <div size="4" class="cds-elements" mat-button>
        <!-- MOUSE -->
        <div class="cds-element" *ngIf="true" [satPopoverAnchor]="mouseTips"  (click)="mouseTips.toggle()" #divEvent>
            <div class="cds-button-element">
                <div class="cds-box-button">
                    <span class="box-img">
                        <!-- <span class="material-icons-outlined">mouse</span> -->
                        <mat-icon class="icon" svgIcon="mouse" aria-hidden="true"></mat-icon>
                    </span>
                    <!-- <span class="box-title">Event</span> -->
                </div>
            </div>
        </div>
    </div>

    <div size="4" class="cds-elements" mat-button>
        <!-- + -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.ZOOM_IN)" #div3>
            <div class="cds-button-element">
                <div class="cds-box-button">
                    <span class="box-img">
                        <!-- <span class="material-icons">add</span> -->
                        <mat-icon class="icon" svgIcon="add" aria-hidden="true"></mat-icon>
                    </span>
                    <!-- <span class="box-title">{{actionCategory.name}}</span> -->
                </div>
            </div>
        </div>
        <!-- - -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.ZOOM_OUT)" #div3>
            <div class="cds-button-element">
                <div class="cds-box-button">
                    <span class="box-img">
                        <!-- <span class="material-icons">remove</span> -->
                        <mat-icon class="icon" svgIcon="remove" aria-hidden="true"></mat-icon>
                    </span>
                    <!-- <span class="box-title">{{actionCategory.name}}</span> -->
                </div>
            </div>
        </div>
    </div>

    <div size="4" class="cds-elements" mat-button>
        <!-- CENTER -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.CENTER)" #divEvent>
            <div class="cds-button-element">
                <div class="cds-box-button">
                    <span class="box-img">
                        <!-- <span class="material-icons">control_camera</span> -->
                        <mat-icon class="icon" svgIcon="control_camera" aria-hidden="true"></mat-icon>
                    </span>
                    <!-- <span class="box-title">Event</span> -->
                </div>
            </div>
        </div>
    </div>


    <!-- undo/redo -->
    <div size="4" class="cds-elements" mat-button>

        <!-- undo -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.UNDO)" #div4>
            <div class="cds-button-element" [class.is_disabled]="!stateUndoRedo.undo">
                <div class="cds-box-button">
                    <span class="box-img">
                        <!-- <span class="material-icons">undo</span> -->
                        <mat-icon class="icon" svgIcon="undo" aria-hidden="true"></mat-icon>
                    </span>
                </div>
            </div>
        </div>

        <!-- redo -->
        <div class="cds-element" (click)="onOptionClick(OPTIONS.REDO)" #div4>
            <div class="cds-button-element" [class.is_disabled]="!stateUndoRedo.redo">
                <div class="cds-box-button">
                    <span class="box-img">
                        <!-- <span class="material-icons">redo</span> -->
                        <mat-icon class="icon" svgIcon="redo" aria-hidden="true"></mat-icon>
                    </span>
                </div>
            </div>
        </div>

    </div>

   

</div>


<sat-popover #mouseTips 
    id="mouseTips"
    horizontalAlign="center" 
    verticalAlign="above" 
    hasBackdrop 
    (backdropClicked)="mouseTips.close()"
    panelClass="mouse-trackpad-tips-panel"
    interactiveClose="false">
    <cds-mouse-tips
        (close)="mouseTips.close()">
    </cds-mouse-tips>
</sat-popover>



<sat-popover #alphaColorConnectors
    id="alphaColorConnectors"
    horizontalAlign="center" 
    verticalAlign="above" 
    hasBackdrop 
    (backdropClicked)="alphaColorConnectors.close()"
    panelClass="alpha-color-connectors-panel"
    interactiveClose="false">
    <cds-change-alpha-color
        (changeAlphaConnectors)="onChangeAlphaConnectors($event)"
        (close)="alphaColorConnectors.close()">
    </cds-change-alpha-color>
</sat-popover>