.container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0px;
}

.cds-elements {
    padding: 4px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(19, 33, 68, 0.01) 0px 1px 3px 1px, rgba(19, 33, 68, 0.12) 0px 5px 8px -8px, rgba(19, 33, 68, 0.12) 0px 2px 4px -3px, rgba(19, 33, 68, 0.03) 0px 0px 0px 1px;
    overflow: hidden;
    transition: height 0.15s ease 0s;
    border: 2px solid var(--gray-02);
    display: flex;
    flex-direction: row;
}

.cds-button-element {
    animation: 0.1s ease-in-out 0s 1 normal both running;
    &.is_disabled {
        opacity: 0.2;
    }
}

.cds-box-button {
    transition: background-color 0.15s ease 0s;
    width: 35px;
    height: 35px;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cds-box-button:hover, 
.cds-box-button:focus {
    background-color: var(--gray-02);
}

.box-img {
    transition: opacity 0.15s ease 0s, background-color 0.15s ease 0s, color 0.15s ease 0s, transform 0.15s ease 0s;
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    background: transparent;
    user-select: none;
}

::ng-deep .mouse-trackpad-tips-panel {
    // position: relative;
    box-shadow: 0 0 20px 4px #9aa1b126, 0 4px 80px -8px #24282f40, 0 4px 4px -2px #5b5e6926;
    background: rgb(255,255,255);
    border-radius: 4px;
    margin: 10px;
    max-height: 80%;
    min-height: 370px;
}




.vertical-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 47px;
    border-radius: 8px;
    position: absolute;
    bottom: 55px;
  }
  
  .vertical-slider {
    appearance: none;
    width: 90px;
    height: 4px;
    transform: rotate(-90deg);
    transform-origin: center;
    margin: 0;
    background: #506493;
    border-radius: 2px;
  }
  
  .vertical-slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #d3d3d3;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);
  }
  
.vertical-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #506493;
    border-radius: 4px;
  }
  
  .vertical-slider::-moz-range-track {
    width: 100%;
    height: 4px;
    background: #506493;
    border-radius: 4px;
  }
  

  mat-icon {
    height: 100%;
    display: flex;
    align-items: center;
    ::ng-deep svg {
      fill: var(--blu);
    }
  }