@import "./src/assets/sass/animations.scss";


:host{
  --action-background: #{var(--action-item-background)};
  --action-no-featured-backgroud: #{var(--action-no-featured-item-background)};
  --intent-background: #{var(--intent-preview-background)};
  --intent-border-color: #{var(--intent-preview-borderColor)};
  --intent-header-background: transparent;
  --base-border-radius-preview: #{var(--border-radius-base-preview)};
  --base-padding-preview: #{var(--padding-base-preview)};
  --action-selected-color: #{var(--action-color-selected)};

  --add-action-btn-background: #{var(--add-action-btn-background-preview)};
  --add-action-btn-color: #{var(--add-action-btn-color-preview)};
  --add-action-btn-hover-color: #{var(--add-action-btn-hover-color-preview)};

  --base-color: #{var(--blu)};
  --startIntentMaxWith: 160px;

  --base-border-radius-base: #{var(--button-border-radius-base)};
}



#customDragPreview {
  display: block;
  position:absolute;
  pointer-events: none;
  user-select: none;
  opacity: 0.8;
  background-color: var(--drag-preview-background);
  max-width: 244px;
  width: 100%;
}


.action-element{
  width: 100%;
}


.panel-intent-content {
  transition: background-color 0.15s ease 0s;
  width: 264px;
  cursor: grab;
  position: relative;
  margin: 0px;
  background-color: var(--intent-background);
  padding: var(--base-padding-preview);
  border-radius: var(--base-border-radius-preview);
  outline: 1px solid var(--intent-border-color);
  &::before {
    display: block;
    border-radius: 10px;
    position: absolute;
    // inset: -3px;
    // border: 1px solid rgb(221, 212, 183);
    content: "";
    transition: box-shadow 0.15s ease 0s;
  }

  &.outline-border {
    outline: 2px solid #6c6859;
    border-radius: var(--base-border-radius-preview);
  }

  &.ripple-effect {
    animation-name: ripple_effect;
    animation-duration: 1s;
    animation-iteration-count: 1s;
    border-radius: var(--base-border-radius-preview);
  }

  &.isStart{
    background-color: unset;
    padding: 0;
    border-radius: unset;
    border: unset;
    max-width: var(--startIntentMaxWith);
    outline: unset;
  }


  .pic-header {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    width: auto;
    margin: 0px; //10px 0px;
    overflow-x: hidden;
    position: relative;
    // border: 2px solid rgb(255, 255, 255);
    padding: 0 0px 10px 0px;
    // background-color: rgb(235, 226, 198);
    background-color: var(--intent-header-background);
    overflow: hidden;
  }

  // --------------------------------
  // https://stackoverflow.com/questions/9476923/css3-animate-border-color

  .flashBorder {
    // border: 3px solid #fff;
    animation-name: flash_border;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 2s; //infinite;
    -webkit-animation-name: flash_border;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2s; //infinite;
    -moz-animation-name: flash_border;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 2s //infinite;
  }





  // .placeholder-block-header {
  //   border: 1px solid rgb(255, 255, 255);
  // }

  // .live-active-intent {
  //   // border: 3px solid red;
  //   -webkit-animation: blink-2 0.9s infinite both;
  //         animation: blink-2 0.9s infinite both;
  // }

  &.live-active-intent {
    // margin: 100px;
    // display: block;s
    // background: #cca92c;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 1s 2 forwards;
    // position: relative;
  }

  // .live-active-intent::before {
  //   // content: '';
  //   box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  //   animation: pulse 1s 2 forwards;
  //   animation-delay: 0.5s;
  //   // display: block;
  //   // position: absolute;
  //   // left: 0;
  //   // right: 0;
  //   // top: 0;
  //   // bottom: 0;
  //   // margin: auto;
  // }

  // .live-active-intent:hover {
  //   animation: none;
  // }


  .cds-start {
    transition: box-shadow .15s ease 0s, background-color .15s ease 0s;
    position: absolute;
    box-shadow: #00000052 0 -1px inset;
    background-color: #4b5052;
    border-radius: 22px;
    max-width: var(--startIntentMaxWith);
    right: 0;
    cursor: pointer;
    opacity: 1;

    .cds-intent-options {
      margin-right: 30px;
    }
  }

  .cds-start-content {
    margin-top: 0px;
    padding: 2px 0px;
    margin-right: 0;
    width: 30px;
    height: 43px;
    position: absolute;
    right: 20px;
    top: 13px;

    .title-label {
      display: none;
    }
  }

  .pic-header-title {
    border-radius: 5px;
    overflow-x: hidden;
    margin: auto 0;
  }

  // .pic-title-text:hover {
  //   /*  background: rgb(221, 212, 183); */
  // }

  .pic-title-text {
    transition: background 0.15s ease 0s;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    // cursor: text;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    color: rgb(108, 104, 89);
    display: inline-block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    pointer-events: auto;
  }

}






/* Actions list
/* ***************************** */
.actions-list-wpr {
  display: flex;
  flex-direction: column;
  // gap: 10px; // nk
  gap: 18px; // nk
  //min-height: 200px;
  //width: 200px;
  // border: 1px solid #ccc;
  //padding: 10px;
  padding-top: 0px;
}

.box-action {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 30px;
  border-radius: var(--base-border-radius-preview);
  border: 2px solid rgb(255, 255, 255);
  // padding: 0 10px 10px 10px;
  background-color: var(--action-background);
  &.isFirst{
    // height: 1px!important;
    display: none;
  }
}

/* Drag placeholder 
/* ******************************** */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .box-action:last-child {
//   border: none;
// }

.actions-list-wpr.cdk-drop-list-dragging .box-action:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.action-drag-placeholder {
  // background: #ccc;
  background: var(--drop-zone-background);
  // border: dotted 3px #999;
  border: dashed 1px var(----drop-zone-color-border);
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 8px;
  opacity: 0;
}

.cdk-action-placeholder {
  opacity: 1;
}

.hide-drag-action-palceholder {
  display: none;
}

.cdk-drag-placeholder {
  opacity: 1;
}

.cds-action-active {
  // border: 3px solid #0f172a !important;
  outline: 2px solid var(--action-selected-color) !important;
}

.cds-no-featured-action {
  background-color: var(--action-no-featured-backgroud);
}


.footer-intent {
  cursor: pointer;
  margin-bottom: -10px;
  min-height: 12px;
}

.last-action-intent {
  display: block;
  float: inline-end;
  // margin: 6px -12px 0 0;
  // padding: 0 24px 0 0;
  margin: 6px 0 0 0;
  padding: 0;
}
/* Btn add action
/* --------------------------------- */
.csd-open-action-menu-btn-wpr {
  // height: 32px;
  // bottom: -50px;
  text-align: center;
  position: absolute;
  display: block;
  bottom: -28px;
  left: 0px;
  right: 0px;
  
}

.footer-intent>.csd-open-action-menu-btn-wpr,
.add--action-placeholder .csd-open-action-menu-btn-wpr
{
  opacity: 0;
}

.footer-intent:hover>.csd-open-action-menu-btn-wpr,
.add--action-placeholder:hover .csd-open-action-menu-btn-wpr {
  opacity: 1;
  transform: translate3d(0, 00px, 0);
  transition: 0.25s all ease-in-out;
}


// .cds-last-action>.csd-open-action-menu-btn-wpr {
//   opacity: 0;
// }

// .cds-last-action:hover>.csd-open-action-menu-btn-wpr {
//   opacity: 1;
// }

.body-action {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  // background-color: #ffffff80; // nk
  // box-shadow: #0000000f 0 0 0 1px; // nk
  border-radius: 6px; // nk
}

// .cds-featured-action {
//   background-color: #e3e1f1;
// }

.header-action {
  position: relative;
  min-height: 54px;
  /* padding: 0px 10px; */
  padding: 0px 0px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  // flex-direction: column;
  min-height: 25px;
  // border-radius: 6px;
  // background-color: rgb(255 255 255 / 50%);
  // box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  &.isLast{
    display: none;
  }
}

.icon-action {
  transition: opacity .15s ease 0s;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 6px;
  align-self: start;
  color: #718497;
  opacity: .85;
  background: #6c6859;
}

.label-action {
  overflow-x: clip;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}


.tds_connectable {
  width: 30px;
  height: 30px;
  background-color: #ff4000;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.button-intent {
  display: block;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  outline: none;
  border: 0.1em dashed #d2d2d2;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
  height: auto;
  line-height: 32px;
  margin: 10px 5px 0;
  font-family: var(--font-family-poppins);
  padding: 10px;
  transition: all 0.1s;

  // min-width: 100px;
  &:hover {
    background-color: #d2d2d2;
    color: #333333;
  }
}



.button-intent-active {
  // background-color: #d2d2d2;
  // color: #333333;

  outline: 2px solid rgba(236, 182, 6, .6901960784) !important;

}


// .button-intent:hover svg {
//   fill: #333333;
// } 

.button-intent-active {
  background-color: #d2d2d2;
  color: #333333;
}

.intent--action {
  display: block;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  outline: none;
  border: 0.1em dashed #d2d2d2;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
  height: auto;
  line-height: 32px;
  margin: 10px 5px 0;
  font-family: var(--font-family-poppins);
  padding: 10px;
  transition: all 0.3s;
  width: 96px;
}

.actions-btn-active {
  background-color: #fff;
  color: #333333;
  border: 1px solid #fff !important;
}

.cds-action-title {
  position: absolute;
  width: 155px;
  margin-top: -57px;
  text-align: center;
  line-height: 15px;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  font-size: 10px;
  font-weight: 400;
}

.action-wpr {
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cds-action-icon-wpr {
  display: flex;
  margin-right: 10px;

  img {
    width: 18px;
    filter: brightness(0) saturate(100%) invert(97%) sepia(66%) saturate(6656%) hue-rotate(177deg) brightness(102%) contrast(98%);
  }
}

// .header__center {
//   font-size: 2rem;
//   display: grid;
//   grid-template-columns: 1fr max-content 1fr;
//   grid-column-gap: 1.2rem;
//   align-items: center;
//   margin-top: 24px;
//   margin-bottom: 0px;
//   padding-left: 12px;
//   padding-right: 12px;
// }

// .header__center::before,
// .header__center::after {
//   content: "";
//   display: block;
//   height: 1px;
//   background-color: currentColor;
// }


.cds-action-arrow {
  position: absolute;
  // display: flex;
  bottom: -15px
}

.cds-action-arrow>span {
  transform: rotate(-90deg);
  color: #d2e3fc;
}




.cds-add-action-btn {
  margin: 0px;
  padding: 0 10px;
  background: var(--add-action-btn-background);
  box-shadow: #001b4714 0 3px 8px;
  border-radius: var(--base-border-radius-base);
  color: var(--add-action-btn-color);
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 400;
  transition: all .3s;
  line-height: 20px;
  width: 100%;
  // outline: 2px solid var(--base-color) !important;
  // z-index: 2;
}

.cds-add-action-btn>span {
  font-size: 16px;
  color: var(--base-color);
}

.cds-add-action-btn:hover {
  opacity: 0.8;
  // color: var(--add-action-btn-hover-color)
}

cds-action-description.header-action ::ng-deep{
  .action-title{
    max-width: 100%
  }
}

cds-panel-intent-header.isStart ::ng-deep{
  input {
    color: white !important;
  }
}


//** FLOATING MENU - start**//
.cds-intent-options {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;

  .option {
    display: flex;
    cursor: pointer;

    &:hover {
      opacity: 0.85;
    }

    &[active=true] {
      img {
        filter: brightness(0) saturate(100%) invert(39%) sepia(19%) saturate(1139%) hue-rotate(184deg) brightness(91%) contrast(85%);
      }
    }
  }

  img {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(8%) saturate(403%) hue-rotate(225deg) brightness(117%) contrast(100%);
  }
}

//** FLOATING MENU - end**//




.add--action-placeholder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 30px;
  border-radius: 10px;
  border: 1px solid #6c6859;
  padding: 12px 6px;
  border-style: dashed;
  // background: rgba(62, 169, 245, 0.1);
  background: rgba(221, 228, 234, .8);
}

.add--action-placeholder-add-icon span {
  color: #6c6859;
  font-size: 30px;
}

.add--action-placeholder-text {
  font-weight: 400;
  color: #6c6859;
  font-size: 14px;
  text-align: center;
}

.add--action-placeholder:hover .add--action-placeholder-add-icon span {
  color: #3ea9f5;
}

.add--action-placeholder:hover .add--action-placeholder-text {
  color: #3ea9f5;
}

.add--action-placeholder:hover {
  border: 1px solid #3ea9f5;
  border-style: dashed;
}

.add--action-placeholder>.add-action-from-placeholder-btn-wpr {
  opacity: 0;
  position: absolute;
  top: 99px;
}

.add--action-placeholder:hover>.add-action-from-placeholder-btn-wpr {
  opacity: 1;
}