<div *ngIf="previewMode" class="cds-action-preview">

    <div class="action-row-left">
       
        <span class="web-request-action-method" *ngIf="action.method">
            {{action.method}}
        </span>

    </div>

    <div *ngIf="action.url" class="action-row-right">
        {{action.url}}
    </div>
    <div *ngIf="!action.url" class="action-row-right empty">
        {{'CDSCanvas.EnterRequestURL' | translate}}
    </div>

    <div class="previewContent">
        
        <div class="icon-action">
            <img src="assets/images/icons/if_condition.svg">
        </div>

        <label class="title-preview-label">{{'CDSCanvas.Success' | translate }}</label>
        
        <cds-connector class="connector-true"
            [idConnector] = "idConnectorTrue"
            [idConnection] = "idConnectionTrue"
            [isConnected] = "isConnectedTrue">
        </cds-connector>
    </div>

    <hr class="preview-divider">

    <div class="previewContent">
       <label class="title-preview-label">{{'CDSCanvas.Else' | translate }}</label>
        <cds-connector class="connector-false"
            [idConnector] = "idConnectorFalse"
            [idConnection] = "idConnectionFalse"
            [isConnected] = "isConnectedFalse">
        </cds-connector>
    </div>


</div>


<!-- Details -->
<div *ngIf="!previewMode" class="content-panel-intent-detail no-footer" #scrollMe id="scrollMe" >

    <div class="input-group cds-input-group">
        <cds-select id="method"
            [items]="methods"
            [bindLabelSelect]="'label'"
            [bindValueSelect]="'value'"
            [itemSelected]="action?.method"
            (onSelected)="onChangeMethodButton($event)">
        </cds-select>
        <cds-textarea id="url"
            class="text-editable-div"
            [text]="action.url" 
            [minRow]="1" [maxRow]="5"
            popoverVerticalAlign="above"
            [textLimitBtn]="false"
            [emojiPikerBtn]="false"
            [setAttributeBtn]="true"
            [autoResize]="true"
            [placeholder]="'CDSCanvas.EnterRequestURL' | translate"
            (blur)="onBlur($event)"
            (changeTextarea)="onChangeTextarea($event, 'url')">
        </cds-textarea>
    </div>

    <div class="cds-web-request-options no-footer">

        <mat-button-toggle-group [(ngModel)]="optionSelected" (change)="onChangeOption($event)">
            <mat-button-toggle value="header">Header</mat-button-toggle>
            <mat-button-toggle value="body">Body</mat-button-toggle>
            <mat-button-toggle value="settings">Settings</mat-button-toggle>
        </mat-button-toggle-group>

        <!-- <div class="add-response" (click)="onChangeParamsButton()">
            <span [ngClass]="{'cds-action-active': methodSelectedHeader}">Header</span>
        </div>
        <div class="add-response" (click)="onChangeParamsButton()">
            <span [ngClass]="{'cds-action-active': methodSelectedBody}">Body</span>
        </div> -->
        <!-- <div *ngIf="optionSelected === 'body'" class="cds-rigth">
            <button id="cds-community-btn" type="button" class="btn btn-primary pull-right cds-blue-button" (click)="onJsonFormatter()">format JSON </button>
        </div> -->
    </div>

    <div class="cds-web-request-row"  *ngIf="optionSelected === 'header'">
        <cds-attributes
            class="cds-attributes"
            [method]="typeMethodAttribute.INPUT"
            [attributes]="jsonHeader"
            [autocompleteOptions]="autocompleteHeaderOptions"
            (changeAttributes)="onChangeAttributes($event)">
        </cds-attributes>
    </div>
    
    <div class="cds-web-request-row" *ngIf="optionSelected === 'body'" [ngSwitch]="action?.bodyType ">

        <cds-radio-buttons
            [items]="bodyOptions"
            [rows]="1" [columns]="3"
            (changeButtonSelect)="onChangeButtonSelect($event)">
        </cds-radio-buttons>

        <cds-textarea id="body" *ngSwitchCase="'json'"
            [ngClass]="{'jsonError': !jsonIsValid}"
            class = "text-editable-div"
            [text]="body"
            [limitCharsText]="1000000"
            [emojiPikerBtn]="false"
            [setAttributeBtn]="true"
            [minRow]="5" [maxRow]="10"
            [readonly]="false"
            (blur)="onBlur($event)"
            (changeTextarea)="onChangeTextarea($event, 'body')">
        </cds-textarea>

        <div class="cds-web-request-row-body center" *ngSwitchCase="'none'">
            <span>{{'CDSCanvas.ThisRequestNoBody' | translate }}</span>
        </div>

        <cds-form-data *ngSwitchCase="'form-data'"
            [dataRows]="action?.formData"
            (onDataRowChanged)="onFormDataChanged($event)">
        </cds-form-data>

        <div class="cds-web-request-row-body center json-error-yes" *ngIf="action?.bodyType === 'body' && !jsonIsValid">
            <span>{{errorMessage}}</span>
        </div>



    </div>

    <div class="cds-web-request-row"  *ngIf="optionSelected === 'settings'">
       
        <div class="cds-web-request-row-setting">
            <div class="setting-left">
                <label class="title-label">{{'CDSCanvas.RequestTimeout' | translate}} (ms)</label>
                <label class="subtitle-label">{{'CDSCanvas.RequestTimeoutInfo' | translate }}</label>
            </div>
            <div class="setting-right">
                <cds-textarea id="timeout"
                    [ngClass]="{'jsonError': valueIsInvalid}"
                    class = "text-editable-div"
                    [text]="jsonSettings?.timeout"
                    [textLimitBtn]="false"
                    [emojiPikerBtn]="false"
                    [setAttributeBtn]="true"
                    [minRow]="1" [maxRow]="1"
                    (blur)="onBlur($event)"
                    (changeTextarea)="onChangeTextarea($event, 'setting')">
                </cds-textarea>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.AssignResultTo' | translate }}</label>
        <cds-textarea id="assignTo" 
            [textLimitBtn]="false" 
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true"
            [minRow]="1" [maxRow]="1" 
            [readonly]="true" 
            [text]="action.assignResultTo"
            (selectedAttribute)="onSelectedAttribute($event, 'assignResultTo')"
            (clearSelectedAttribute)="onSelectedAttribute($event, 'assignResultTo')">
        </cds-textarea>
    </div>

    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.AssignStatusTo' | translate }}</label>
        <cds-textarea id="assignTo" 
            [textLimitBtn]="false" 
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true"
            [minRow]="1" [maxRow]="1" 
            [readonly]="true" 
            [text]="action.assignStatusTo"
            (selectedAttribute)="onSelectedAttribute($event, 'assignStatusTo')"
            (clearSelectedAttribute)="onSelectedAttribute($event, 'assignStatusTo')">
        </cds-textarea>
    </div>


    <div class="field-box">
        <label class="title-label">{{'CDSCanvas.AssignErrorTo' | translate }}</label>
        <cds-textarea id="assignTo" 
            [textLimitBtn]="false"
            [emojiPikerBtn]="false" 
            [setAttributeBtn]="true"
            [minRow]="1" [maxRow]="1" 
            [readonly]="true" 
            [text]="action.assignErrorTo"
            (selectedAttribute)="onSelectedAttribute($event, 'assignErrorTo')"
            (clearSelectedAttribute)="onSelectedAttribute($event, 'assignErrorTo')">
        </cds-textarea>
    </div>


    <hr class="custom-divider">

    <div class="field-box">
        <div class="condition-container">
            <div class="icon-action">
                <img class="active-icon" src="assets/images/icons/if_condition.svg">
            </div>
            <span class="condition-text">{{'CDSCanvas.Success' | translate}}</span>
        </div>
        <cds-select id="text-condition" 
            [items]="listOfIntents" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'" 
            [itemSelected]="action?.trueIntent" 
            [placeholder]="'CDSCanvas.SelectABlock' | translate "
            [clearable]="true" 
            (onSelected)="onChangeBlockSelect($event, 'trueIntent')"
            (onReset)="onResetBlockSelect($event, 'trueIntent')">
        </cds-select>
        <!-- <cds-attributes 
            class="cds-attributes" 
            [attributes]="trueIntentAttributes"
            (changeAttributes)="onChangeAttributes($event, 'trueIntent')">
        </cds-attributes> -->
    </div>

    <div class="field-box">
        <div class="condition-container">
            <span class="condition-text">{{'CDSCanvas.Else' | translate | titlecase}}</span>
        </div>
        <cds-select id="text-condition" 
            [items]="listOfIntents" 
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'" 
            [itemSelected]="action?.falseIntent" 
            [placeholder]="'CDSCanvas.SelectABlock' | translate "
            [clearable]="true" 
            (onSelected)="onChangeBlockSelect($event, 'falseIntent')"
            (onReset)="onResetBlockSelect($event, 'falseIntent')">
        </cds-select>
        <!-- <cds-attributes 
            class="cds-attributes" 
            [attributes]="action.falseIntentAttributes"
            (changeAttributes)="onChangeAttributes($event, 'falseIntent')">
        </cds-attributes> -->
    </div>
    
</div>