@import "./src/assets/sass/cds/_variables.scss";


.previewContent{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  padding: 0px;

  .icon-action img{
    height: 16px;
    filter: brightness(0) saturate(100%) invert(42%) sepia(2%) saturate(2720%) hue-rotate(9deg) brightness(91%) contrast(81%);
  }

  .title-preview-label{
    color: #6c6859;
    font-size: 12px; 
    margin: 0px;
  }

}