@import "./src/assets/sass/cds/_variables.scss";

cds-textarea.text-editable-div {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}

::ng-deep .box-textarea {
    textarea {
        // line-height: 20px!important;
        font-size: 0.9em!important;
        // max-height: none!important;
    }
} 




.json-text {
    position: relative;
    padding: 0;
    margin-top: 20px;
    .button-controls {
        top:20px;
    }
}

.field-description {
    display: block;
    text-align: right;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.buttons-json-response {
    display: block;
    position: relative;
    width: 100%;
    height: 36px;
    margin-bottom: -20px;
    &.json-shown {
        width:fit-content;
        z-index: 1;
    }
    .text-condition {
        position: relative;
        display: flex;
        ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
            font-size: 12px;
            display:block!important;
            color: var(--blu);
        }
        ::ng-deep .ng-select .ng-select-container .ng-value-container {
            // justify-content: flex-end;
            margin-right: 10px;
            font-weight: 500;
        }
        ::ng-deep .ng-select .ng-select-container {
            // justify-content: flex-end;
            border: 0px solid var(--blu-light-02);
            box-shadow: none;
        }
        ::ng-deep .ng-select .ng-select-container:hover {
            box-shadow: none;
        }
        ::ng-deep .ng-value .ng-star-inserted {
            display:none!important;
        }
        ::ng-deep .ng-select .ng-select-container .ng-clear-wrapper {
            display:none!important;
        }
        ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option span.label-select {
            font-size: 12px!important;
        }
        ::ng-deep .ng-dropdown-panel .form-control-select .ng-star-inserted .ng-select-bottom {
            border: none;
        }
        ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
            display:none!important;
        }
    }

    .button-reply-add.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
        
        &:hover {
            background: var(--color-white-hex);
            border-color: var(--border-color);
        }
    }
    // ::ng-deep .select-item-wrp {
    //     justify-content: flex-end;
    // }

    // ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option span.label-select {
    //     font-size: 12px;
    // }

}

