<!-- *ngIf="!showJsonButton" -->
<div class="buttons-json-response">
    <div class="button-reply-add button-json single-btn-reply" 
    [class.disabled]="showJsonButton"
    (click)="!showJsonButton && $event.stopPropagation();onClickJsonButtons()">
        + {{'CDSCanvas.JsonButtons' | translate }}
    </div>
</div>


<div *ngIf="showJsonButton" class="buttons-json-response json-shown">
    <cds-select 
        class="text-condition" 
        [items]="listType" 
        [bindLabelSelect]="'name'"
        [bindValueSelect]="'value'" 
        [placeholder]="'CDSCanvas.Examples' | translate "
        [deleteButton]="false"
        [clearable]="false"
        [searchable]="false"
        (onSelected)="onChangeJsonButtonsType($event)"
        (onReset)="onResetJsonButtonsType($event)"
        [clearable]="true">
    </cds-select>
</div>


<div *ngIf="showJsonBody" class="json-text">
    
    <cds-textarea
        class = "text-editable-div"
        [text]="jsonBody"
        [placeholder]="jsonPlaceholder"
        [limitCharsText]="10000"
        [emojiPikerBtn]="false"
        [setAttributeBtn]="true"
        [minRow]="5" [maxRow]="10"
        [readonly]="false"
        (blur)="onBlurJsonTextarea($event)"
        (changeTextarea)="onChangeJsonTextarea($event)">
    </cds-textarea>
    <div class="button-controls">
        <div class="control-button delete" (click)="$event.stopPropagation(); onDeleteJsonButtons()">
            <em class="material-icons">delete</em>
        </div>
    </div>
</div>

<label *ngIf="showJsonBody" class="field-description more-info2">
    <a [href]="link.more_json_uttons.link" [target]='link.more_json_uttons.target'>{{ 'CDSCanvas.More' | translate }} </a>
    <span> on {{ "CDSCanvas.JSONButtons" | translate }}</span>
</label>