::-webkit-scrollbar {
    width: 0px;
}


.content {
    // max-height: calc(100vh - 220px);
    padding: 20px 0px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: auto;
}


.cds-web-request-options {
    margin: 10px 0px;
    display: flex;
    gap: 10px;
    position: relative;
    &.center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cds-rigth{
        // position: absolute;
        // right: 18px;
        // top: -6px;
        .btn{
            padding: 8px 12px;
            margin: 2px 10px;
        }
    }
}

.cds-web-request-row{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.input-group .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 0;
    display: flex;
    align-items: center;
}
.cds-input-group {
    // margin: 10px 10px;
    display: flex;
    flex-wrap: nowrap;
    input {
        border: 0;
        background: #fff;
        margin: 6px 0px 0;
        height: 36px;
        width: 100%;
        padding: 0 10px;
        border-radius: 0px 4px 4px 0px;
    }

}

// .form-control-select {
//     width: 120px!important;
// }
// .form-control-select ::ng-deep .ng-select-container { 
//     cursor: default;
//     display: flex;
//     outline: none;
//     overflow: hidden;
//     position: relative;
//     width: 100%;
//     border-radius: 4px 0px 0px 4px;
//     background: #f2f2f2;
//     font-weight: bold;
// }
// .form-control-select.ng-select-focused ::ng-deep .ng-select-container { 
//     border-color: transparent;
//     border: 1;
//     box-shadow: none;
// }
// .ng-select {
//     position: relative;
//     display: block;
//     box-sizing: border-box;
//     width: 120px;
// }

.cds-web-request-row-body {
    display: flex;
    font-size: 0.8em;
    line-height: normal;
    padding: 0px;
    margin: 0px;
    span{
        line-height: normal;
        min-height: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &.center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.json-error-yes {
        transition-delay: 0s;
        transition: all 0.3s;
        padding: 10px;
        margin: 10px 0px;
        color: rgb(209, 47, 25);
        background: rgb(251, 227, 228);
        border-color: rgb(251, 194, 196);
    } 
}


.cds-web-request-row-setting{
    display: flex;
    align-items: flex-end;
    .setting-left{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .setting-right{
        width: 30%;
    }

}


/** CSS textarea */
.text-editor-wrapper {
    font-size: var(--font-size-base);
    position: relative;
    width: 100%;
    //height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.field-box {
    display: flex;
    flex-direction: column;
    // width: 70%;
    // min-width: 90px;
    // gap: 10px;
}

.material-icons {
    color: var(--icon-color);
    font-size: 18px;
}

cds-select#method ::ng-deep{
    // padding: 6px 0;
    min-width:120px;
    .ng-select-container{
        height: 37px;
        border-radius: var(--input-border-radius-base) 0px 0px var(--input-border-radius-base);
    }
}

// cds-textarea#assignTo ::ng-deep {
//     display: flex;
//     textarea {
//         border: 1px solid rgb(118, 118, 118) !important;
//         resize: none !important; 
//         padding: 8px 20px !important;
//         height: 25px !important;
//         min-height: 25px !important;
//     }
// }

cds-textarea#url ::ng-deep {
    display: flex;
    width: 100%;
    // padding: 6px 0px 0px 0;
    .focus-out {
        position: relative;
        textarea{
            height: 23px !important;
        }
    }
    .focus-in {
        position: absolute;
        z-index: 2;
        width: 100%;
        textarea{
            min-height: 23px !important;
        }
    }

    textarea {
        border-radius: 0px var(--input-border-radius-base) var(--input-border-radius-base) 0px;
        resize: none !important; 
        padding: 6px 16px !important;

        // height: 23px !important;
        min-height: 23px !important;
    }
}

cds-textarea#body.jsonError ::ng-deep,
cds-textarea#timeout.jsonError ::ng-deep {
    textarea {
        border: 1px solid red !important;
    }
}

/** button TOOGLE */
mat-button-toggle-group ::ng-deep{
    border: unset;
    border-radius: 0px;
}

mat-button-toggle{
    background-color: transparent;
    border: none;
    color: var(--blu-light-02);
    border-bottom: 2px solid transparent;

    &.mat-button-toggle-checked{
        border-color: var(--blu);
        color: var(--blu);
        font-weight: 400;

    }
    
    &.mat-button-toggle+mat-button-toggle.mat-button-toggle{
        border-left: none;
    }

    &::ng-deep .mat-button-toggle-label-content {
        line-height: 36px;
    }

    
}

