@import "./src/assets/sass/cds/_variables.scss";

// .action-controls {
//     opacity: 0;
//     pointer-events: none;
//     position: absolute;
//     right: calc(100% - 10px);
//     // top: -5px;
//     top: -4px;
//     transition: opacity 0.2s, -webkit-transform 0.2s;
//     transition: opacity 0.2s, transform 0.2s;
//     transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
//     z-index: 1;
// }

.action-control-btns-wpr {
    z-index: 10;
    // background-color: #ebe2c6; 
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 27, 71, 0.08) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    border-radius: 14px;
    height: 25px;
    // gap: 8px;
}

.action-control-btn:first-child {
    border-left: unset;
}
.action-control-btn {
    cursor: pointer;
    border-left: solid 1px var(--gray-light-02);
    padding: 2px 8px;
    display: flex;
    height: 20px
  
}

.icon img {
    filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(0%) hue-rotate(216deg) brightness(94%) contrast(91%);
}
.icon:hover {
    img {
        filter: brightness(0) saturate(100%) invert(39%) sepia(19%) saturate(1139%) hue-rotate(184deg) brightness(91%) contrast(85%);
    }
}