<div class="action-controls">
    <div class="action-control-btns-wpr">

        <div class="action-control-btn icon" 
            matTooltipClass="cds-mat-tooltip" 
            [matTooltip]="'CDSCanvas.DeleteAction' | translate" 
            #tooltip="matTooltip"
            matTooltipPosition='above' 
            matTooltipHideDelay="100"
            (click)="onClickAction('delete', $event)">
            <img src="assets/images/icons/bin.svg">
        </div>

        <div class="action-control-btn icon"
            matTooltipClass="cds-mat-tooltip" 
            [matTooltip]="'CDSCanvas.CopyAction' | translate " 
            #tooltip="matTooltip"
            matTooltipPosition='above' 
            matTooltipHideDelay="100"
            (click)="onClickAction('copy', $event)">
            <img src="assets/images/icons/copy.svg">
        </div>

        <div class="action-control-btn icon" 
            matTooltipClass="cds-mat-tooltip" 
            [matTooltip]="'CDSCanvas.EditAction' | translate" 
            #tooltip="matTooltip"
            matTooltipPosition='above' 
            matTooltipHideDelay="100"
            (click)="onClickAction('edit', $event)">
            <img src="assets/images/icons/edit.svg">
        </div>

    </div>
</div>
