/* You can add global styles to this file, and also import other style files */



.isLast{
    .connector {
        right: -32px;
        top: calc(50% - 10px);
    }
    .connector .point-connector {
        width: 10px;
        height: 10px;
        border: 0; 
    }
    .connector .point-connector-empty {
        border: 1px solid;
        border-color: #d2d2d2;
        background: #ffffff;
        width: 10px;
        height: 10px;
    }
    .connector .point-connector-empty::before {
        border: 0px;
    }
    .connector .point-connector::before {
        border: 0px;
    }
}