.previewContent#iterationAction {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: 4px 0px;
    flex-wrap: wrap;
}

.title-preview-label > span{
    font-weight: 600;
}
.action-row-right.empty{
    font-style: italic;
    color: var(--brown) !important;
}



