@import "./src/assets/sass/cds/_variables.scss";
@import "./src/assets/sass/cds/styles.scss";

cds-header {
  height: $header-height;
  font-family: $mdb-font-family-poppins;
  line-height: $header-height;
  font-size: 21px;
  color: $blu;
  background: white;
  border-bottom: 1px solid $gray-light-02;
  display: flex;
}

.chatboat-dashboard {
  position: relative;
  display: flex;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: calc(100vh - $header-height);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: $mdb-font-family-poppins;
  color: $blu;
  font-size: 16px;
}

cds-rules,
cds-chatbot-details,
cds-fulfillment {
    width: 100%;
    overflow-y: scroll;
}

.is_opened_sidebar {
  .cds-sidebar {
    width: 175px;
  }
}

cds-sidebar {
  background-color: $blu-light-01;
  border-right: 1px solid $gray-light-02;
  width: $sidebar-base-width;
  transition: 0.3s;
  display: flex;
  min-width: $sidebar-base-width;
  overflow-y: hidden;
}

.cds-content {
  display: flex;
  width: calc(100% - $sidebar-base-width);
  overflow: hidden;
}

.cds-generic-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 100%;

  &#action-detail{
    z-index: 10
  }
  &#button-configuration{
    z-index: 11
  }
  &#widget-preview{
    z-index: 12
  }
}