@import "./src/assets/sass/cds/_variables.scss";
@import "./src/assets/sass/cds/styles.scss";

cds-header {
  height: $header-height;
  font-family: var(--font-family-poppins);
  line-height: $header-height;
  font-size: 21px;
  color: $blu;
  background: white;
  border-bottom: 1px solid $gray-light-02;
  display: flex;
}

.chatboat-dashboard {
  position: relative;
  display: flex;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: calc(100vh - $header-height);
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: var(--font-family-poppins);
  color: $blu;
  font-size: 16px;
}

cds-changelog{
  position: absolute;
  top: 5px;
  z-index: 13;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
}

cds-rules,
cds-chatbot-details,
cds-fulfillment,
cds-globals,
cds-support {
    width: 100%;
    overflow-y: scroll;
}

.is_opened_sidebar {
  .cds-sidebar {
    width: 175px;
  }
}

cds-sidebar {
  background-color: $blu-light-04;
  border-right: 1px solid $gray-light-02;
  width: $sidebar-base-width;
  transition: 0.3s;
  display: flex;
  min-width: $sidebar-base-width;
  overflow-y: hidden;
}

.cds-content {
  display: flex;
  width: calc(100% - $sidebar-base-width);
  overflow: hidden;
}

.cds-generic-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 100%;

  &#action-detail{
    z-index: 10
  }
  &#button-configuration{
    z-index: 11
  }
  &#widget-preview{
    z-index: 12
  }
}


.loader{
  display: block;
  z-index: 99;
  // margin-top: 40vh;
  // margin-left: auto;
  // margin-right: auto;
  width: 100px;
  height: 100px;
  border: 3px solid $tiledesk-base-color;
  border-radius: 50%;

  animation: spin 7s ease-in-out;
  animation-iteration-count: infinite;
  transition-duration: 0.1s;
}

.loader:hover {
  scale: 0.95;
  /*Loader on hover effect*/
}

.loader:active {
  scale: 1.2;
  /*Loader on click effect*/
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-bottom: solid 3px transparent;
    border-top: solid 3px transparent;
  }
  50% {
    transform: rotate(1800deg);
    border: 3px solid white;
    border-left: solid 3px transparent;
    border-right: solid 3px transparent;
  }
  100% {
    /*Reversed spinning*/
    transform: rotate(0deg);
    border-bottom: solid 3px transparent;
    border-top: solid 3px transparent;
  }
}