cds-textarea#key ::ng-deep,
cds-textarea#value ::ng-deep {
    width: calc(50% - 2px);
    .editor-utils {
        display: flex;
        align-items: center;
        gap: 5px;
        position: absolute;
        bottom: -8px;
        right: 4px;
        z-index: 1;
    }
    textarea {
        max-height: 41px;
        cursor: default;
        display: flex;
        position: relative;
        border-radius: var(--base-radius) 0 0 var(--base-radius);
        font-weight: 500;
        font-size: 14px;
        margin: 3px 0px 3px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0!important;
        resize: none!important;
    }      
}