<div class="form-data-wrp">
    
    <div class="form-data-row-header">
        <div class="disable-section"></div>
        <div class="key">Key</div>
        <div class="value">Value</div>
    </div>

    <div class="form-data-row" *ngFor="let dataRow of dataRows; let i=index">
        <!-- Enabled/Disabled checkbox -->
        <section class="disable-section">
            <mat-checkbox 
                [checked]="dataRow?.enabled"
                (change)="onCheckboxChanged($event, i)">
            </mat-checkbox>
        </section>

        <!-- Name + type ('Text'/'file') -->
        <div class="input-group cds-input-group">
            <cds-textarea id="key"
                class="text-editable-div"
                [text]="dataRow?.name" 
                [minRow]="1" [maxRow]="5"
                popoverVerticalAlign="above"
                [textLimitBtn]="false"
                [emojiPikerBtn]="false"
                [setAttributeBtn]="true"
                [autoResize]="true"
                [placeholder]="'key'"
                (blur)="onBlur($event)"
                (changeTextarea)="onChangeTextarea($event, 'name', i)">
            </cds-textarea>
            <cds-select id="method"
                [items]="methods"
                [bindLabelSelect]="'label'"
                [bindValueSelect]="'value'"
                [itemSelected]="dataRow?.type"
                (onSelected)="onChangeMethodButton($event, i)">
            </cds-select>
        </div>

        <!-- Value -->
        <cds-textarea id="value"
            class="text-editable-div"
            [text]="dataRow?.value" 
            [minRow]="1" [maxRow]="5"
            popoverVerticalAlign="above"
            [textLimitBtn]="false"
            [emojiPikerBtn]="false"
            [setAttributeBtn]="true"
            [autoResize]="true"
            [placeholder]="'value'"
            (blur)="onBlur($event)"
            (changeTextarea)="onChangeTextarea($event, 'value', i)">
        </cds-textarea>

    </div>
</div>
