@import "./src/assets/sass/cds/_variables.scss";

.section-title {
    margin-left: 15px;
    color: #9aa0a6;
}

.token-btn-wpr{
    // margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-wrp{
    position: relative;
    width: 400px;
}

input[type="text"] {
    // min-width: 307px !important;
    height: 36px;
    font-size: 14px;
    width: 100%;
    // margin-bottom: 10px;
    appearance: none;
    -webkit-appearance: none;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 8px;
    background-color: $color-withe-hex;
    border: solid 1px $blu-light-02;
}

.csd-chatbot-dtls-input {
    max-width: 400px;
    padding: 0 30px 0 8px !important;
    text-overflow: ellipsis;
}

.material-icons.copy{
    position: absolute;
    top: 0;
    bottom: 0;
    color: $blu;
    right: 0px;
    display: flex;
    align-items: center;

    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }

    &:active{
        animation: changeColor 5s 1;
    }
}

@keyframes changeColor {
    0%      {color:#8ab4f8;}
    25%     {color:green;}
    75%     {color:green;}
    100%    {color:#8ab4f8;}
}


.chatbot-developer-wpr,
.row {
    margin-right: 0px;
    margin-left: 8px;
}
