<div class="rules-container content" id="scrollMe">
    <div class="new-rules-box" [style.display]="showWelcome? 'none': 'block'">
        <div class="button-wrp">
            <button id="cds-new-rules-button" type="button" class="btn btn-primary cds-blue-button" (click)="addNew()"> 
                <span class="material-icons icon plus-icon">add</span>
                {{'Add' | translate}}
            </button>
        </div>
    </div>

    <div class="welcome_message_wrp" *ngIf="showWelcome">
        <cds-splash-screen *ngIf=!intentSelected
            [text]="MEDIA['RULES'].text | translate"
            [videoUrl]="MEDIA['RULES'].src"
            [videoDescription]="MEDIA['RULES'].description | translate"
            [section]="'cds-sb-rules'"
            (onClickBtn)="addNew($event)" > 
        </cds-splash-screen>
    </div>

    <cds-rules-add *ngIf="addClicked"
        [listOfIntents]="listOfIntents"
        [selectedChatbot]="selectedChatbot"
        (onRuleAdded)="onRuleAdded($event)"
        (onBack)="onBack($event)">
    </cds-rules-add>

    <cds-rules-list
        [listOfIntents]="listOfIntents"
        [listOfRules]="listOfRules"
        [selectedChatbot]="selectedChatbot"
        (onRuleDeleted)="onRuleDeleted($event)">
    </cds-rules-list>

      
</div>

