<div class="content-panel-intent-detail no-foter">

    <div class="field-box">
        <label class="title-label">Assign to:</label>
        <cds-textarea id="assignTo"
            [textLimitBtn]="false"
            [emojiPikerBtn]="false"
            [setAttributeBtn]="true"
            [minRow]="1" [maxRow]="1"
            [readonly]="true"
            [text]="action.assignTo"
            (selectedAttribute)="onSelectedAttribute($event)">
        </cds-textarea>
    </div>

    
    <div class="field-box">
        <label class="title-label">Value:</label>
        <cds-select id="selectOperand"
            [items]="listOfFunctions"
            [bindLabelSelect]="'name'"
            [bindValueSelect]="'value'"
            [placeholder]="'CDSCanvas.ApplyAFunctionToValue' | translate"
            [clearable]="true"
            [itemSelected]="action.functionName"
            (onSelected)="onSelectedFunction($event)">
        </cds-select>
    </div>

</div>
