@import "./src/assets/sass/cds/_variables.scss";


.previewMode{
    &.buttons-response{
        padding: 0px 0px 0px 0px;
        margin: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

    }

}

/* ./ Preview mode 
/* ****************************** */



/** box-textarea **/
